!read adm/title.phtml 3\
\
$wims_name_config

!default seq_Title=$wims_name_sequence
!default seq_open=no

!form reply
 <fieldset class="property_fields blockcenter">
   <legend>$wims_name_config</legend>
   <div class="field box">
    <strong>$name_config_status</strong>
!set wims_ref_class=wims_formradio
!formradio seq_open list yes,no prompt $wims_name_yes,$wims_name_no
   </div>
   <div class="field box">
    <strong>$name_config_reverse</strong>
!set wims_ref_class=wims_formradio
!formradio seq_reverse list yes,no prompt $wims_name_yes,$wims_name_no
  <input type="hidden" name="job" value="config">
   </div>
   <div class="field box">
     <label for="seq_Title">$name_config_generic</label>
     <input size="60" name="seq_Title" id="seq_Title" value="$seq_Title">
   </div>
   <div class="field box">
    <label for="seq_description">$wims_name_Description</label>
    <textarea wrap name="seq_description" id="seq_description" cols="60" rows="5">$seq_description</textarea>
   </div>
   <div class="wimscenter wimsform">
     <input type="submit" name="seq_set" value="$wims_name_tosave">
$ $
     <input type="submit" name="seq_abandon" value="$wims_name_giveup" class="wims_secondary_button">
   </div>
 </fieldset>
!formend

!reset seq_set,seq_Title,seq_description, seq_open, seq_reverse
