!read adm/css.phtml
!if $(module_title_$moduclass_lang)!=$empty
  !set module_title=$(module_title_$moduclass_lang)
!endif
!read adm/class/classname.phtml $wims_classname\
$wims_institutionname
!if $job=addseq and $jquery_defined!=no
  !read js/external/tinymce.phtml .iEdit
!endif
!header1
!if $job!=addseq
  !read adm/title.phtml 1\
$classname\
$module_title
!endif

!!if link notin $job
!headmenu
!!endif

!if $error!=$empty
  <div class="wims_msg alert">
    <strong>$wims_name_Error:</strong>
    !read msg.phtml $error
  </div>
  !tail
  !exit
!endif

!if $wims_user=supervisor
  !set wims_menu_items=!append line config,1,cmd=new&job=config\
to $wims_menu_items
  !set wims_menu_items=!append line add_sequence,1,cmd=renew&job=addseq&seq=$[$seq_cnt+1]\
to $wims_menu_items
  !if $job!=show
    !set wims_menu_items=!append line back2,1,cmd=new&job=show\
to $wims_menu_items
  !endif
  !if $wims_sequence>0
    !set wims_menu_items=!append line back2,1,cmd=new&job=show&seq=$wims_sequence\
to $wims_menu_items
  !endif
!endif

!read $job.phtml

!tail
