!! +exec+ +var+ +string+
tit:embraced
type:$type_both
syntax:!embraced ``opword string''
mean:executes an operation ``opword'' in each substring of ``string'' enclosed in a pair \
  of curly braces.\
  <p>\
  The curly braces in ``string'' can be nested, but the execution runs from outmost pair \
  to innermost pair.\
  </p><p>\
  Available ``opword'':\
  </p><ul>\
  <li>``randitem''. Random item in every embraced text.</li>\
  <li>``randrow''. Random row in every embraced text.</li>\
  <li>``linkedranditem''. Random item in every embraced text such that\
    for each level of curly braces, the position of the choosen item is the same. </li>\
  <li>``extract''. Extracts the first (outmost) embraced text.</li>\
  <li>``delete''. Deletes all embraced contents (encluding the curly braces).</li>\
  </ul>
