!! +exec+ +file+
tit:fileappend
type:$type_exec
alias:appendfile
syntax:!fileappend ``fname content''
mean:Append ``content'' to file ``fname''. ``fname'' is a file residing in directory of the module, \
  under the subdirectory ``writable''. <br> A new line will be added at the end of the ``content''.\
  <p>\
  Special case: if the file name starts with ``getfile/'', the file is written to the getfile \
  subdirectory of the session. This file is then accessible via the command\
  </p>\
  <pre>!href cmd=getfile&amp;special_parm=fname_without_getfile_prefix</pre>\
  or a complete url\
<pre>&#36;wims_ref_name?session=&#36;session&+cmd=getfile&+special_parm=fname_without_getfile_prefix</pre>
