!! +exec+ +loop+ +jump+
tit:for
type:$type_exec
syntax:!for ``var'' = ``start'' to ``end'' [step ``st'' ]\
 $ !for ``var'' from ``start'' to ``end'' [step ``st'' ]\
 $ !for ``var'' in ``list''<br>\
  ... (multi-line content)<br>\
 !next
mean:For loop. In the first two forms, ``var'' goes from ``start'' to ``end'', with optional step ``st''.\
  <br>In the last form, ``var'' takes successively items in the list\
  ``list''. ``list'' is a list of items separated by commas. <br>\
  The command <pre>!break</pre>\
  within the for loop breaks it. ``continue'' is not yet implemented in this version. <br>\
  It is recommended that the variable name ``var'' be added to the\
  <span class="tt">!next </span> line. This has no effect for the time being, but may be\
  used in future versions of wims.
