!! +exec+ +html+
tit:formselect
type:$type_exec
alias:htmlselect
syntax:!formselect ``name'' from ``n1'' to ``n2'' prompt ``promptlist''\
!formselect ``name'' list ``selectlist'' prompt ``promptlist''
mean:Creates a select menu under a previously defined html form. <br>\
  This command speeds up the creation of select menus, as well as simplifies\
  the source files (limited to MAX_MENU_ITEMS). In the parameters, ``name'' defines the name field of the menu, \
  and the values of the menu are either integers going from ``n1'' to ``n2'' (in the first syntax),\
  or items in the list ``selectlist''. <br>\
  The optional parameter ``promptlist'' can be used to generate user prompts for each items\
  in the list. If ``promptlist'' is empty or is shorter than ``selectlist'', the undefined prompts\
  will be replaced by the value. If it is longer, the rest will be ignored.\
  <br>\
  The default of the menu will be the current value of the variable ``&#36;name''. <br>\
  The variable ``&#36;wims_formselect_switch'' may be used to set switches (for example by letting\
  <span class="tt">wims_formselect_switch=multiple</span>, the selection will be multiple.
