!! +exec+ +html+
!goto end
tit:formcheckbox
type:$type_exec
alias:htmlcheckbox
syntax:!formcheckbox ``name'' from ``n1'' to ``n2'' prompt ``promptlist''\
!formcheckbox ``name'' list ``selectlist'' prompt ``promptlist''

mean:Creates a checkbox list menu under a previously defined html form. <br>\
  This command speeds up the creation of checkboxed menus (limited to MAX_MENU_ITEMS), as well as simplifies\
  the source files. In the parameters, ``name'' defines the name field of the menu, \
  and the values of the menu are either integers going from ``n1'' to ``n2'' (in the first syntax),\
  or items in the list ``selectlist''. <br>\
  The optional parameter ``promptlist'' can be used to generate user prompts for each items in the list.\
  If ``promptlist'' is empty or is shorter than ``selectlist'', the undefined prompts\
  will be replaced by the value. If it is longer, the rest will be ignored.\
  <br>\
  An ``id'' is created automatically, except if the variable\
  ``wims_ref_id'' is specified just before. If the variable\
  ``wims_html_mode'' has a value as ``div'', ``li'', ``td'', the different items of\
  the html form will be in the corresponding html environmment. If the\
  variable ``wims_ref_class'' is non empty, the class of this html environment is the value \
  of this variable. The default of the menu will be the current value of the variable\
  ``&#36;name''. <br>\
  The variables ``wims_ref_id'' and ``wims_html_mode'' are reinitialized after the html form.
sample:see below

:end
<tr>
  <td><code>!formcheckbox varCHK1 from 1 to 3 prompt txt1,txt2,txt3</code></td>
  <td>
    !formcheckbox varCHK1 from 1 to 3 prompt txt1,txt2,txt3
  </td>
</tr><tr>
  <td><code>!formcheckbox varCHK2 list a,b,c prompt txtA,txtB,txtC</code></td>
  <td>
    !formcheckbox varCHK2 list a,b,c prompt txtA,txtB,txtC
  </td>
</tr><tr>
  <td><code>&lt;ol&gt;<br>!set wims_html_mode=li
  <br>!formcheckbox varCHK3 list apple,pear prompt &amp;#x1f34e;,&amp;#x1f350;
  <br>&lt;/ol&gt;<br>
  &lt;ul&gt;<br>!set wims_html_mode=li
  <br>!formcheckbox varCHK4 list apple,pear prompt &amp;#x1f34e;,&amp;#x1f350;
  <br>&lt;/ul&gt;</code></td>
  <td>
    <ol>
    !set wims_html_mode=li
    !formcheckbox varCHK3 list apple,pear prompt &#x1f34e;,&#x1f350;
    </ol>
    <ul>
    !set wims_html_mode=li
    !formcheckbox varCHK4 list apple,pear prompt &#x1f34e;,&#x1f350;
    </ul>
  </td>
</tr>
