!! +exec+ +score+ +subst+ +var+ +adm+
tit:getscorelevel
type:$type_both; $type_adm

syntax:!getscorelevel ``[class=qclass]'' ``[user=quser]'' ``[sheet=qsheet]'' ``[work=qwork]''
mean:if the required points are 10* N, the minimal score of the N best scores of an exercise (0 if less than N tries with score).\
  <ul><li>Default value for class is ``wims_class''.</li> \
  <li>Default value for user is ``wims_user''.</li> \
  <li>If no sheet id is specified, each line represents a sheet.</li> \
  <li>If no work id is specified, each word (of each line) represents an exercise.</li> \
  </ul> \
  The command can be used in non administrative module if no user and no class is specified.
