!! +exec+ +var+ +adm+ +adm+
tit:getscore
type:$type_both, $type_adm
syntax:!getscore ``[class=qclass]'' ``[user=quser]'' ``[sheet=qsheet]'' ``[work=qwork]''
mean:gather cumulative user score of an exercise (between 0 and score require of the exercise).\
  <ul><li>Default value for class is ``wims_class''.</li> \
  <li>Default value for user is ``wims_user''.</li> \
  <li>If no sheet id is specified, each line represents a sheet.</li>\
  <li>If no work id is specified, each word (of each line) represents an exercise.</li>\
  </ul>\
  The command can be used in non administrative module if no user and no class is specified.
