!! +exec+ +jump+
tit:if
type:$type_exec
syntax:!if ``string1 relation string2''<br>\
$    ... (multi-line content)<br>\
$   [!else]<br>\
$   ... (multi-line content)<br>\
$ !endif
mean:Conditional branching: execute the multi-line content between ``!if'' line and ``!endif'' line \
  (or between ``!if'' line and ``!else'' line if ``!else'' is present) \
  if ``relation'' is verified, and the potential lines between ``!else'' line and ``!endif'' line \
  if  ``relation'' is not verified.\
  The leading and trailing spaces of ``string1'' and ``string2'' \
  will be stripped before making comparisons.
