!! +exec+ +jump+
tit:ifval
type:$type_exec
syntax:!ifval ``string1 relation string2''<br>\
  ... (multi-line content)<br>\
 $ !endif
mean:Same as $(ref1)cmdlist_if_$(ref2)cmdlist_if_">if</a>, but ``='' (``==''), ``!='' compares the\
  numerical values of ``string1'' and ``string2'' rather than the strings themselves.
