!! +exec+ +ins+
tit:insmath
type:$type_pexec
syntax:!insmath ``formula''
mean:According to the complicatedness of ``formula'', the server will either render it \
  as beautifully as possible using html tags, or translate ``formula'' into TeX source then\
  call TeX to compile and finally transform the TeX result into a picture. The latter\
  is inserted into the page (at the place of the command). <br>\
  If the user browser knows mathml, then the ``formula'' is simply translated into mathml \
  and sent to the browser. What is done is the following:\
  <ul><li>replace .. by ,\
 </li><li> If there is no \ or { , apply rawmath if it is asked;\
</li><li>\
If there is no \ or { , apply texmath if there is some computer matrix [1,2;4,5] or if\
    there is a word as "sqrt int integrate sum prod product Int Sum Prod conj abs"\
    or if there is some / in the formula.\
  </li><li>\
  send it to instex (gifs) or to mathml or do nothing more according to ...\
   </li></ul>
