!! +exec+ +ins+ +var+
tit:instexstatic
type:$type_pexec
alias:instexst, staticinstex, stinstex
syntax:!instexstatic ``gifname texsource''
mean:This command is obsolete, and will be dropped in future versions.\
  Use $(ref1)cmdlist_instex_&+cmd_choose=all$(ref2)cmdlist_instex_">!instex</a> instead.

!exit

  $lst_mean This is similar to
  $(ref1)cmdlist_instex_&+cmd_choose=all$(ref2)cmdlist_instex_">!instex</a>,
  to the difference that no variable substitution is performed on
  ``texsource'', and that the name of the gif file
  ``gifname'' shoule be given (together with the extension
  ``.gif''). ``gifname'' should be the name of a file in
  the module's home directory. <br>
  Wims will produce the gif file if it does not exist, or if the file
  containing the command is newer than the gif file. No TeX is called in the
  subsequent requests, thus greatly improving performance. <br>
  When ``instexstatic'' is used as a variable command, it returns
  the tag string ``&lt;IMG SRC=...>'', which can be inserted
  elsewhere in the document.
  <p>
  <span class="wims_warning">Important</span>.
  Since version 0.11.5, ``gifname'' is optional, and
  <span class="tt">!instex</span> will automatically use static insertion whenever there is
  no real variable substitution in ``texsource''. Therefore
  <span class="tt">!instexstatic</span> is no longuer really necessary, and is provided only
  for backward compatibility. so <span class="wims_warning">avoid using
  it!</span> Use <span class="tt">!instex</span> instead.
  </p>
