!! +exec+ +ins+
tit:instex
type:$type_pexec
syntax:!instex ``texsource''
mean:The server program will call TeX to process the (plain) TeX source ``texsource'' \
 (after variable substitution), translate the result into a picture, and\
  insert it into the page (at the place of the command). <br>\
  A tip: avoid using substituted variables in ``texsource''\
  whenever possible. In this case WIMS will use static instex, improving\
  performance dramatically over dynamic instex. <br>\
  The font color of the inserted text can be controled either by the variable\
  ``instex_color'', or by a <span class="tt">\special{color=...}</span> string\
  in the ``texsource''.
