!! +var+ +exec+ +string+
tit:lookup
type:$type_both
syntax:!lookup ``defname'' in ``fname''
mean:Returns the definition of word ``defname'' in the file ``fname'' which must be\
  a dictionary file in the same syntax as for the program <span class="tt">translator</span>\
  (not necessarily sorted).\
  <br>\
  ``fname'' may be either in the module directory (in this case the\
  module directory need not be specified), or in the directory bases.
