!! +exec+ +var+
tit:mailurl
type:$type_both
syntax:!mailurl ``address name ...''
mean:Creates a javascript-crypted email interface that is difficult\
  for spammer-robot to decrypt.\
  <p>\
  The first word of the first line in the parameter should be the email address.\
  <br>\
  The rest of the first line is the recepient name (default to email address).\
  <br>\
  The second line and up is the mail subject.\
  </p><p>\
  This command calls, in the order of priority, one of the following files:\
  </p>\
  <ol>\
  <li>"mailurl.proc" in the module directory.</li>\
  <li>"mailurl.proc" in the current theme.</li>\
  <li>"scripts/mailurl.proc".</li>\
  </ol>\
  This allows site managers and authors to define different address encryption methods.\
  <br>\
  Mail addresses are not encrypted when the user is within a virtual class.\
  <br>\
  This command collapses some variables beginning with "mailurl_".
