!! +exec+ +var+ +string+
tit:mathsubst
type:$type_both
alias:mathsubstit, mathsubstitute
syntax:!mathsubst ``name''=``val'' in ``expr''
mean:Manipulation of mathematical expressions: substitute variable ``name'' by ``val'' in ``expr''. <br>\
  No regular expression is allowed in ``name''. <br>\
  See also the commands\
  $(ref1)cmdlist_evalsubst_&+cmd_choose=all$(ref2)cmdlist_evalsubst_">!evalsubst</a>,\
  $(ref1)cmdlist_replace_&+cmd_choose=all$(ref2)cmdlist_replace_">!replace</a>.
