!! +exec+ +var+ +string+
!goto end
tit:mathmlmath
type:$type_both
alias:math2mathml
syntax:!mathmlmath ``expr''
mean:Translate the raw mathematical expression ``expr'', into a form which can be best \
  possibly rendered via mathml tags. The transformations\
  are the same as in htmlmath command and the result is in html if mathml is not available.\
  If the expression is not a "machine-understandable mathematical expression",\
  there is no garanty on the result (today and in the future !).\
  <ul><li>\
  All digits or + or - following a ^ or _ are considered as in exponent/subscript;\
  expression with ( ) following a ^ or _ are  considered as in exponent/subscript;\
  parentheseses are removed (if no sign before) except in case of exponent and only digits.\
  </li><li>\
   Get rid of 1*.. ..*1. example: in 1 * x, x/1, the 1 is removed.\
  </li><li>\
  Replace scientific notation (for example) 35E-05 by 10 power and add multiplication sign. Remove the + or 0 useless.\
  </li><li>\
   Replace some names as greek letters by their equivalents.\
  </li><li>\
   Remove * or replace by multiplication sign.\
  </li><li>\
   Replace <=, >=, ->, =>, <=> by their html/mathml equivalents if possible.\
  </li></ul>

sample:see below
:end
<tr>
  <td><code>!mathmlmath 1*x+3*y = 35E-05</code></td>
  <td>
    !mathmlmath 1*x+3*y = 35E-05
  </td>
</tr>
<tr>
  <td><code>!mathmlmath 2x, 2*x</code></td>
  <td>
    !mathmlmath 2x, 2*x
  </td>
</tr>
<tr>
  <td><code>!mathmlmath x2, x_2, x^2</code></td>
  <td>
    !mathmlmath x2, x_2, x^2
  </td>
</tr>
