!! +exec+ +var+ +vardef+
tit:module
type:$type_both
syntax:!module ``defname'' ``modname''
mean:Returns the definition for ``defname'' of the module ``modname''.\
 The most common use of this command is to get the title of a module \
  (``defname'' is then <span class="tt">title</span>). <br>\
  The INDEX file of the module ``modname'' will be parsed to look\
  for the definition of ``defname''.
