!! +exec+ +html+ +variable+
tit:pedia
type:$type_both
alias:encyclopedia, encyclo
syntax:!pedia ``keyword'', ``name''
mean:Creates a hypertext link pointing to an online encyclopedia.\
  ``keyword'' will be the name under which the reference is looked for, \
  and should be a phrase with one or several words separated by space.\
  Examples: ``finite field'' or ``linear transformation''.\
  <br>\
  ``name'' is the name of the link (i.e. what people see in their page, and can click on).\
  <p>\
  Actually wims use\
  <a href="www.wikipedia.org">Wikipedia</a>\
  as the standard reference encyclopedia.\
  </p>
