!! +var+ +random+
tit:randint
type:$type_var
syntax:!randint ``n1'', ``n2''\
!randint ``n1'', ``n2'' repeat ``i''
mean:Returns a random integer between ``n1'' and ``n2'' (inclusive). <br>\
  Substitution and evaluation are done on ``n1'' and ``n2'' before applying random. <br>\
  If ``n2'' is missing, returns random integer between $(m_pm)1 and ``n1'' (inclusive). <br>\
  If both ``n1'' and ``n2'' are missing, returns 0.\
  <br>\
  You can also type <span class="tt">!randint ``n1, n2'' repeat ``i''</span> to repeatedly generate\
  ``i'' random integers.
