!! +var+ +random+
tit:random
type:$type_var
alias:randdouble, randfloat
syntax:!random ``n1'', ``n2''
mean:Returns a random real number between ``n1'' and ``n2''. <br>\
  Substitution and evaluation are done on ``n1'' and ``n2'' before applying random. <br>\
  If ``n2'' is missing, returns random number between 0 and ``n1''. <br>\
  If both ``n1'' and ``n2'' are missing, returns 0.<br>\
  You can also type <span class="tt">!random ``n1'',``n2'' repeat ``i''</span> to repeatedly generate\
  ``i'' random numbers.
