!! +exec+ +var+ +string+
tit:singlespace
type:$type_both
syntax:!singlespace ``string''
mean:Returns ``string'' with all space characters (space, tab, newline) replaced by `` '', \
  and multiple occurrences of space characters collapsed into single one. <br>\
  Leading and ending spaces are not removed. You can use this command in conjunction with\
  $(ref1)cmdlist_trim_$(ref2)cmdlist_trim_">trim</a> if you want also to\
  remove leading and ending spaces. <br>\
  This command is especially useful for comparisons between multi-word strings.
