!! +exec+ +var+ +string+
!goto end
tit:sort
type:$type_both
syntax:!sort [nocase] [reverse] [numeric] ``type'' [of] ``string''
mean:Sort ``string''. The ``type'' of the sort may be ``char'', ``word'', ``list''\
  (equivalently ``item'') or ``line''. <br>\
  After this command is executed, the sort order is stored in the variable\
  ``wims_sort_order'' (as a list). This can therefore be used\
  for relational sorting, in conjunction with commands\
  $(ref1)cmdlist_item_&+cmd_choose=all$(ref2)cmdlist_item_">!item</a>,\
  $(ref1)cmdlist_line_&+cmd_choose=all$(ref2)cmdlist_line_">!line</a>,\
  $(ref1)cmdlist_word_&+cmd_choose=all$(ref2)cmdlist_word_">!word</a> or\
  $(ref1)cmdlist_char_&+cmd_choose=all$(ref2)cmdlist_char_">!char</a>.
sample:see below
:end
<tr>
  <td><code>!sort list 0,4,2</code></td>
  <td>
    !sort list 0,4,2
  </td>
</tr><tr>
<td><code>!sort reverse list 0,4,2</code></td>
  <td>
    !sort reverse list 0,4,2
  </td>
</tr>
<tr>
  <td><code>!sort list 10,4,2</code></td>
  <td>
    !sort list 10,4,2
  </td>
</tr>
<tr>
  <td><code>!sort numeric list 10,4,2</code></td>
  <td>
    !sort numeric list 10,4,2
  </td>
</tr>
