<!--begin of $wims_theme/htmlheader.phtml-->
<meta charset="$wims_main_font">
<title>$module_title2</title>
<meta name="GENERATOR" content="wims [$module_language]">
<meta name="description" content="$module_description $wims_site_description">
<meta name="keywords" content="$wims_site_keywords, $module_domain, $module_keywords">
<meta name="Author" content="$module_author">

<!-- uniformize browser specific styles to a default. -->
<link rel="stylesheet" href="scripts/js/external/normalize.min.css">

$wims_CSS

<!-- Styles for printing -->
<link rel="stylesheet" media="print" href="html/themes/_css/print.css">

<style>

:root {
  --wims_bgcolor: $wims_bgcolor;
  --wims_link_color: $wims_link_color;
  --wims_vlink_color: $wims_vlink_color;
  --wims_hlink_color: $wims_hlink_color;
  --wims_ref_menucolor: $wims_ref_menucolor;
  --wims_ref_bgcolor: $wims_ref_bgcolor;
  --wims_ref_button_color: $wims_ref_button_color;
  --wims_ref_button_bgcolor: $wims_ref_button_bgcolor;
}

body.main_body {
  /*default background-color */
  background-color: #f5f5f5;
  background-color: $wims_bgcolor;
  $wims_bodyimg
  $wims_special_font
}

a {color:$wims_link_color;}
a:visited {color:$wims_vlink_color;}
a:hover, a:focus {color:$wims_hlink_color;}

.menuitem a{
  color: $wims_ref_menucolor;
}

.wimsmanager a, .wimstail, .wimstail a, .wimsmenu {
  color:$wims_ref_menucolor;
  background-color: $wims_ref_bgcolor;
}

/*Help Links color */
body.main_body .wims_button_help, a.wims_button_help{
  color:$wims_ref_button_help_bgcolor;
}

/*Buttons color */
.wims_button, .wims_button a, input[type="button"], input[type="submit"] {
  color:$wims_ref_button_bgcolor;border-color:$wims_ref_button_bgcolor;
}

#wimstopbox,#wimsmenubox,#wimsmenumodubox, .wims_title_seq {
  background-color:$wims_ref_bgcolor; color: $wims_ref_menucolor;}
.container h4, #menu_pendant,#menu_html{
  background-color:$wims_ref_bgcolor;	color:$wims_ref_button_color;}
#menu_avant,#menu_apres, .infobulle{
  background-color:$wims_ref_button_bgcolor; color:$wims_ref_button_color;}

table.wimstable th, table.wimstable caption{
  background-color: $wims_ref_bgcolor; color:$wims_ref_menucolor;}
.wimsmenu .wimstable, table.wimstable th a, table.wimstable caption a,.wimsmenu a{
  color: $wims_ref_menucolor;}
table.wimstable caption a.wims_button, table.wimstable th a.wims_button{
  background-color: $wims_ref_button_bgcolor;color: $wims_ref_button_color;}

/*.legend {background-color: $wims_ref_bgcolor;color:$wims_ref_menucolor;}*/

.wims_color1 {
   background-color: $wims_ref_bgcolor;
   color:$wims_ref_menucolor;
}
.wims_color2 {
  background-color:$wims_ref_button_bgcolor;
  color:$wims_ref_button_color;
}
.wims_color3 {
  background-color:$wims_ref_button_help_bgcolor;
  color:$wims_ref_button_help_color;
}

$class_actcolor_css
</style>

<!--end $wims_theme/htmlheader.phtml-->
