<!-- begin of $wims_theme/user.phtml -->

!! Class participant page theme.
!nocache
!if $module!=home
 !exit
!endif
!!initialisation
!set home_theme=yes
!set percents=!getscorepercent
!set class_homepage=!getdef class_homepage in wimshome/log/classes/$wims_class/.def
!set etest=!record 0 of wimshome/log/classes/$wims_class/.parmreg/$wims_user.exam
!set n_=!wordcnt $etest

!if / isin $class_homepage and _tool notin $wims_session
 !set deffile=wimshome/log/classes/$wims_class/doc/$class_homepage.def
 !set t_=!getdef titb in $deffile
 !if $t_=$empty or $n_>=4
  !goto normal
 !endif
 !read ./userhome.phtml
 !goto end
!endif

:normal
!read classlogo.phtml
!if $class_logo!=$empty
<img src="$class_logo" alt="logo" style="border:0px">.
!endif


!endif
<div class="wimscenter">
<span style="font-weight:bold;font-size:large;">$wims_classname</span>
<br>
!if $wims_superclass=$empty or $wims_superclass=$wims_class
  $wims_institutionname
!else
  <span class="wims_classes_direct_portal">
   !href module=adm/class/classes&type=authparticipant&class=$wims_superclass&auth_user=$wims_user_ext $wims_institutionname
  </span>
  !if / isin $class_parent and $class_type=1
    !set pname=!defof class_description in wimshome/log/classes/$class_parent/.def
  /
 <span class="wims_classes_direct_class">
  !href module=adm/class/classes&type=authparticipant&class=$class_parent&auth_user=$wims_user_ext $pname
 </span>
 !endif
!endif
</div>
<br style="clear:both;"></div>
<div class="wimsbody">

!if _tool isin $wims_session
 !read ./tools.phtml
 !goto end
!endif
!set supmail=!mailurl $wims_supervisormail $wims_name_mail
!set supmail=!replace internal <a by <a class="mail" in $supmail
!if $n_>=4
  !read themes/_widgets/examsession.phtml $etest
  !if $shortout!=$empty
    !goto end
  !endif
!endif
$U_greet
<span class="small">
!if $class_type isin 234
 !href module=adm/class/usermanage&job=userprop $wims_name_account
 &nbsp;
!endif
!href target=wims_help module=help/main&chapter=3 $wims_name_whelp
</span>

!if & isin $newmsgcnt or $newmsgcnt>0
 <p class="wims_msg info">
 !href module=adm/forum/mboard $U_newmsg
 </p>
!endif

!if $wims_supconnectshowed=yes and $wims_supervisorconnected!=$empty
 <p class="wims_connected">$U_supconnected</p>
!endif

!read themes/_widgets/motd.phtml

!if $class_type>=2
 !read ./subclasses.phtml
 !set is_interclass=yes
!endif

!set seq_cnt=!record 0 of wimshome/log/classes/$wims_class/seq/.sequences
!set seq_cnt=!line 1 of $seq_cnt
!set seq_open=!defof sequence_open in wimshome/log/classes/$wims_class/seq/.def

!if $seq_open=yes and $seq_cnt>0
 <div class="wims_user_myscore">
 !href module=adm/class/userscore $wims_name_myscore
</div>
 !read themes/_widgets/sequence.phtml
  !goto endbar
!endif
!!define variable $dcnt
!read themes/$wims_theme/_widgets/userdoc.phtml
!!define variable dpcnt
!read themes/$wims_theme/_widgets/userdocp.phtml
!!define variable $n
!read themes/$wims_theme/_widgets/usersheet.phtml
!!define variable $m
!read themes/$wims_theme/_widgets/userexam.phtml
!!define variable $v
!read themes/$wims_theme/_widgets/uservote.phtml
!!define variable $fwcnt
!read themes/_widgets/user_varfreework.phtml
!ifval $dcnt+$dpcnt+$n+$m+$v+$fwcnt=0
 !if $is_interclass!=yes
 $U_nosheet
 !endif
!else
 !if $is_interclass!=yes
 !!$U_assign
 <div class="wims_user_myscore">
 !href module=adm/class/userscore $wims_name_myscore
</div>
 !endif
!endif

:endbar
<table class="wims_table" style="width:90%">
<tr>
<td style="text-align:left">
!href module=adm/class/classes&type=participant $wims_name_U_oclass
<br>
!href cmd=close&module=home $wims_name_visitor

!read themes/_widgets/extlink.phtml
</td>
<td style="text-align:center">
!if $exist_cdt=yes
  !href module=adm/class/cdt $wims_name_cdt
  &nbsp; / &nbsp;
!endif
!href module=adm/forum/mboard $wims_name_forum
<br>
!mailurl $wims_supervisormail $wims_name_mail
</td>
<td style="text-align:right">
!href module=adm/light&phtml=useropts.phtml.$lang $wims_name_pref
<br>
!href module=adm/class/passwd $wims_name_passwd
</td>
</tr>
</table>
<p style="text-align:center"><small>WIMS-$wims_version@$httpd_HTTP_HOST</small></p>
:end
!if $wims_user=supervisor
 <div class="wimscenter">
 !href $ $SU_Bhome
 </div>
!endif
</div>
</body>
</html>
<!-- end of $wims_theme/user.phtml -->

