!set hh=!trim $hint
!if $hh=$empty or $givehint<1
  $name_warning_hint  <div class="wimscenter">
  !set wims_ref_class=wims_button
  !href cmd=resume $wims_name_resume
  </div>
  !exit
!endif

<b>$wims_name_Hint.</b> $hint
<div class="wimscenter">
!set wims_ref_class=wims_button
!href cmd=resume $wims_name_resume
</div>

