<b>$name_problem</b>.

!read $deffile present

<a id="infogot"></a>
!if $gotcnt>0
  <div class="dialog_answer">
  <ul class="wims_nopuce">
  !for i_=1 to $gotcnt
    !set l_=!item $i_ of $gotlist
    !set l_=!line 3 of $(parm$l_)
    <li>$l_</li>
  !next i_
  </ul>
  </div>
!endif
