

<div class="wims_content">
  <p>$name_intro:</p>
  !form reply
     <input type="hidden" name="job" value="config">
     <fieldset class="property_fields halfwidth blockcenter">
     <legend>$wims_name_config</legend>
     <div class="field box">
        <label for="cf_title">$wims_name_title</label><br>
        <input size="60" name="cf_title" value="$cf_title" id="cf_title">
     </div>
     <div class="field box">
        <label for="cf_description">$wims_name_Description</label>
        <textarea class="wrap" name="cf_description" cols="60" rows="5" id="cf_description">$cf_description</textarea>
    </div>
    <div class="field box">
  <label for="cf_link">$name_link </label>
  <input size="60" name="cf_link" value="$cdt_link" id="cf_link">
    </div>
    <div class="field box">
     <label for="cf_reversedate">$name_reversedate</label>
     !set wims_ref_class=wims_formradio
     !formradio cf_reversedate list 1,0 prompt $wims_name_yes,$wims_name_no
    </div>
    <div class="field box">
        <label for="cf_showyear">$name_showyear</label>
        !set wims_ref_class=wims_formradio
        !formradio cf_showyear list 1,0 prompt $wims_name_yes,$wims_name_no
    </div>
    <div class="field box">
        <label for="cf_hide">$name_hide</label>
        !set wims_ref_class=wims_formradio
        !formradio cf_hide list yes,no prompt $wims_name_yes,$wims_name_no
    </div>
    <div class="field box">
      <p class="wimscenter">
        !href cmd=renew&job=logfile $name_see_logfile
      </p>
    </div>
  </fieldset>
  <div class="wimscenter">
    <input type="submit" name="cf_set" value="$wims_name_tosave">
    <input type="submit" name="cf_abandon" value="$wims_name_giveup" class="wims_secondary_button">
  </div>
  !formend
</div>
