!! nomore in use (to be certified)

<div class="wims_content">
  !if $cdt_description!=$empty
    <p>$cdt_description</p>
  !endif

  <hr style="width:40%;">

  !if $error!=$empty
    <div class="wims_msg alert">
      !read lang/msg.phtml.$moduclass_lang
    </div>
  !endif

  !read proc/searchform.phtml
</div>

