!read adm/class/classname.phtml $wims_classname\
$wims_institutionname

!read adm/title.phtml 3\
$classname

<div class="wimscenter" "style="font-size:large; font-weight:bold;">
 $name_worktodo
!if $jour_begin!=$jour_end
  $name_between <span class="wims_emph">
    !read date.phtml $jour_begin,notime
  </span>
  $name_and <span class="wims_emph">
    !read date.phtml $jour_end,notime
  </span>
!else
  $name_for
  <span class="wims_emph">
    !read date.phtml $jour_begin,notime
  </span>
!endif
</div>

!if $nbligne=0
  <p>$name_nowork.</p>
  !exit
!endif

 $table_header
 $table_hdtr
  <th>$name_for</th>
!if no isin $cdt_supervise
   <th>$name_discipline</th>
!endif
  <th>$name_work</th><th>$name_giventhe</th>
 </tr>
!for i=1 to $nbligne
  $table_tr
  !let don=!line $i of $list
  !distribute item $don into todo,date,dir,matiere
  !let m_filedir=$wims_ref_name?session=$wims_session&cmd=getfile&special_parm=cdt/$dir
  !read wimshome/log/classes/$dir/cdt/def/$date
  !let no=!positionof item $todo in $date_todo
   <td>
    !read date.phtml $todo,notime $dateoption
   </td>
  !if no isin $cdt_supervise
    <td>$matiere</td>
  !endif
   <td valign="top">
    !read wimshome/log/classes/$dir/cdt/def/$date todo$no
   </td>
   <td>
    !read date.phtml $date,notime $dateoption
   </td>
  </tr>
!next i
$table_end
