

 <b>近似文字.</b> (名称: <span class="tt">atext</span>)<br>
 这是一个文字输入, 用于与标准答案比较,
但是只比较文字的主要内容(指西文):
 例如大小写、单复数、以及字母的重音号均不区分, 冠词也被忽略.

!read help/anstype.fr/syno.phtml synonym

!read help/anstype/syno.phtml badonly
