<b>化学分子式</b> (名称 : <span class="tt">chemformula</span>)
如果此分子式没有排成合适的次序 (碳, 氢, 然后是按字母次序排列的其它元素)
只能算部分正确. 例如正确的答案应如 C7H4Cl2O2.

变量 <span class="tt">reply</span>i 的第一行包含了回答的内容,
然后再把此回答格式化成以下形式
<pre>C,7
H,4
Cl,2
O,2
</pre>
当不计元素顺序时分子式正确, 变量 <span class="tt">sc_reply</span>i 取值 0.5.

