

 <b>化学方程式.</b>
 (名称: <span class="tt">chemeq</span>)<br>
这是一个文本输入, 以与给出的化学方程式比较, 其句法由分析器 <i>chemeq</i> 定义.
正确答案是一个(平衡的)化学方程式, 也可以在分号后面再给出一个(可能有的)
非平衡化学方程式.
 <p>
与范例的系数成比例的回答都判为正确. 成分的次序没有关系,
而且句法中包含许多变化, 分数系数也是允许的.
例:
 <ul>
 <li><b>2H2 + O2 -> 2H2O; H2 + O2 -> H2O</b> 是水的化合方程式,
其中也给出了一个不平衡的范式.
 </li>
  </ul>

