

 <b>用已给对象填充的回答栏.</b>
 (名称: <span class="tt wims_code_words">clickfill</span> 及 <span class="tt wims_code_words">dragfill</span>)
 <br>
从一个已给的(文字、公式或图像的)表里选取对象,
通过鼠标点击或拖动把它放到回答栏里面,
而这个回答栏通常被嵌在陈述的中间.
 <p>
标准答案通常是一个矩阵, 第一行是正确的答案, 第二行则是错误的答案.
</p><p>
正确的回答可以是包含几个项的表. 这时填充栏的长度(即可接受的项数)应该大于1.
</p><p>
多重正确答案可以用字符 '<span class="tt wims_code_words">|</span>' 分隔放在第一行里.
如果第一行是一个未定义的变量, 那么答案可以被分析.
</p><p>
用户的回答栏最好使用 \embed{}, 它的输入大小的区段的形式为
<span class="tt wims_code_words">HxVxL</span>, 其中 H 和 V 分别是一个情形的水平与竖直大小(以像素为单位),
L 是回答栏的长度.
</p><p>
在一个练习里可以有几个点击填充(clickfill)或拖拉填充(dragfill)的回答,
但它们必须有相同的大小与类型(全是点击或全是拖拉), 而对象是混合的.
</p><p>
点击填充与拖拉填充有相似的用户界面(都能被点击或拖动).
主要区别是: 点击填充时一个对象可以用几次, 而拖拉填充时一个对象至多只能用一次.
</p><p>在默认情形, 内容居中置放. 可以利用选项 <span class="tt wims_code_words">align=left</span> 或 <span class="tt wims_code_words">align=right</span>
(<span class="tt wims_code_words">{option= align=left}</span>) 使其居左或居右对齐.
</p><p>
如果使用选项 <span class="tt wims_code_words">noorder</span>, 在分析答案时可以不考虑对象的次序.
这适用于"按性质分类"的情形.
</p><p>
选项 <span class="tt wims_code_words">transparent</span> 使得填充区域成为透明的
(特别适用于方法 <span class="tt wims_code_words">imagefill</span>).
</p>
 这是以DynAPI为基础的, 可能在有的浏览器里不能正常工作.

