

 <b>对象的一一对应.</b>
 (名称: <span class="tt">correspond</span>)
 <br>
用户会看到一个表, 两边列出相同个数的项, 但对应关系被打乱了.
用户应该点击这些项进行重排, 直至得到正确的对应关系.
 <p>
标准答案是两行的矩阵. 用分号 `;' 分隔两行, 第一行在左边,
第二行在右边.
左边允许同一个项重复出现,
 右边不行.
</p><p>
每一项可以包含文字、图形(HTML格式)以及数学公式(使用 <span class="tt">\(...)</span>).
</p><p>
用户的回答栏最好使用 \embed{}, 它的输入大小的区段的形式为
<span class="tt">VxHLxHR</span>, 其中 V 是每项的竖直大小, HL, HR 分别是左右两列的水平大小.
例如<br>
<span class="tt">\embed{reply1,200 x 100 x 100}</span>
</p><p>
在默认情形, 不是全对的回答都得 0 分.
如果你在回答的可选 "option" 区段填入 <span class="tt">split</span>,
那么就按照答对的比例给分.
</p><p>
 这是以DynAPI为基础的, 可能在有的浏览器里不能正常工作.
</p>
