 <b>数值方程.</b> (名称: <span class="tt">equation</span>)<br>
 对变量赋值然后计算方程是否成立, 变量在作者指定的范围里取值,
 比较精度也由作者确定.
回答 <span class="tt">a = 0</span> 与回答 <span class="tt">a</span> 认为相同.
如果设置了选项
 <span class="tt">eqsign=yes</span>, 则必须写成 <span class="tt"> a = 0</span>.
