 <b>键盘输入 (区分大小写).</b>
(名称 : <span class="tt">keyboard</span>)
<br>对于各种不同文字的键盘可以设置 :
德文 (de),
英文 (en),
西班牙文 (es),
法文 (fr),
希腊文 (el),
意大利文 (it),
波兰文 (pl),
俄文 (ru),
斯洛文尼亚文 (si),
英语国际音标 (en_ipa).
对应选项为 <span class="tt">keyboard=it</span>.
也可以使用 html 的编码输入, 例如
<pre>option=keyboard=[&#913; &#914; &#915; &#916; &#917;;\
&#918; &#919; &#952; &#921; &#922;;\
 &#945; &#946; &#947; &#948; &#949; &#950; &#951; &#920; &#953; &#954;]
</pre>
你也可以利用普适键盘 (选项 <span class="tt">keyboard=universal</span>).
<br class="spacer">

如果回答采用非 iso-latin1 的字母(例如汉字), 目前应该使用 html 的输入法.
在 Createxo 的窗口里输入或粘贴的汉字会自动转换成 html 的编码.

输入的回答会与标准答案逐字比对.
只有完全相同才认为正确.
