 <b>矩阵.</b> (名称: <span class="tt">matrix</span>)<br>
 和向量回答一样, 每个元素求值后与正确答案的对应元素比较.

 <p>
 有三个选项可用:
 <span class="tt wims_code_words">split_coeff</span>,
 <span class="tt wims_code_words">split_row</span>,
 <span class="tt wims_code_words">split_column</span>.
 如果正确的元素或行或列超过某个比例 (50 %), 就认为回答是部分正确.
 </p><p>
 若题号是 <span class="tt wims_code_words">n</span>,
 那么变量 <span class="tt wims_code_words">result</span>n 是
 一个 1 或 0 的矩阵, 分别代表正确或错误的矩阵元素
 (或用 0.5 表示精度不足).
</p>
