<b>把一个图像展示成一个谜题.</b> (名称: <span class="tt">puzzle</span>)<br>

<p>
正确答案内包含两个用分号 ``<span class="tt">;</span>'' 隔开的栏目.
一般说来, 第一栏是图像的名称
(它应该包含在变量 <span class="tt">common_images</span> 给出的目录里),
第二栏 <span class="tt">N1 x N2 x W</span> 意为把图像切割成 N1 行和 N2 列,
而且每个谜块的宽度是 <span class="tt">W</span>.

在 <span class="tt">\embed</span> 的第一栏内必须给出图像的大小 (宽 x 高) :
<span class="tt">\embed{r1, L x H}</span>.
</p>
<p>
也可以使用已被切割的图像. 在这种情形第二栏仍然是
<span class="tt">N1 x N2 x W</span>, 但第一栏是图像的地址表,
其顺序为 : 第一行自左至右, 第二行自左至右, 依此类推
 (应该有 N1*N2 个图像).
如果在 <span class="tt">option</span> 栏里含有词 <span class="tt">text</span>, 那么可以把图像全换成不含逗号及分号的文字.
</p>
<p>
变量 <span class="tt">reply</span> i 是一个由 1 与 0 组成的序列, 表示这个块是否出现在相应的位置.
</p>
请注意没有两个块是等同的 (即使都是空白的).

