 <b>区间内的数.</b> (名称: <span class="tt">range</span>)<br>
区间内实数的比较. 标准答案应该有两个数 m 与 n, 用逗号分隔, 满足 m&lt;n.
任何在此区间内的数(包括两端)都认为正确.
 <p>
正确答案中也可有多重区间.
<p>
如果标准答案里有奇数个数, 那么最后一个数也认为是正确的.

 宏 slib <span class="tt">text/approximation</span> 可用来自动计算这 3 个数.
