

 <b>重排给出的对象.</b>
 (名称: <span class="tt">reorder</span>)
 <br>
用"正确"的次序排列给出的对象.
 <br>
对象可以是文字(词或词组)、公式(使用 \(...) 的格式)或图形.
标准答案应该用正确的次序列举它们, 每个对象作为一项, 用逗号分隔.
服务器把这些对象随机乱排后显示给用户.
如果标准答案还有第二行, 那么这一行的对象将被接排在后面.
<p>
 这是以DynAPI为基础的, 可能在有的浏览器里不能正常工作.
</p>

