 <b>有限集合(按字面区别的、形式的或近似的).</b> (名称: <span class="tt">set</span>, <span class="tt">fset</span> 及 <span class="tt">aset</span>) <br>
 这是一列以逗号相隔的元素表, 其次序无关紧要.
<p>
对于 <span class="tt">set</span>, 各元素只进行字符比较而无求值过程 (因此 2 和 1+1 不代表同一元素).
但是如果选项中有 <span class="tt">repeat</span>, 那么具有正确重复度的元素才是正确的,
否则只能算部分正确.
 </p><p>
对于  <span class="tt">fset</span>, 其中元素被看作<em>形式表达式</em>予以求值.
 </p><p>
对于 <span class="tt">aset</span>, 其中元素被看作<em>近似表达式</em>予以求值.
</p>
