

 <b>指定有效数字位数的物理量.</b>
 (名称: <span class="tt">sigunits</span>)<br>
 这是一个文本输入, 与已知正确答案作比较.
语法为 &lt;数&gt; [&lt;物理单位&gt;]
 [#&lt;有效数字位数&gt;]
[,&lt;物理单位&gt;]
 <p>
 例:
 <ul>
 <li><b>1m#3</b> 意为 1 米, 带3位有效数字. 同义词:
    <i>1.00m</i>, <i>0.00100 km</i>.</li>
 <li><b>100.0 N</b> 与 <i>1e2N#3</i> 同义: 100 牛顿,
    带3位有效数字.</li>
  <li><b>0.50A.h</b> 给出 "1.8e+02 C".  <b>0.50A.h</b>
  得到 "5.0e-01 A.h".
</ul>


