

 <b>文字(区分或不区分大小写).</b>
 (名称: <span class="tt">case</span> 或 <span class="tt">nocase</span>)
 <br>
输入一段文字, 与标准答案比较.
在区分大小写(case)的类型, 输入必须与标准答案完全相同才行.

!read help/anstype.fr/syno.phtml synonym

!read help/anstype/syno.phtml badonly
