

 <b>词表.</b> (名称: <span class="tt">wlist</span>)<br>
在这种情形, 用户输入只是逐词与标准答案比较, 而不管这些词的次序.
而且比较时不考虑大小写、单复数、字母重音等区别, 也忽略冠词.
 <p>
如果标准答案的第一个词是正数 n, 那么用户输入至少须有 n 个不同的词与标准答案相同.
</p>
 !read help/anstype.cn/syno.phtml badonly
