

 <b>Approximative text.</b> (name: <span class="tt wims_code_words">atext</span>)<br>
 This is a text input to be compared with a given correct answer, but the
 comparison will be carried out only on the essentials of the texts:
 differences like upper/lower case, singular/plural, letters with accents,
 and very common words such as articles are ignored.

!read help/anstype/syno.phtml synonym

!read help/anstype/syno.phtml badonly

