
 <b>Chemical equation.</b>
 (name: <span class="tt wims_code_words">chemeq</span>)<br>
 This is a text input to be compared with a given chemical equation,
 the syntax is defined by the parser <i>chemeq</i>. The reply is defined
 as a model (equilibrated) chemical equation, optionnaly followed by a
 semi-colon  and the (possibly) non-equilibrated chemical equation to be
 given as an input.
 <p>
 The reply is considered as correct if the stoechiometric numbers are
 proportional to the model. the order of the compounds in each member
 does not matter, and the syntax allows many variants, including fractionary
 coefficients.
 example:
 <ul>
 <li><b>2H2 + O2 -> 2H2O; H2 + O2 -> H2O</b> the model is the equation of
    synthesis of water, and a non-equilibrated template is given.
 </li>
</ul>
