<b>Click on atoms of a molecule in 2D</b> (name: <span class="tt wims_code_words">chemclick</span>)

A molecule is shown in the applet JSME
<a href="http://peter-ertl.com/jsme/">http://peter-ertl.com/jsme/</a>
and it is asked to click on some atoms or bonds.

This answer type must be used with the command <span class="tt wims_code_words">\embed{}</span>.
The first line of the commande <span class="tt wims_code_words">\embed</span> is the pixels size
X x Y of the applet. On the second line, there may be some option words (see <span class="tt wims_code_words">chemdraw</span> type).

The correct answer is
 <ul>
 <li>First line. The list of numbers of atomes or/and numbers of bonds as in the file MDMol
 :<span class="tt"> atoms:1,2 bonds:4,1</span>.
 </li>
 <li>Second line. The address of a  file MDMol (extension <span class="tt">.mol</span>)  discribing the molecule.
 This file must be in the directory <span class="tt wims_code_words">data</span> of the module,
in the directory data of the distribution wims (address <span class="tt wims_fname">data/xxx</span>) , in a datamodule
in the directory modules/data de WIMS (in this case, the address is of the form
datamodule/xxx) or in the module directory <span class="tt wims_fname">images</span>  (address <span class="tt wims_fname">\imagedir/xxx</span>).
It is also possible to put the content of the file (with exact MDMol formatage).
</li></ul>

The atomes will be selected by right click ans are then colored in a different manner.

The variable <span class="tt wims_code_words">\reply</span>n is them something like <span class="tt">atoms:1,2 bonds:2</span>
<p>
The option <span class="tt wims_code_words">help</span> is avalaible, help on the applet is added automatically
(for the moment, only for the selection image).
</p>
<pre>
\answer{}{atoms:1,2 bonds:1;data/file.mol}{type=chemclick}
</pre>
