 <b>Character set.</b> (name: <span class="tt wims_code_words">chset</span>) <br>
 This is a list of alpha-numerical characters, where the order is not important.
 Case non-sensitive. <p>
 This can be used to make multiple-choice replies, where the number of choices
 must be fix, and there may be several correct choices that the user must find
 all.
 <p>
 If the word "norepeat" is present in the option, repetitions of a same
 character is ignored by the comparator.

