<b>Answer fields to be filled with given objects.</b>
 (name: <span class="tt wims_code_words">clickfill</span> and <span class="tt wims_code_words">dragfill</span>)
 <br>
 The answer field, usually embedded in the statement, can be filled by
 clicking or dragging a given object (text, formula or image) from within a list.
 <p>
 The correct reply is usually a matrix, where the first row is the correct answer,
 while the second row lists items that are wrong answers.
 </p><p>
 The correct answer may be a list of several items. In this case the fill field
 will have a length (that is, number of successive objects it can accept)
 greater than 1.
 </p><p>
 Multiple correct answers can be defined in the first row, if they are
 separated by the character <span class="tt wims_code_words">|</span>. And the answer can be analyzed, if
 the first row is a non-defined variable.
 </p><p>
 This reply field is best used via \embed{}, with a input size field under
 the form <span class="tt wims_code_words">H x V x L x T</span>, where H and V are respectively the horizontal and
 vertical sizes (in pixels) of one case, L is the length of the field
 and T the number of lines. By default, L is the number of correct answers and T is 1.
 </p><p>
 There may be several clickfill or dragfill replies within one exercise,
 but they must be of the same type (all clickfill or all dragfill)
 but the cases must have the same size. The objects are then mixed.
 </p><p>
 The types <span class="tt wims_code_words">clickfill</span> and <span class="tt wims_code_words">dragfill</span> have very similar user interfaces (both can be clicked
 or dragged). The main difference is that
 in <span class="tt wims_code_words">clickfill</span> an object can be used several times, while for <span class="tt wims_code_words">dragfill</span>
 each object can be used at most once.
 </p><p>Contents are centered by default. One may align on the left or the right
 by using the option l'option <span class="tt wims_code_words">align=left</span> or <span class="tt wims_code_words">align=right</span>
 (<span class="tt wims_code_words">{option= align=left}</span>).
<p>With the option <span class="tt wims_code_words">noorder</span>, the analysis does not take in account
the order in which the objects have been clicked or dragged. This is useful
in exercises asking for classifying according some properties.
With the option <span class="tt wims_code_words">transparent</span>, the field to fill in is transparent (can be useful
with the special method <span class="tt wims_code_words">imagefill</span>.
</p>
<p>With the option <span class="tt wims_code_words">keeporder</span>,the cases
are presented in the order of the list.
</p>

 Based on DynAPI.
