<b>Crosswords.</b>
(nom : <span class="tt wims_code_words">crossword</span>)
<p>
Give a crossword to solve from a matrix with letters or fingers.
(a slib will create the matrix in the future).
</p>
The correct answer has two items: the first one is a matrix in brackets,
the empty coefficients are the "black cases" :
<pre>[c,i,n,q,,,,
,,,u,n,,,
,,,a,,,s,
,,,t,r,o,i,s
,,,r,,,x,
,,d,e,u,x,,]
</pre>
The second item contains the definitions of the words (on each line, the first item is the
word, the other ones its definition). For example,
<pre>[un, 1 in french
deux,2 in french
trois,3 in french
quatre,4 in french
cinq,5 in french
six,6 in french]
</pre>

Example :<pre>\answer{}{[c,i,n,q,,,,
,,,u,n,,,
,,,a,,,s,
,,,t,r,o,i,s
,,,r,,,x,
,,d,e,u,x,,],[un,1 in french
deux,2 in french
trois,3 in french
quatre,4 in french
cinq,5 in french
six,6 in french]}{type=crossword}
</pre>

The matrices can be written with semi-colon (on a single line):

<pre>
\answer{}{[c,i,n,q,,,,;,,,u,n,,,;,,,a,,,s,;,,,t,r,o,i,s;,,,r,,,x,;,,d,e,u,x,,],[un,1 in french;deux,2 in french;trois,3 in french;quatre,4 in french;cinq,5 in french;six,6 in french]}{type=crossword}</tt>
</pre>

In option, one can give the colors: <span class="tt">color=[orange,black,white]</span> (default): background color of the input cases,
background color of "black" cases, background color of the word numbers, the definitions may be popup (option <span class="tt wims_code_words">tooltip</span>),
all the definitions are shown (option <span class="tt wims_code_words">allhelp</span>)

<pre>
\answer{}{....}{type=crossword}{option=color=[orange,black,white]}
</pre>
