 <b>Auto.</b> (name: <span class="tt">default</span>)<br> The
 software tries to determine the type of the answer according to the
 given correct answer. The capability of automatic determination is
 quite limited and can certainly not distinguish other types than
 numerical functions/numbers/equations/texts. Even so, some strange
 things may happen (the word cosy in interpreted as the function
 cos(y)). So whenever possible, it is best to precise the type.
