 <b>Numerical equation.</b> (nom: <span class="tt">equation</span>)<br>
 The answer is evaluated as an equation and the comparison is done for the variable values in
 the range given by the author, with the author precision.

The reply <span class="tt">a = 0</span> is considered as<span class="tt">a</span>. With the option
 <span class="tt">eqsign=yes</span>, the student is obliged to write <span class="tt"> a = 0</span>.
