 <b>Numerical function.</b> (name: <span class="tt wims_code_words">function</span>)<br>
 The answer will be compared to the given one, for values of the variables
 within a range defined by the author, and up to the precision
 defined by the author.

