 <b>Matrix.</b> (name: <span class="tt">matrix</span>)<br>
 As for vector answer, each coefficient is evaluated and compared to the
 corresponding coefficient of the correct answer.

 <p>
 Three option words are available:
 <span class="tt wims_code_words">split_coeff</span>,
 <span class="tt wims_code_words">split_row</span>,
 <span class="tt wims_code_words">split_column</span>.
 The answer is partially correct if a percentage (50 %) of correct coefficients
 or rows or columns is correct.
 </p><p>
 If <span class="tt wims_code_words">n</span> is the number of the question,
 the variables <span class="tt wims_code_words">result</span>n contains
 a matrix with 1 and 0 according to the position of the correct and wrong
 coefficients (or 0.5 if the precision is not sufficient).
</p>
