<b>Rational numbers.</b> (nom : <span class="tt">numexp</span>)<br>

Comparison of rational numbers. The fractional writing must be irreducible
unless the option <span class="tt">noreduction</span> is precised. <p>

Both decimal or fractional writings are accepted for decimal numbers. (0.25
for 1/4 but not 0.333333333333333 for 1/3).

