<b>Make in order an image as in a puzzle</b> (name: <span class="tt wims_code_words">puzzle</span>)<br>

<p>
The correct answer contains two fields, separated by a semi-colon
 ``<span class="tt wims_code_words">;</span>. In general, the first field is the name of the image
 (that should be in the directory given by the variable <span class="tt wims_code_words">common_images</span>),
 the second field  <span class="tt">N1 x N2 x W</span> means that the image will be cut in N1 lines and N2 columns
and that the width of the puzzle pieces will be <span class="tt">W</span>.

The size of the image (width x height) must be given in the first field of  <span class="tt wims_code_words">\embed</span> :
<span class="tt wims_code_words">\embed{r1, L x H}</span>.
</p>
<p>
It is also possible to give already cut images. In this case, the second field is again
<span class="tt wims_code_words">N1 x N2 x W</span>, but the first field is the list of the addresses of the images
in the following order : first line from left to right, second line from left to right, and so on
 (N1*N2 images must be given).
 If the field <span class="tt wims_code_words">option</span>contains the word <span class="tt wims_code_words">text</span>, it is possible in this case
 to replace all the images by text (without commas or semi-colons).
</p>
<p>
The variable <span class="tt wims_code_variable">reply</span> i contains a sequence of 1 and 0 according to the corresponding piece is
at its place or not.
</p>
Be careful that two pieces are not identical (for example, blank).

