 <b>Number with range.</b> (name: <span class="tt">range</span>)<br>
 Comparison of real numbers within a range. The correct reply should be
 composed of two numbers, m and n, separated by a comma, with m&lt;n. Any
 input between m and n (inclusive) will be accepted as correct.
 <p>
 Multiple ranges can be specified by appending more items into the correct
 reply.
 <p>
 If the correct reply contains an odd number of items, the last item will be
 used for the shown correct answer.

 The macro slib <span class="tt">text/approximation</span> can be used to calculate these three numbers
 automatically.

