

 <b>Raw text.</b>
 (names: <span class="tt wims_code_words">raw</span>)
 <br>
 A text input to be compared with the given correct answer. The following options
 control how the texts are transformed before being compared. When no option
 is given, only the leading and trailing spaces are removed before comparison.
 So be careful when use this type: by default, the answer will be considered
 false even if there is just one more space character! It is provided
 mainly for authors who want to manually process the answers.

!set p=anstype/raw
!readproc tabletheme
$table_header
!set caption=!record 1 of help/$p
  <caption>$caption</caption>
  !set header=!record 2 of help/$p
  $table_tr<th>$(header[1])</th><th>$(header[2])</th></tr>
  !set cnt_record=!recordcnt help/$p
  !for u= 3 to $cnt_record
    !set l_=!record $u of help/$p
    $table_tr<td class="tt wims_code_words">
!line 1 of $l_
    </td><td>
!line 2 of $l_
   </td>
  !next
$table_end
