

 <b>Reordering given objects.</b>
 (name: <span class="tt">reorder</span>)
 <br>
 List given objects according to some correct order.
 <br>
 The objects can be text (words or groups of words), formulas
 (formatted using \(...)), or images. The given correct answer must list the
 objects as items, in correct order. The server will present the items
 with a randomly shuffled order.
 If there is a second line in the correct reply, it will seperate the objects in the answer.
 <p>
 Based on DynAPI, may not work under some browsers.


