

 <b>Physical data with a precise number of significative digits.</b>
 (name: <span class="tt">sigunits</span>)<br>
 This is a text input to be compared with a given correct answer,
 the syntax is &lt;number&gt; [&lt;physical unit&gt;]
 [#&lt;desired number of significative digits&gt;]
[,&lt;desired physical unit for the display&gt;]
 <p>
 example:
 <ul>
 <li><b>1m#3</b> means 1 meter with 3 significant digits. Synonyms:
    <i>1.00m</i>, <i>0.00100 km</i>.</li>
 <li><b>100.0 N</b> has the same meaning than <i>1e2N#3</i>: 100 newtons
    with 3 significative numbers.</li>
 <li><b>0.50A.h</b> would give "1.8e+02 C" when displaied. Use <b>0.50A.h</b>
    to get "5.0e-01 A.h".
 </ul>

