<b>Symtext.</b> (nom: <span class="tt wims_code_words">symtext</span>)
<p>

This type is activated either by the definition of the type or by the
declaration of the option <span class="tt wims_code_words">symtext</span> in some other reply types. In the
first case, the reply field is a <span class="tt wims_code_words">textarea</span> allowing to enter several
lines of text. In the second case, the reply field stays the same as for the
original type.
<p>

The correct reply is a sentence under
!href cmd=help&special_parm=symtext symtext syntax
 (it is often enough to know the
!href cmd=help&special_parm=symtext,generic generic
 style). Example (<span class="tt wims_code_words">generic</span> style):
<ul><li>
<span class="tt">a _or b</span> recognizes "a or b", "b or a", "either a
 or b", "either b or a".

</li><li>
<span class="tt">Bill _and [my friend]</span> recognizes "Bill and my friend",
 "my friend and Bill", "Bill as well as my friend", "my friend as well as
 Bill".

</li><li>
<span class="tt">x _equals y</span> recognizes "x equals y", "y is equal to x",
 "x and y are equal", etc.

</ul> <p>

It is recommended to put a first alternative in pure text. For example,
if the correct reply is "A and B" with no order between the two, it is better
to put the correct reply in <span class="tt">A and B|A _and B</span> instead of simply
<span class="tt">A _and B</span>. In this case, it is the first alternative which will be
shown as correct reply to students, instead of the symtext syntax itself. The
latter may often confuse students.
</p><p>

If only one line is present in the declaration of the correct reply, anything
not matching this line will be considered as false. On the other hand, if
the given correct reply contains several lines (separated by the semi-colon
'<b><span class="tt">;</span></b>'), any reply matching a supplementary line will be false,
and any reply containing a word not appearing in one of the lines  will be
considered as incomprehensible and sent back for retyping. Finally, a reply
not matching any of the lines but with all the words recognized will be false.
</p><p>

Generally it is enough to put the list of words that one wants to recognize
in the line 2, as for the types <span class="tt">case</span>, <span class="tt">nocase</span> or
<span class="tt">atext</span>.
</p><p>

There is also the possibility to declare partially correct answers. One has
only to put partially correct answers into line 2 and up, then declare
<span class="tt">goodlim=n</span> in the option, where <span class="tt">n</span> should be an integer
greater than 1. In this case, a reply matching a line between 2 and
<span class="tt">n</span> will be partially correct, with a decreasing score according to
the line number.
</p><p>

All the symtext options are recognized in the option field.
</p><p>

The output of the symtext program is available via the variable
<span class="tt">\result<i>n</i></span>, where <i>n</i> is the number of the reply field.
It can be used in a <span class="tt">\feedback</span>.

</p><p>
!href cmd=help&special_parm=symtext Details of symtex syntax
.
</p>
