!if $wims_read_parm=synonym
 <p>
 You may define synonymes in the correct answer. To do this, the synonymes has
 only to be added behind the (standard) correct answer, preceeded by the
 vertical bar ``<span class="tt">|</span>''. An arbitrary number of synonymes can be defined.
 </p>
!endif
!if $wims_read_parm=badonly
 <p>
 Furthermore, if you do not want user inputs with just some typing errors to be
 considered as false, you can define a list of `meaningful' words to the
 answer. This is a list of words to be put into the `good answer' field,
 behind the correct answer and eventual synonymes, and preceeded by a semicolon
 ``<span class="tt">;</span>''. Punctuations will be ignored in this list, and the words
 are also compared with the same level of difference tolerance as for the correct
 answers.
 </p><p>
 When the meaningful words are defined, user inputs containing a word not in
 the meaningful word list will be sent back for correction.
</p>
!endif
