 <b>Number with units.</b> (name: <span class="tt">units</span>)<br>
 Typically it is a physical quantity with units attached. The answer will be
 evaluated as such, so that for example <span class="tt">1.5 cm</span> and <span class="tt">15 mm</span>
 have the same meaning. The precision requirement is as for the numerical
 expression.

