 <b>Vector.</b> (name: <span class="tt">vector</span>)<br>
 Each coefficient is evaluated and compared to the corresponding coefficient
 of the correct answer. Therefore only numerical vectors can be used here.
 The answer as well as the correct answer can either have or not have
 enclosing pairs of parentheses.

