

 <b>Words in a list.</b> (name: <span class="tt">wlist</span>)<br>
 In this case, the user input is compared word to word with the given
 correct answer, without taking the word order into account. And the
 comparison will be carried out only on the essentials of the words:
 differences like upper/lower case, singular/plurial, letters with accents,
 and very common words such as articles are ignored.
 <p>
 If the first word of the given correct answer is a positive number n,
 this means that the user input must have at least n different words equal
 to that listed in the given correct answer.

 !read help/anstype/syno.phtml badonly

