<!-- begin main.phtml in authordir -->
!set wims_html_header=!append line \
<link rel="stylesheet" type="text/css" href="$htmldir/schaersvoorde.css" /> \
<!-- schaersvoorde.css ...  --> \
$my_temp_css to $wims_html_header

!set module_language=$lang
!set lang_title=!getdef title_$lang in INDEX
!if $lang_title!=
    !set module_title=$lang_title
!endif

!if $printexo!=0
    !if $printexo=1
	<!-- begin print.phtml -->
	!read $phtmldir/print.phtml
	<!-- end print.phtml -->
    !else
    	<!-- begin hyperref.taal.phtml -->
	!read $remarkdir/hyperref.$taal.phtml
    	<!-- end hyperref.taal.phtml -->
    !endif
!else
    !if $my_html_onload != $empty
	!set wims_html_onload=!append word $ $my_html_onload $ to $wims_html_onload
    !endif
    !header

    !if $newstyle=$empty
	<h2>THIS MODULE IS OUTDATED
	<hr />
	PLEASE UPDATE YOUR MODULES !!
	<hr />
	</h2>
	<h3>
	<a href="mailto:$wims_site_manager?subject=$module please update all Dutch modules to their latest version !">
	    Write an email to the system administrator
	</a>
	</h3>

    !else
	<div style="width:100%;height:100%" id="schaersvoorde_exercise">
	    <noscript>
		<h1>Please enable javascript to work with our Schaersvoorde modules</h1>
	    </noscript>
	    <script src="$jsdir/../lang/remarks.$taal.js"></script>
	    <script src="$jsdir/precheck.js"></script>
	    $my_js_include
	    !if $status=waiting
		<!-- begin form.phtml in authordir -->
		!read $phtmldir/form.phtml
		<!-- end form.phtml in authordir -->
		<p style="text-align:left">
		!set wims_ref_class=wims_button wims_secondary_button
		!href exo_Renew
		</p>
	    !else
    		<!-- begin answer.phtml in authordir -->
		!read $phtmldir/answer.phtml
		<script>
		    disable_mathml_input();
		</script>
    		<!-- end answer.phtml in authordir -->
		<p style="text-align:left">
		!set wims_ref_class=wims_button
		!href exo_Again
		.
		</p>

		!if $worksheet=$empty
		    !set wims_ref_class=wims_button wims_secondary_button
		    !href exo_Intro
		    .
		!endif
	    !endif
	</div>
	:end
	<script src="$jsdir/wz_tooltip.js"></script>
	!tail
    !endif
!endif
<!-- end main.phtml in authordir -->
