
<b>Een andere klas als "buurklas" benoemen</b>.
<p>
Een
!href cmd=help&special_parm=neighbor "buurrelatie"
</a> tussen twee klassen is alleen mogelijk met instemming van beide supervisors.
</p><p>
Alhoewel in principe collega's van een "buurklas" nooit Uw klas kunnen veranderen
 (tenzij ze
!href cmd=help&special_parm=share materiaal delen ("sharing")
 met uw klas), is het toch verstandig alleen buren te worden met
 klassen binnen een zelfde instituut.
</p><p>
Wanneer u buurrelaties aan gaat op "supervisor niveau" geeft u de andere
klas de mogelijkheid om lesmateriaal te
!href cmd=help&special_parm=import importeren
. Dit betekend wel dat ook eventuele gevoelige data uit uw klas worden geimporteerd.
</p><p>
Verder wordt op "leerling niveau" ook de persoonlijke wachtwoorden van uw leerlingen
naar de "buurklas" geexporteerd.
</p><p>
Om het beveiligings niveau van een WIMS server zo hoog mogelijk te houden, moet u alleen
overgaan tot exporteren of zelfs delen, als dit echt noodzakelijk en handiger is.<br>
U verliest ook een flink deel autonomie bij het delen van bestanden en lesmateriaal.
</p>
