
<b>Voorbeelden van "buurklas" configuraties</b>.
<p>
Hier staan enkele typische voorbeelden waar het gebruik van
!href cmd=help&special_parm=neighbor "buurklassen"
nuttig kan zijn.
.
</p><ul>
<li>
U (de docent) geeft een cursus aan meerdere groepen studenten.

<br>
U kunt een virtuele klas opzetten voor elk van deze groepen,
vervolgens accepteert U voor al deze klassen een "buurrelatie op supervisor nivea".
U wijst een "hoofd klas" aan, en laat de andere klassen
uw lesmateriaal
!href cmd=help&special_parm=share delen
.<br>Veranderingen in het materiaal in de "hoofd-klas" worden automatisch en onmiddelijk
doorgevoerd in de buurklassen.
</li><li>
Verschillende docenten geven verschillende cursussen aan de zelfde groep studenten.

<br>
Elke kursus wordt nu een virtuele klas, en al deze virtuele klassen
worden "buurklassen" voor de leerlingen.<br>
De "buren" kunnen ook de leerling accounts delen (hierbij is wel een deling op "supervisor niveau" noodzakelijk)
<br>
Een leerling die zich aanmeld voor de ene cursus , wordt dan dus ook automatisch aangemeld bij de "buur cursus"
De leerlingen kunnen nu ook van de ene virtuele klas in de andere overstappen zonder wachtwoord drempels.

</li><li>
Verschillende cursussen worden gegeven op het instituut.<br>
Studenten moeten zelf bepalen welke cursussen ze willen gaan volgen.
<br>
Voor elke cursus in een instituut wordt een klas opgericht.
Als deze klassen worden "buurklassen" zonder het delen van leerlingen accounts.
Een student moet zich bij elke cursus/klas opnieuw aanmelden met een loginnaam en wachtwoord.<br>
Bij het inloggen in een "buurklas" ziet de student in welke klassen hij/zij is aangemeld, en kan
vanaf daar vrijelijk tussen deze buurklassen bewegen.

</li></ul>
