
<b>Sta andere klassen toe Uw bronnen en materiaal te delen</b>.
<p>
Wanneer U een
!href cmd=help&special_parm=neighbor andere klas
toestaat materiaal
!href cmd=help&special_parm=share te lenen
moet U zich wel de eventuele risico's die dit mee brengt realiseren.
</p><p>
Wanneer U een materiaal deelt/uitleent aan andere klassen,
kan deze uw materiaal ook wijzigen of beschadigen.
</p><p>
In het bijzonder is het delen van een "supervisor account" risicovol.<br>
De lener kan uw wachtwoord veranderen: U kunt niet meer inloggen in uw eigen klas.
</p><p>
Soms is het dus verstandiger andere klassen uit te nodigen
 materiaal uit uw klas te  !href cmd=help&special_parm=import importeren
in plaats van te lenen .
</p>
<p>
Il y a des dépendances entre les ressources : le partage de certaines vous obligera à en partager d'autres (par exemple les examens sont dépendants des feuilles d'exercices).
</p>
<p>
Les questionnaires ne peuvent pas être partagés si l'un d'entre eux est un modèle préparé utilisant des variables techniques.
</p>
