
<b>Deling van lesmateriaal en gegevens door "buurklassen"</b>.
<p>
!href cmd=help&special_parm=neighbor "buurklassen"
 kunnen zeer selectief materiaal uitwisselen cq uitlenen.
</p><p>
Gedeelde bronnen zijn identiek voor alle klassen die ze gebruiken, inclusief
eventule latere veranderingen van het gedeelde materiaal.
Dit betekend dus dat wijzigingen in het materiaal automatisch gesynchroniseerd worden.

</p><p>
Bijvoorbeeld, een gedeeld message board laat alle berichten uit alle klassen zien.<br>
En als de leeringen accounts worden gedeeld door meerdere klassen
wordt een leerling bij het aanmelden in een klas automatisch ingeschreven bij de
andere -gedeelde- klassen.
Het zelfde geldt ook voor een "gedeeld supervisor account",maar dit is niet zonder
!href cmd=help&special_parm=supshare risico's
.
</p><p>
Wanneer werkbladen of proefwerken worden gedeeld, wordt alleen de feitelijke inhoud
van dit materiaal gedeeld.
</p><p>
Wanneer een supervisor de score registratie opent voor een gedeeld werkblad of proefwerk,
dan wordt alleen in zijn eigen klas de score registratie geopend.
</p><p>
Among classes sharing a same type of teaching materials, there must be one
originating the sharing (it is where the teaching materials are physically located).
All the other classes will share this type of teaching materials of the originating
class. Cascaded sharing is not supported.
</p><p>
It is the responsibility of the originating class to declare classes
!href cmd=help&special_parm=sharable allowed to use
its teaching materials. Then it is up to the other sharing classes to actually start
or stop the effective share. The originating class cannot stop existing
active sharing (because this would modify the setup of the other class(es)).
</p><p>
If you want to share teaching materials with another class, the corresponding teaching
materials in your own class must be empty. Due to the fact that many teaching
materials cannot be cleaned due to
!href cmd=help&special_parm=dependencies inter-dependences
 between different types of teaching materials, teaching materials sharings should
be installed
only at the setup stage of the classes. In general, once participant
activities have started, many teaching materials sharings are no longer possible.
</p><p>
On the other hand, a secondary sharing class can
!href cmd=help&special_parm=stopshare stop the sharing
 at any moment. However, for the above reason, it may not be able to start sharing
with a class with which you have stopped sharing.
</p>
