
<b>Stop een deling van lesmateriaal</b>.
<p>

Alleen de klas die leent kan een deling/lening van materiaal beeindigen, zie ook
!href cmd=help&special_parm=share deling van lesmateriaal
 onder
!href cmd=help&special_parm=neighbor "buurklassen"
.
</p><p>
Wanneer U stopt met het lenen van lesmateriaal, blijft in uw klas een "harde kopie"
van het gedeelde materiaal achter.
<br>
Hierdoor heeft het stoppen van delen/lenen geen directe gevolgen voor uw klas.
 </p><p>
In sommige gevallen wordt bij een beindiging van delen <b>geen kopie</b> in uw klas
achtergelaten. In een dergelijk geval krijgt u eerst een waarschuwing.
</p>
