
<b>Upload een backup van een klas</b>.
<p>
Er zijn in principe twee gevallen waarbij een backup moet worden opgestuurd naar de server.
</p><p>
In het eerste geval wanneer bestanden ,om welke reden dan ook, zijn beschadigd.
<br>
In een dergelijk geval adviseren wij een zo volledig mogelijk backup
(maar liefst zonder klas configuratie en suppervisor-account, als deze tenminste niet ook beschadigd zijn)
</p><p>
In het tweede geval wanneer "onderdelen" van de ene klas gebruikt moeten worden in een andere klas.
Let op
!href cmd=help&special_parm=dependencies de "inter-klas" afhankelijkheden
.
Als regel geldt dat scores niet mee worden gekopieerd, en dat
gedeeld lesmateriaal [documenten,werkbladen,proefwerken/tentamens] niet via een
backup kunnen worden hersteld.
</p>
