
!if $cl_reccnt<1
  $name_empty
  !exit
!endif

!if $cl_testcnt>0
  <div class="wims_msg info">
  <span class="wims_warning">$wims_name_warning</span>.
  !read lang/names.phtml.$moduclass_lang clean
  </div>
  !exit
!endif
<div class="wims_msg info">
<span class="wims_warning">$wims_name_warning</span>. $name_warning_clean
!href cmd=reply&job=arch&job2=first $name_saveclass
</div>

<p>
$name_ressource:
</p>
<ul>
 <li>
!href cmd=reply&job=clean&clean=all $name_cleanall
.
 </li>
!if $cl_usercnt>0
  <li>$cl_usercnt $wims_name_student.
  !if $sharing_user!=$empty
    $name_no_erase
  !else
    !set wims_ref_class=wims_button wims_warning
    !href cmd=reply&job=clean&clean=user $wims_name_erase.
    !if $cl_scorecnt>0
      ($name_erase1)
    !endif
  !endif
  </li>
!endif
!if $cl_userphotocnt>0 and userphoto isitemof $reclist
  <li>$cl_userphotocnt $name_userphoto.
  !if $sharing_user!=$empty
    $name_no_erase
  !else
    !set wims_ref_class=wims_button wims_warning
    !href cmd=reply&job=clean&clean=userphoto $wims_name_erase.
  !endif
 </li>
!endif
!if $cl_doccnt>0
  <li>$cl_doccnt $name_docs.
  !if $sharing_doc!=$empty
    $no_erase
  !else
    !set wims_ref_class=wims_button wims_warning
    !href cmd=reply&job=clean&clean=doc $wims_name_erase
&nbsp;
  !endif
  </li>
!endif
!if $cl_exocnt>0
  <li>$cl_exocnt $name_exos.
  !if $sharing_exo!=$empty
    $no_erase
  !else
    !set wims_ref_class=wims_button wims_warning
    !href cmd=reply&job=clean&clean=exo $wims_name_erase
&nbsp;
  !endif
  </li>
!endif
!if $cl_sheetcnt>0
  <li>$cl_sheetcnt $name_sheets.
  !if $sharing_sheet!=$empty
    $no_erase
  !else
    !set wims_ref_class=wims_button wims_warning
    !href cmd=reply&job=clean&clean=sheet $wims_name_erase
&nbsp;
    !if $cl_examcnt>0
      ($name_warning_exam.)
    !endif
  !endif
  </li>
!endif
!if $cl_examcnt>0
  <li>$cl_examcnt $name_exams.
  !if $sharing_exam!=$empty
    $no_erase
  !else
    !set wims_ref_class=wims_button wims_warning
    !href cmd=reply&job=clean&clean=exam $wims_name_erase
  !endif
  </li>
!endif
!if $cl_forumcnt>0
  <li>$cl_forumcnt $name_forum_mesg.
  !if $sharing_forum!=$empty
    $no_erase
  !else
    !set wims_ref_class=wims_button wims_warning
    !href cmd=reply&job=clean&clean=forum $wims_name_erase
  !endif
  </li>
!endif
!if $cl_scorecnt>0
  <li>$cl_scorecnt $name_lines
  !set wims_ref_class=wims_button wims_warning
  !href cmd=reply&job=clean&clean=score $wims_name_erase
  </li>
!endif
!if $cl_cdtcnt>0
  <li>$name_cdtdates
  !set wims_ref_class=wims_button wims_warning
  !href cmd=reply&job=clean&clean=cdt $wims_name_erase
  </li>
!endif
!if $cl_livretcnt>0
  <li>$name_livretcomp
  !set wims_ref_class=wims_button wims_warning
  !href cmd=reply&job=clean&clean=livret $wims_name_erase
  </li>
!endif
</ul>

<div class="wims_msg info">
!read lang/names.phtml.$moduclass_lang clean2
</div>
