!form reply
<input type="hidden" name="up_job" value="list">
<fieldset class="property_fields blockcenter">
  <legend>ID: $wims_class</legend>
  <div class="field box">
!if $supertype notin 24 or $classdepth=1
  <label for="up_institution">$name_name_institution</label>
  <input size="50" name="up_institution" id="up_institution" value="$class_institution">
!else
  <strong>$name_name_institution</strong>
  $class_institution
!endif
</div>
<div class="field box halfwidth">
  <label for="up_description">$name_name_class</label>
  <input size="50" name="up_description" id="up_description" value="$class_description">
</div>
<div class="field box halfwidth">
  <label for="up_supervisor">$wims_name_nameteacher</label>
!set wims_ref_class=wims_button_help float_right
!href cmd=help&special_parm=config&special_parm2=supervisor $wims_name_help
  <input size="40" name="up_supervisor" id="up_supervisor" value="$class_supervisor">
</div>
<div class="field box halfwidth">
  <label for="up_email">$wims_name_email</label>
!set wims_ref_class=wims_button_help float_right
!href cmd=help&special_parm=config&special_parm2=email $wims_name_help
  <input size="40" name="up_email" id="up_email" value="$class_email">
</div>
<div class="field box halfwidth">
  <label for="up_level">$name_level</label>
  !!!set wims_ref_class=wims_button_help float_right
  !! !href cmd=help&special_parm=config&special_parm2=level $wims_name_help
!set up_level=$class_level
!formselect up_level list $wims_listlevel prompt $name_wims_listlevel
</div>
<div class="field box halfwidth">
  <label for="up_lang">$wims_name_Language</label>
!set wims_ref_class=wims_button_help float_right
!href cmd=help&special_parm=config&special_parm2=lang $wims_name_help
!set up_lang=$class_lang
!set langs=!words2items $wims_site_languages
!formselect up_lang list $langs
</div>
<div class="field box halfwidth">
  <label for="up_expiration">$name_expirationdate</label>
!set wims_ref_class=wims_button_help float_right
!href cmd=help&special_parm=config&special_parm2=expiration $wims_name_help
!if $class_type notin 13
    !! Date format for input type="date" must be [RFC 3339] (1996-12-19)
    !set begin=!sh date --date '1 day ago' +%Y%m%d
    !set end=!sh date --date '1 years 3 months' +%Y%m%d
    !read adm/datepickerform.phtml $class_expiration\
up_expiration\
"$begin","$end"
!else
  <span class="tt">$class_expiration</span>
  !default up_expiration=$class_expiration
!endif
</div>
<div class="field box halfwidth">
  <label for="up_secure">$name_secure</label>
!set wims_ref_class=wims_button_help float_right
!href cmd=help&special_parm=config&special_parm2=secure $wims_name_help
  <input size="40" name="up_secure" id="up_secure" value="$class_secure">
</div>
<div class="field box halfwidth">
  <label for="up_limit">$name_limit</label>
$ $
!set wims_ref_class=wims_button_help float_right
!href cmd=help&special_parm=config&special_parm2=limit $wims_name_help
<input size="5" name="up_limit" id="up_limit" value="$class_limit">
</div>
<div class="field box halfwidth">
  <label for="up_sendmailteacher">$name_sendmailteacher</label>
$ $
  !set wims_ref_class=wims_formradio
  !set wims_ref_class=wims_button_help float_right
  !href cmd=help&special_parm=config&special_parm2=sendmailteacher $wims_name_help
  !let up_sendmailteacher=$class_sendmailteacher
  !default up_sendmailteacher=yes
  !formselect up_sendmailteacher list yes,no prompt $wims_name_yes,$wims_name_no
</div>

<div class="field box">
  <label for="up_supconnectshowed">$name_config_supconnectshowed</label>
!set up_supconnectshowed=$class_supconnectshowed
!default up_supconnectshowed=no
!formselect up_supconnectshowed list no,yes prompt $wims_name_no,$wims_name_yes
</div>

<div class="field box">
  <label for="up_hideaverage">$name_config_hideaverage</label>
!set up_hideaverage=$class_hideaverage
!default up_hideaverage=no
!formselect up_hideaverage list no,yes prompt $wims_name_no,$wims_name_yes
</div>

!if $wims_show_stat=yes
  <div class="field box">
    <label for="up_utime">$name_config_utime</label>
  !set up_utime=$class_utime
  !default class_utime=15
  <input size="5" name="up_utime" id="up_utime" value="$class_utime">
  <div class="formHelp">$name_utime_help</div>
  </div>
!endif

!if $class_type=0 or ($class_type=1 and $wims_typename=class)
  <div class="field box halfwidth">
    <label for="up_allowcloning">$name_allowcloning</label>
$ $
  !set wims_ref_class=wims_button_help float_right
  !href cmd=help&special_parm=config&special_parm2=cloning $wims_name_help
  !set wims_ref_class=wims_formradio
  !let up_allowcloning=$class_allowcloning
  !default up_allowcloning=no
  !formselect up_allowcloning list yes,no prompt $wims_name_yes,$wims_name_no
    <br>
    <label for="up_cloningpwd">$name_cloningpwd</label>
    <input size="5" name="up_cloningpwd" id="up_cloningpwd" value="$class_cloningpwd">
  </div>
!endif
!if $class_type isin 024
  <div class="field box halfwidth">
    <label for="up_regvars">$name_regvars</label>
  !set wims_ref_class=wims_button_help float_right
  !href cmd=help&special_parm=regvars $wims_name_help
  !set wims_ref_class=wims_formradio
  !let up_regvars=$class_regvars
    <input size="20" name="up_regvars" id="up_regvars" value="$class_regvars">
  </div>
  <div class="field box halfwidth">
    <label for="location">$name_location</label>
    <input type="text" size="$desclim" name="up_location" value="$class_location" id="location" maxlength="$desclim">
    <label for="geoloc">$name_geoloc</label>
    <input type="text" size="$desclim" name="up_geoloc" value="$class_geoloc" id="geoloc" maxlength="$desclim" placeholder="X,Y">
    !! ---------- add to read autocompletion location
    !set auto=!lookup $lang in wimshome/log/stat/geoloc.dictionary
    !if $auto!=$empty
      !read adm/geoloc/$auto
    !endif
    <div class="formHelp">$name_location_help</div>
  </div>
!endif
</fieldset>

<fieldset class="property_fields blockcenter">
  <legend>$wims_name_Sheets</legend>
  <div class="field box">
    <label for="up_exolog">$name_register_exo</label>
!set wims_ref_class=wims_button_help float_right
!href cmd=help&special_parm=config&special_parm2=exolog $wims_name_help
!default class_exolog=2
!let up_exolog=$class_exolog
!formselect up_exolog from 0 to $wims_exolog_limit
</div>

<div class="field box">
  <label for="up_mexolog">$name_config_mexolog</label>
!set up_mexolog=$class_mexolog
!default up_mexolog=no
!formselect up_mexolog list no,yes prompt $wims_name_no,$wims_name_yes
</div>

<div class="field box">
  <label for="up_exotitleform">$name_config_exotitleform &nbsp;</label>
!set up_exotitleform=$class_exotitleform
!default up_exotitleform=0
!formselect up_exotitleform list -1,0,1,2,3 prompt $name_config_exotitleformoption
</div>
<div class="field box">
  <label for="up_authscoresuspend">$name_config_authscoresuspend</label>
!set up_authscoresuspend=$class_authscoresuspend
!default up_authscoresuspend=yes
!formselect up_authscoresuspend list no,yes prompt $wims_name_no,$wims_name_yes
</div>
!set class_option_=!words2items $class_option
!set class_option=!listintersect $class_option_ and showshexpire,showshweight
!set class_optionsh=!items2words $class_option
<div class="field box">
  <label for="up_option">$name_optionword</label>
!set wims_ref_class=wims_button_help float_right
!href cmd=help&special_parm=config&special_parm2=option $wims_name_help
  <input size="40" name="up_option" id="up_option" value="$class_optionsh">
</div>
<div class="field box">
  <strong>$(name_bestscore[1]):</strong>
!set wims_ref_class=wims_button_help float_right
!href cmd=help&special_parm=config&special_parm2=topscores $wims_name_help
!default class_topscores=0
!default class_anonymtopscores=yes
!set up_anonymtopscores=$class_anonymtopscores
  <label for="up_topscores">$(name_bestscore[2])</label>
  <input size="3" name="up_topscores" id="up_topscores" value="$class_topscores">
  / <label for="up_anonymtopscores">$(name_bestscore[3])</label>
!formselect up_anonymtopscores list no,yes prompt $wims_name_no,$wims_name_yes
</div>
</fieldset>

<fieldset class="property_fields blockcenter">
  <legend>$wims_name_Examens</legend>
  <div class="field box halfwidth">
    <label for="up_examlog">$name_register_exam</label>
!default class_examlog=$wims_examlog_limit
!let up_examlog=$class_examlog
!formselect up_examlog from 0 to $wims_examlog_limit
!set wims_ref_class=wims_button_help float_right
!href cmd=help&special_parm=config&special_parm2=examlog $wims_name_help
  </div>
  <div class="field box halfwidth">
    <label for="up_examshow">$name_visible</label>
!set wims_ref_class=wims_button_help float_right
!href cmd=help&special_parm=config&special_parm2=examshow $wims_name_help
!default class_examshow=yes
!set up_examshow=$class_examshow
!formselect up_examshow list no,yes prompt $wims_name_no,$wims_name_yes
  </div>
  <div class="field box fullwidth">
    <label for="up_examscore_withoutip">$name_examscore_withoutip</label>
!let up_examscore_withoutip=$class_examscore_withoutip
!default class_examscore_withoutip=no
!set up_examscore_withoutip=$class_examscore_withoutip
!formselect up_examscore_withoutip list no,yes prompt $wims_name_yes,$wims_name_no
  </div>
  <div class="field box">
  <label for="up_optionex">$name_optionword</label>
!set wims_ref_class=wims_button_help float_right
!set class_optionex=!listintersect $class_option_ and showexexpire,exrandomlist
!set class_optionex=!items2words $class_optionex
!href cmd=help&special_parm=config&special_parm2=optionex $wims_name_help
  <input size="40" name="up_optionex" id="up_optionex" value="$class_optionex">
</div>
</fieldset>
<fieldset class="property_fields blockcenter">
  <legend>$name_advanced</legend>
  <div class="field box">
!set up_ent=$class_ent
  <label for="up_ent">$wims_name_config_ent</label>
!set wims_ref_class=wims_button_help float_right
!href cmd=help&special_parm=config&special_parm2=ent $wims_name_help
  <input size="50" name="up_ent" id="up_ent" value="$class_ent">
  </div>

!!! Unuseful now
!!!if $class_type iswordof 0 2 4
!! !set up_external_auth=$class_external_auth
!!     <div class="field box">
!!       <label for="up_external_auth">$wims_name_external_auth</label>
!!!set wims_ref_class=wims_button_help float_right
!!!href cmd=help&special_parm=config&special_parm2=external_auth $wims_name_help
!!   <textarea name="up_external_auth" id="up_external_auth" cols="50" rows="6">$class_external_auth</textarea>
!!!!<input size="50" name="up_external_auth" value="$class_external_auth">
!!!set up_mixed_external_auth=$class_mixed_external_auth
!!!default up_mixed_external_auth=0
!!!formradio up_mixed_external_auth list 0,1,2 prompt $wims_name_no, $name_mix_auth, $wims_name_yes
!!    </div>
!!!endif

!if $wims_supertype!=4 or $class_typename!=class
  <div class="field box">
    <strong>$name_devaccount</strong>
  !set wims_ref_class=wims_button_help float_right
  !href cmd=help&special_parm=config&special_parm2=modtoolchg $wims_name_help
  !set modtoolchg=1
  !set wims_ref_class=wims_formradio
  !formcheckbox modtoolchg list 0 prompt $wims_name_change
  </div>
!endif

!! Lock does not work
!! <div class="field box">
!!      <label for="up_lock">$name_lock_level</label>
!!  !set wims_ref_class=wims_button_help float_right
!!   !href cmd=help&special_parm=config&special_parm2=lock $wims_name_help
!!  !set up_lock=$class_lock
!!  !default up_lock=0
!!  !formselect up_lock list 0,2,3,4,5,6,7
!!   </div>
</fieldset>
<div class="wimscenter actions">
    <input type="submit" name="save" value="$wims_name_tosave">
 $
    <input type="submit" name="abandon" value="$wims_name_giveup" class="wims_secondary_button">
</div>

!formend

!reset up_institution, up_description, up_supervisor, up_email, \
  up_lang, up_level, up_limit, up_topscores, up_anonymtopscores, up_expiration, up_secure, up_lock,\
  up_option,up_optionex,up_exolog,up_examlog,up_examshow,up_ent,up_external_auth,up_mixed_external_auth,\
  pr_homepage, pr_bgcolor, pr_refcolor, pr_ref_menucolor,pr_ref_button_help_bgcolor,pr_ref_button_help_color,\
  pr_ref_button_color,pr_ref_button_bgcolor,pr_bgimg, pr_css, pr_theme, pr_theme_icon, up_mexolog, up_hideaverage
