!default title=$(module_title_$lang)
!default title=$module_title
!if $job=list
  !set title=$wims_name_config_list
!endif

!if $cmd=help
  !read help.phtml
  !goto end
!else
  !read adm/css.phtml
  !set wims_html_header=!append line \
  <style>\
  .check_all_selection{border-bottom:1px solid #ddd;}\
  .arch_filters { display:flex;flex-wrap:wrap;justify-content:space-between;}\
  .arch_filters>div {width:50%}\
  @media print, screen and (min-width: 40em) {\
    .arch_filters>div {width:33%}\
  }\
  </style>\
to $wims_html_header
  !header1
!endif
!read adm/class/classname.phtml $wims_classname\
$wims_institutionname

!read adm/title.phtml 1\
$classname ($wims_class)\
$title

!if $error!=$empty
  <div class="wims_msg alert">
  !read lang/msg.phtml.$moduclass_lang
  </div>
  !if $wims_user!=supervisor or not_secure iswordof $error
    !goto end
  !endif
!endif

!read $job.phtml
!set wims_menu_items=!append line itemsep,0,\
  to $wims_menu_items
!if $wims_theme_version!=0 and $wims_theme_version!=
 !!set wims_menu_items=!append line config,1,cmd=renew to $wims_menu_items
  !if $job=list and $supertype=4 and $classdepth<=3
    !set wims_menu_items=!append line struct,1,module=adm/class/gateway\
to $wims_menu_items
  !endif
  !set wims_menu_items=!append line config_present,1,cmd=reply&job=present\
  config_list,1,cmd=reply&job=list\
config_oef,1,cmd=reply&job=oefdefault\
  to $wims_menu_items
  !if $class_type iswordof 2 3 4
    !set wims_menu_items=!append line config_propagate,1,cmd=reply&job=propagate\
to $wims_menu_items
  !endif
  !if $classdepth<=1
    !set wims_menu_items=!append line itemsep,0,\
 config_auth,1,cmd=reply&job=authtype\
 to $wims_menu_items
  !endif
  !set wims_menu_items=!append line config_secure,1,cmd=reply&job=security\
to $wims_menu_items

  !set wims_menu_items=!append line itemsep,0,\
save,1,cmd=reply&job=arch&job2=first\
config_clean,1, cmd=reply&job=clean\
to $wims_menu_items

!readproc linkmodule/exploresave.proc
!if $wims_allowlink_exploresave=yes
  !set wims_menu_items=!append line exploresave,1,cmd=new&+module=adm/class/exploresave to $wims_menu_items
!endif

  !set wims_menu_items=!append line itemsep,0,\
config_restr,1,cmd=reply&job=access\
config_score,1,cmd=reply&job=grestrict\
to $wims_menu_items

  !if neighbor isitemof $joballowlist
    !set wims_menu_items=!append line itemsep,0,\
config_neigh,1,cmd=reply&job=neighbor&job2=first&excls=no\
config_otherserver,1,cmd=reply&job=connect&job2=first\
to $wims_menu_items
  !else
    !set wims_menu_items=!append line itemsep,0,\
config_otherserver,1,cmd=reply&job=connect&job2=first\
to $wims_menu_items
  !endif
!else
  !if $job notwordof list new
    !set wims_menu_items=!append line config,1,cmd=renew&job=list\
 to $wims_menu_items
  !endif
!endif
:end
!tail

!reset save, abandon, confirm, clean, allow, except,\
	changeshare, mksharable, stoprec, import, modtoolchg,\
	user_check
