
!readproc lang/names.phtml.$moduclass_lang
!read adm/class/classname.phtml $wims_classname\
$wims_institutionname
!if $job_title=$empty
  !set module_title_lang=!module title_$lang
  !default module_title_lang=$module_title
!else
  !set module_title_lang=$job_title
!endif
!read adm/css.phtml
!if $cmd=help
  !header
  !changeto help.phtml
!endif
!set js=<script src="scripts/js/chooselist.js"></script>
!set wims_html_header=!append line $js to $wims_html_header
!set wims_html_header=!append line \
<style>\
.activity_title { text-align:left; font-weight:bold; font-style:italic;}\
</style>\
to $wims_html_header
!header1
!read adm/title.phtml 1\
$classname\
$(module_title_lang)


!if $error!=$empty
  <div class="wims_msg alert">
    <strong>$wims_name_Error:</strong>
    !read msg.phtml $error
    !reset error
  </div>
  !if $notallowed=1
    !goto end
  !endif
!else
  !if $success!=$empty
    <div class="wims_msg success">
      !read msg.phtml $success
      !reset success
    </div>
  !endif
  !if $warning!=$empty
    <div class="wims_msg warning">
      !read msg.phtml $warning
      !reset warning
    </div>
  !endif
!endif

!read $job.phtml

:end
!reset parmuser1 parmuser2
!if $user!=$empty and $wims_user=supervisor
  !set parmuser1=&job=getuser&getuser=$user
  !set parmuser2=&job=user&user=$user
  !distribute items scores,livret1 into sc,li
!else
  !distribute items Score1,livret into sc,li
!endif
!if $wims_user=supervisor and $job=workingtime
!set wims_menu_items=!append line config,1,module=adm/class/activity&job=cfwtime to $wims_menu_items
!endif
!set wims_menu_items=!append line itemsep,0,$wims_name_Evaluation\
$sc,1,module=adm/class/userscore$parmuser1\
$li,1,module=adm/class/livret$parmuser2\
 to $wims_menu_items
 !if $job!=workingtime
   !set wims_menu_items=!append line workingtime,1,module=adm/class/activity&+job=workingtime&+user=$user to $wims_menu_items
 !endif
 !if $status=OK
   !set wims_menu_items=!append line itemsep,0,\
back2,1,module=adm/class/activity\
to $wims_menu_items
 !endif

!tail

!reset show
