
!if $sstyle=1
  !if $substep=0
    !if $all_steps=0
      !form reply
      在此过程中, <em>最早</em>出错的是哪一步?
      !formselect badstep from 0 to $stepcnt
      (0意指全部正确.)
      <div class="wimscenter">
      <input type="submit" value="提交答案"></div>
    !else
      标出上面<em>所有的</em>错误之处, 然后
      <input type="submit" value="点击这里">.
    !endif
    !formend
  !else
    !if $all_steps=0
      !if $badstep=0
        确实, 所有的过程都是对的.
      !else
        其实错误起始于第$badstep步.
      !endif
    !endif
    得分: $module_score/10.
    !if $expstep!=$empty
      <p>解释.
      </p><ul>
      !for i in $expstep
        <li>第$i步
        !if $i isitemof $badstep
          是对的.
          !line $i of $remarks
        !else
          !set j=!positionof item $i in $bad_steps
          !set e=!item $j of $bad_reasons
          不好.
          !read reasons/$e.det
        !endif
        </li>
      !next i
      </ul>
    !endif
  !endif
!else
  !if $substep=0
    !form reply
    你觉得这<em>最后</em>一步怎么样?
    !formselect ans list --,OK,$bad_reasons prompt 我不知道,\
    	好: 这一步是对的,$bad_rnames
    <input type="submit" value="提交">
    !formend
  !endif

  !if $substep=2
    你答对了:
    !if $step_reason=OK
      最后一步是对的.
    !else
      最后一步是错的.
      正确的应是
      <div class="wimscenter">
      !line $step of $good
      </div>
    !endif
    <p>
    !if $step<$stepcnt
      !href cmd=reply&ans=next 转到下一步.
    !else
      练习结束. 得分: $module_score/10.
    !endif
    </p>
  !endif
!endif
