<!-- $wims_theme/_widgets/site_title-->
<div class="float_left">
  !href module=home&special_parm=logo <img src="gifs/logo.gif" alt="WIMS logo">
</div>
 <div id="wims_title">
 <h1 class="wims_title">
  WIMS
 </h1>
 <h2 class="wims_subtitle">
  $V_title $N_at <a href="/">$httpd_HTTP_HOST</a>
 </h2>
</div>
<!--end $wims_theme/_widgets/site_title-->
