<!-- $wims_theme/_widgets/virtualzone.phtml -->
$table_header
 <caption>$V_cls</caption>
 $table_tr
 <td>
 !href module=adm/class/classes&type=participant $wims_name_n_participant
 </td><td>
 !href module=adm/class/classes&type=supervisor $wims_name_n_supervisor
 </td><td>
 !href module=adm/class/classes&type=example $wims_name_n_example
 </td><td>
 !href module=help/main&chapter=3 $wims_name_whelp
</td></tr>$table_end
<!-- end $wims_theme/_widgets/virtualzone.phtml -->
