<h2 class="wimscenter">限制进入的定义</h2>

<p>
这是逐行执行的多行数据.
其限制仅对资源模块有效, 不影响管理模块.
以 `<span class="wims_code_words">#</span>' 起首的行是注解.
</p><p>
每一行的格式是 <span class="wims_code_words">[进入条件]:[主机条件]</span>.
</p><p>
进入条件是可用 AND 连接的一串词. 可用的词见下表, 每个词均可添加前缀
<span class="wims_code_words">non</span> 表示否定.
</p>
$table_header
$table_tr<th>词</th><th>意义</th></tr>
$table_tr<td class="wims_code_words">class</td><td>连接限于虚拟班内.</td></tr>
$table_tr<td class="wims_code_words">com</td><td>被请求的模块位于 com/ 子树下.</td></tr>
$table_tr<td class="wims_code_words">document</td><td>被请求的模块是文件. (目前尚不可用)</td></tr>
$table_tr<td class="wims_code_words">exercise</td><td>被请求的模块是练习.</td></tr>
$table_tr<td class="wims_code_words">hint</td><td>请求目的是为了提示.</td></tr>
$table_tr<td class="wims_code_words">local</td><td>被请求的模块位于 local/ 子树下.</td></tr>
$table_tr<td class="wims_code_words">recreation</td><td>被请求的模块是游戏.</td></tr>
$table_tr<td class="wims_code_words">tool</td><td>被请求的模块是工具.</td></tr>
$table_tr<td class="tt wims_code_words">freework</td><td>The requested module is a freework.</td></tr>
$table_end

主机条件可以是各种形式的主机定义,必要时可以加上时间限制.
如果主机条件的第一个字符是 ``<span class="wims_code_words">!</span>'',
那么满足条件的主机/时间均被拒绝进入(满足进入条件的资源).
否则那些主机就有权进入, 而以后的各行均被忽略不计.

<hr>

!read help/hosts.phtml

<hr>

一些例子.
<div>
# 不允许来自 134.59.102.* 的机器进入工具.
<pre><span class="wims_code_words">tool:! 134.59.102.</span>
</pre></div><div>
# 不允许 localhost 请求提示.
<pre><span class="wims_code_words">hint:! 127.0.0.1</span>
</pre></div><div>
# 来自 wanadoo.fr 不能匿名进入游戏.
<pre><span class="wims_code_words">recreation nonclass:! .wanadoo.fr</span>
</pre></div><div>
#  localhost 不能在2004新年进入虚拟班.
<pre><span class="wims_code_words">class: ! 127.0.0.1 >20040101.00:00 <20040101.23:59</span>
</pre>
# Work on any activity which is not freework is phohibited from all the network.
<pre>
<span class="tt wims_code_words">nonfreework:!all</span>
</pre>
</div>
