<h2 class="wimscenter">动态绘图</h2>

<p>
你的练习里可以嵌入2D图形(在html格式下).
这些图形是动态的, 也就是说, 你可以在绘画命令里加入变量, 结果也会随着变量取值的变化而变化.
甚至能生成动画.
</p><p>
!!See also
!!!href cmd=help&special_parm=canvasdraw canvasdraw
!!$ $ for more interactivity possibilities.
!!</p><p>
语法&#58; <pre>\draw{xsize,ysize}{命令...}</pre>
其中<span class="tt">xsize, ysize</span>分别是图形的宽度与高度(像素数),
<span class="tt">命令...</span>是命令的内容, 它们分成几行, 每行一个命令.
</p><p>

!href cmd=help&special_parm=draw_example 例.

</p<p><hr/>

!changeto help/cn/flydraw.phtml
