!if $tv_listtechvar=$empty
	Aucune variable technique n'est d閒inie.
	<br>
	Vous pouvez d閒inir des variables techniques :
	<ul>
		<li>借助桌面的链接,</li>
		<li>直接定义参加者帐户的属性,</li>
		<li>利用非匿名投票的迂回方式</li>
	</ul>
	(参见相应的帮助文件), 你就可以利用这些变量过滤参加者.
!else
	Liste des variables techniques disponibles :
	!read adm/vfilter/listvar.phtml
	把需要同时满足的条件写在同一行内, 相互用空格分隔.
照相板将只显示至少满足一行条件的参加者的照片.
<p>例如,</p>
<pre>
groupe=1 langue=2
groupe=3
</pre>
选取这样的参加者: 他们属于群 1 和语言 2, 或者属于群 3.
!endif




