
!set embraced_randitem=<p> \
本栏接受用花括号括起来的随机化.\
</p><p>\
如果在括号里放入一些用逗号分隔的词(或词组),\
当这段文字向学生显示时, 将会从中随机选取一个词.\
这样就会给这段文字加上随机性. </p><p>\
举例来说, 如果你输入以下文字</p><p>\
<span class="tt">{明天, 下星期}我将去{巴黎, 纽约, 伦敦}\
</span>,\
</p><p>将会随机地得到下列句子:<p>\
<pre>\
明天我将去巴黎\
明天我将去纽约\
明天我将去伦敦\
下星期我将去巴黎\
下星期我将去纽约\
下星期我将去伦敦\
</pre>\
</pre>\
如果你想加入数学公式, 你可以不激活此功能,\
通过把按钮 <span class="wims_code_words">\
用花括号括起来的随机化</span> \
设成 <span class="tt">$wims_name_no</span>.

!set name_random=随机生成参数的例: <ul>\
 <li>10 与 100 间的整数 (包括端点):\
     <span class="tt">randint(10..100)</span>\
 </li><li>10 与 1000 间的 10 的倍数 (包括端点):\
    <span class="tt">randint(1..100)*10</span>\
 </li><li> 0 与 2 之间的十进小数:\
    <span class="tt">random(0..2)</span>\
 </li><li>表中的随机项:\
    <span class="tt">randitem(a,b,c,10,100,word,a phrase)</span>\
 </li></ul>

!set name_detail_parm= 点击这里 以了解参数计算的更多详情.

!set credits_help=你可以利用 <span class="tt wims_code_words">$wims_name_credits</span> 给出简短的参考信息,\
例如关于练习中插入的图像.

