!changeto help/fr/sheetpage.phtml
<h3>在作业页展示中使用文件块</h3>

你可以把文件块的地址
(例如 <span class="tt">c1/main</span>)作为作业页的展示页.
文件本身对于参加者而言不必是可读的.
<p>
如果你要使用标准的展示页, 可把这一栏留空.
<p>
对个别练习的链接应该使用命令
<span class="tt">\exercise</span> 定义.
你可以使用以下预定义的变量:
<ul>
 <li><span class="tt">\scorerequire</span>
  每个练习需要的分数.
 </li>
 <li><span class="tt">\scoregot</span> 
 每个练习中参加者得到的分数
 </li>
 <li><span class="tt">\scoremean</span> 
 每个练习的参加者的平均分
 </li>
 <li><span class="tt">\expiration</span> 
 作业页的有效期, yyyymmdd
 </li>
 <li><span class="tt">\today</span> 
 今天的日期, yyyymmdd
 </li>
</ul>
所有的得分参数都是数字的表, 
表的每个项对应于作业页的练习数.

<p>
<b>例</b> : 你正在创建第 5 个作业页.
在文件块 </tt>c1/main</tt> 里, 记录着
<pre>
\exercise{5/1} : 应得分 : \scorerequire[1] 
                 已得分 : \scoregot[1]

\exercise{5/2} : 应得分 : \scorerequire[2]
                 已得分 : \scoregot[2]

\exercise{5/3}{另一标题} : 应得分 \scorerequire[3] ; 
                已得分 \scoregot[3]
</pre>

