
<h2>学校界面的结构</h2>

<a id="institution"></a>
学校结构是由虚拟班构成的多层次格. 格内每个虚拟班称为<em>工作区域</em>或
<em>区域</em>.
<p>
<a id="portal"></a>
学校结构的最高层只有一个称为<em><b>学区</b></em>的区域.
这是公共的进入点, 也用作学校的整体管理. 这个区域里没有实际教学工作.
</p><p>
<a id="level"></a>
紧接在入口下面的区域是<em><b>年级</b></em>. 一个年级对应于一批共享同样年度计划的学生.
</p><p>
年级的作用是构成教育机构的分块. 年级不接受学生登录,
也没有教学任务.
</p><p>
<a id="class"></a>
<em><b>班级</b></em>直接位于年级之下. 班级是共享一个课程表的一批学生.
</p><p>
学生应该登录到班级. 每个学生可以登录一个或几个班级.
</p><p>
<a id="program"></a>
直接在年级下面的还有<em><b>教学计划</b></em>.
每个计划是年级里一个或几个班共享的教学资源的汇总点.
</p><p>
学生不能登录到计划. 教师可以登录到计划(作为主持教师)以准备教材.
</p><p>
<a id="course"></a>
<em><b>课程</b></em>位于最底层. 每门课程属于一个计划, 也属于一个班级.
因此课程对应一个二元组(计划, 班级).
</p><p>
计划的教学资源被它的所有课程共享. 一个班级的学生可在此班级的课程间漫游.
学生的日常作业是在课程里完成的.
</p><p>
计划的教学资源被所有课程共享.
班级里的学生可以在班级的课程间漫游.
学生的工作是在班级里完成的.
</p><p>
一门课程有唯一的教学资源集合以及同一课程表.
</p><p>
<a id="icourse"></a>
一个教学计划也可以有<em><b>跨班课程</b></em>. 这样的课程只属于一个计划,
而任何班级的学生可以注册到跨班课程. 这可用于选修课教学计划.
</p><p>
<a id="test"></a>
每个计划可以有称为<em>测试区域</em>的特殊课程.
教师可在测试区域里准备他们的实验性教材, 完成后再输出到教学计划.
学生看不到测试区的内容.
</p><p>
<a id="partage"></a>
也可以分享多个年级的计划, 从而分享它们的资源. 为此,
</p>
<ol>
 <li>创建一个教学计划. 并使其生效.</li>
 <li>点击一个教学计划的名字. </li>
 <li>建议你与其它年级的计划建立共享.
 请选择感兴趣的计划.
 </li>
</ol>
