!read adm/title.phtml 1\
Regla de càlcul de les notes dels exàmens 

<p>
La nota d'un examen és la millor puntuació obtinguda en cada sessió d'aquest examen. 
</p><p>
La nota d'una sessió d'examen és la mitjana ponderada pels pesos dels exercicis 
de les puntuacions obtingudes per a cada exercici que constitueix l'examen. 
</p>
