<h1>Your new password</h1>
<p>You have requested to change your access password for the WIMS class
  <strong>$class_description</strong>.</p>

<p>Your new password is as follows:</p>
<pre>$npwd</pre>

<p><a href="$wims_ref_name?module=adm/class/classes&type=authparticipant&class=$class">Log in</a></p>
