
<p>
  !read lang/names.phtml.$modu_lang enter
</p>

!set wims_form_method=post
!form new
  <input type="hidden" name="module" value="adm/forum/mboard">
  <input type="hidden" name="job" value="authuser">
  <input type="hidden" name="forum" value="$forum">
  <div class="blockcenter halfwidth">
    <div class="field box">
      <label for="fuser">$wims_name_Login</label>
      <input type="text" name="fuser" id="fuser">
    </div>
    <div class="field box">
      <label for="fpassword">$wims_name_Password</label>
      <input type="password" name="fpassword" id="fpassword">
    </div>
  </div>
  <p class="wimscenter wimsform">
    <input type="submit" value="$wims_name_send">
  </p>
!formend
