
!if $ccnt<1
  <p>
   $name_noforum</p>
   !href module=home $wims_name_home
  !exit
!endif
<p>
$name_number_message
</p>
$table_header
$table_hdtr<th>$wims_name_title</th><th>$wims_name_Status</th><th>$wims_name_Language</th><th>$wims_name_Description</th></tr>
!for i=1 to $ccnt
  !set l=!record $i of $indf
  !distribute items $l into code,la
  !defread wimshome/log/forums/$code/.def
  $table_tr<td style="text-align:center">$mb_title</td>
  <td style="text-align:center">
  !reset user_exists
  !read wimshome/$wims_sesdir/mb_user.$code
  !if $user_exists=$empty
    !if $mb_readpolicy=open
      !href module=adm/forum/mboard&forum=$code $name_visitor
      &nbsp;
    !endif
    !href cmd=reply&type=authuser&forum=$code $name_user
    &nbsp;
    !href cmd=reply&type=authowner&forum=$code $name_owner
    !if * notin $mb_password
      &nbsp;
      !href module=adm/forum/reguser&forum=$code $name_register
    !endif
  !else
    !if $forumuser!=supervisor
      !href module=adm/forum/mboard&forum=$code $name_user
      &nbsp;
      !href cmd=reply&type=authowner&forum=$code $name_owner
    !else
      !href cmd=reply&type=authuser&forum=$code $name_user
      &nbsp;
      !href module=adm/forum/mboard&forum=$code $name_owner
    !endif
  !endif
  </td><td style="text-align:center"><img src="gifs/$la.gif" alt="$la"></td>
  <td>$mb_description</td>
!next i
</tr>
$table_end

!read lang/names.phtml.$modu_lang create
