!distribute item $insdraw_size into java_width, java_height

!set java_background=$imgsrc
!set java_reply=+cmd=reply&+javaoutput=
!default java_prompt=$wims_name_send

!read anstype/jsxgraphcurve.inc $javaoption,jsreply,$java_width,$java_height,$java_background,

<div class="jsxgraph_button">
<span onclick="efface();" class="wims_button" style="cursor:pointer;">$wims_name_erase</span>
</div>
 <div class="wimscenter wimsform">
<input type="submit" name="reply" value="$java_prompt" onclick="capture();">
<input type="hidden" name="javaoutput" id="jsreply" value="">
</div>
