!if $error!=$empty
 <div class="wims_msg alert">
 !read docu/$modu_lang/msg.phtml
 </div>
!endif

!if $doccnt<1
  !if $wims_class!=$empty and $wims_user!=supervisor
    $name_home_warning
  !else
    !if $authoring=$empty
      $name_nodocument1
    !else
      $name_nodocument2
    !endif
  !endif
!else
  !if $ii>0
    !read scripts/table.phtml
  !else
    !if $wims_class!=$empty
      $name_listdoc1
    !else
      $name_listdoc2
    !endif
    <ul>
    !for t=1 to $doccnt
      !set s_=!line $t of $slist
      !set t_=!line $t of $tlist
      !set a_=!line $t of $alist
      !set t_=!trim $t_
      !default t_=$n_notitle
      <li>
      !href module=$module&cmd=reply&job=read&doc=$s_&block=main $t_
      !if $wims_ismanager=2
 $
        !set wims_ref_class=wims_button wims_warning
        !href cmd=reply&job=erase&doc=$s_ $wims_name_erase
 $
      !endif
      <span class="small">$n_by $a_</span>
      </li>
    !next t
    </ul>
  !endif
!endif

!if $wims_class=$empty and $wims_ismanager<2
  !form reply
  <p>
  $name_listauthor:
  <input size="20" name="authoring" value="$authoring">
  <input type="submit" value="$wims_name_tosave">
  </p>

  !formend
!endif

!if $wims_ismanager<2 and ($wims_class=$empty or $wims_user=supervisor)
  !set wims_menu_items=!append line createdoc,1, cmd=reply&job=creat\
doctry,1,cmd=reply&job=auth2&doc=$draftd&block=main&coder=dddd\
  to $wims_menu_items
!endif

!tail
