!!##language independant
<h1 class="wims_docu_title">$tit</h1>

<h3>$titb ($n_preview)
<span class="small">[
!href cmd=reply&job=edit&currcont=yes $wims_name_Edit
 ] [
!href cmd=reply&job=edit&rEg=yes&Titb=$titb&Keyw=$keyw&Prev=$prev&Next=$next $wims_name_tosave
 ] [
!href cmd=reply&job=read $wims_name_giveup
 ]
</span>
</h3>

!read wimshome/$wims_sesdir/doc.def

<hr>
<div class="wimscenter">$n_blockpreview <span class="tt">$block</span></div>

