!!##language independant
<h1 class="wims_docu_title">$tit</h1>

!if $error!=$empty
  <div class="wims_msg alert">
  !read docu/$modu_lang/msg.phtml
  </div>

!endif

!read propform.phtml

!if class != $doctype
  !set wims_menu_items=!append line "$n_codechange",1,cmd=reply&job=recode\
    to $wims_menu_items
!endif
!reset wims_target
!set wims_menu_items=!append line blocklist,1,cmd=reply&job=list\
doch_upload,1,cmd=reply&job=file\
   to $wims_menu_items

!if $transferable=yes
  !set wims_menu_items=!append line doch_transfer,1,cmd=reply&job=transfer\
   to $wims_menu_items
!endif
<div>
  !readproc adm/class/classlang lang/scriptadmclass.phtml adm_class_quotafree
  <p>$n_codedoc $doc.</p>
  !if $doctype!=class
    <p>$n_freespace1 $quota_total $name_mega</p>
    <p>$n_freespace2 $quota_free $name_mega</p>
  !else
    !read adm/class/quotafree.proc html
  !endif
</div>
