
<h1 class="wims_docu_title">$tit</h1>

!if $error!=$empty
  <div class="wims_msg alert">
  !read docu/$modu_lang/msg.phtml
  </div>
!endif

!set wims_form_method=post
!form reply
 <fieldset class="property_fields halfwidth blockcenter">
  <legend>$n_codechange $name_editable</legend>
   <div class="field box">
    <div>
      <label for="coder1">$name_code1 $name_editable</label>
       <input type="password" size="20" name="coder1">
    </div>
    <div>
      <label for="coder">$name_code2 $name_editable</label>
        <input type="password" size="20" name="coder">
    </div>
    <div>
      <label for="coder2">$name_code3 $name_editable</label>
      <input type="password" size="20" name="coder2">
    </div>
    <div class="formHelp">
     $name_code4
    </div>
    </div>
    </fieldset>
    <fieldset class="property_fields halfwidth blockcenter">
  <legend>$n_codechange $name_readable</legend>
    <div class="field box">
    <div>
      <label for="coderr1">$name_code1 $name_readable</label>
       <input type="password" size="20" name="coderr1">
    </div>
    <div>
      <label for="coderr">$name_code2 $name_readable</label>
        <input type="password" size="20" name="coderr">
    </div>
    <div>
      <label for="coderr2">$name_code3 $name_readable</label>
      <input type="password" size="20" name="coderr2">
    </div>
    <div class="formHelp">
   $name_coder4
   </div>
    </div>
</fieldset>
<div class="wimscenter wimsform">
      <input type="submit" value="$wims_name_tosave">
      <input type="submit" name="abandon" value="$wims_name_giveup" class="wims_secondary_button">
</div>
!formend
