
!if $prelogcnt<1
  $name_noexercise
  !exit
!endif

$name_listexercise:

!read tabletheme

$table_header
$table_hdtr
  <th class="small">$name_number</th>
  <th class="small">$name_Steps</th>
  <th>$wims_name_Score1</th>
  <th></th>
  <th>$wims_name_title</th></tr>
!for i=1 to $prelogcnt
  !set l=!word $i of $prelog3
  !set e=!item -1 of $l
  !set c=!recordcnt wimshome/$wims_sesdir/exolog.$logsheet.$e
  !set s=!getdef w_module_score in wimshome/$wims_sesdir/exolog.$logsheet.$e
  !default s=-
  !set V_=!record $e of wimshome/log/classes/$wims_class/sheets/.sheet$logsheet
  !distribute lines $V_ into a,a,a,a,T_,D_
    $table_tr<td>$e</td>
    <td>$c</td>
    <td>$s</td>
    <td class="small">
    !href cmd=reply&job=log&logsheet=$logsheet&logexo=$e&checkuser=$wims_user $wims_name_tosave
    </td>
    <td>$T_ <span class="small">$D_</span></td>
    </tr>
!next i
$table_end
