本文件尚未完成 ...
<p>
许多开源的 Java 小工具(applets) 略作修改就能用于 WIMS.<br>
例如，WIMS 可以动态地设置小工具,
学生在小工具里的活动被读取并送回 WIMS 作为回答.
(通过 java 脚本)

!read tabletheme
!set cnt=!recordcnt interface2
!for j=1 to $cnt
  !set interf=!record $j of interface2
!!$table_header
<table class="wimstable" bgcolor="#a08060" border="0" cellpadding="3" cellspacing="1" width="75%">

$table_tr
<th width="150">$wims_name_name</th><td>
!line 1 of $interf
</td>
$table_tr
<th>$wims_name_Author</th><td>
!line 2 of $interf
!!!exec $name about
</td>
$table_tr
<th>$wims_name_Address</th><td>
!line 3 of $interf
</td>
$table_tr
<th>Use</th><td>
!line 4 of $interf
</td>
$table_end
<p>
!next
