
<p><h4>Wims相对于其它本地安装软件的优点</h4>
<ol>
  $tit 用户不需要对软件安装或升级.$titend
     背景软件的安装与升级都是由服务器完成的. 对于用户机器来说,
     只要有一个通用的网页浏览器就够了, 而且不一定要最新的版本.
  $tit 不需要学习各种软件包的用法与语法.$titend
     由于wims使用html标准作为用户界面, 为了使用wims, 用户或者学生只要具有上网浏览的知识就够了,
     这在目前可以看成是常识了. <br>
     而目前任何一种数学软件都不是这样的. 用户在使用它们前都需要有一个训练阶段.
     这个训练阶段可能不会太短. 而且使用一种特定软件的经验并非普遍适用,
     更何况这种经验可能只有不长的存续时间.
     此外, 教授商业软件的使用知识也有悖于公共教育机构的商业中立性.
  $tit 提供了汇集整个数学教育界的知识和经验的手段.$titend
     Wims是一个模块系统, 其中每一个活动都是分离的模块,
     它们之间的联系是通过通常的html方法实现的.
     这使得模块可以独立地、远程地开发.
     我们希望越来越多的教育者可以通过创建新模块或改进已有模块的方式把他们的知识和经验加入wims系统.
  $tit 允许学生和教师通过多种方式互动.$titend
     以
     $(ref1)class$(ref2)class">班级</a>结构组织起来的wims系统允许教师为他们的学生布置作业,
     而且从学生的实时进展情况获得可信的信息.
     这使得教师可对学生实行更有针对性的指导.
     这样以因特网为基础的系统的最大优点是没有网站限制,
     在任何(本地或远程的)网站上做的工作都是有效的.
  $tit 提供不同成分之间, 例如练习与计算工具间的动态互动.$titend
     例如目前已有的练习软件都不能像wims那样提供与计算工具联动的易用接口.
  $tit 对于某些任务, wims比任何已有的软件更加有力.$titend
     这是因为wims可以使用不同软件作为后台引擎,
     甚至调动几个软件解决一个任务或请求.
</ol>

<hr><h4>Wims相对于其它本地安装软件的缺点</h4>
<ol>
  $tit 反应慢.$titend
     这是因为wims的请求都要通过因特网, 这可随着因特网速度的提高而得到改善.
  $tit 有限的计算与编程能力.$titend
     如果用户有繁重的计算任务或者需要设计复杂的脚本才能完成计算,
     他当然应该直接使用适当的软件. Wims不是用来解决这类问题的.
  $tit 有限的图形界面能力.$titend
    html的图形用户界面不适合需要互动的工作.
</ol>

<hr><h4>Wims对手持计算器的优点</h4>
<ol>
  $tit 易于使用.$titend
     Wims使用的网页用户界面比任何计算器更易于理解.
  $tit 功能更强. $titend
</ol>

<hr><h4>Wims 对手持计算器的缺点</h4>
<ol>
  $tit 不是可携带的.$titend
     只有与因特网相连的计算机才能进入wims.
</ol>

<hr><h4>Wims相对于只以java或javascript为基础的互动式网页应用程序的优点</h4>
<ol>
  $tit 能力更强, 功能更多样.$titend
     由于wims在应用中可以嵌入java或javascript程序,
     经过巧妙设计的wims应用能够扩展java或javascript的能力. <br>
     而且wims可以做得更多:
     尽管从理论上说, 可以发展java应用程序使得它与wims的后台软件具有同样强的能力,
     但这需要花太大的力气(设想一下, 用java重写TeX可能吗?),
     即使写出来也是其大无比, 不可能在http询问时装入.
  $tit 更易于发展.$titend
     这是因为wims语言以html为基础(易于学习), 而且为此目的作了扩展.
  $tit 允许学生教师间互动.$titend
     以服务器为基础的与学生互动的设计允许与主持教师的后台交流,
     还可以作解题分析, 指导教师的自动干预等.
</ol>

<hr><h4>Wims相对于只以java或javascript为基础的互动式网页应用程序的缺点</h4>
<ol>
  $tit 反应速度慢.$titend
     这是因为wims的请求都要通过因特网, 这可随着因特网速度的提高而得到改善.
     在需要快速反应的场合, 也可以在wims模块里嵌入java或javascript.
</ol>



