
<h4>数组</h4>
在wims语言中对于数组并没有特殊的语法.
不过有可能设计类似于数组的变量结构, 以整数甚至字符串作为下标.
这可通过嵌套的变量替换实现. 例如 ...

<hr><h4>字符串的域</h4>
Wims的变量都是字符串变量. 有3种方法把一个串分成几个域:
<ul><li>作为一个词表, 用空格分隔. 相连的空格用作域的分隔符时被看作一个.
<li>作为行的表, 用换行符作为分隔. 相继的换行符被看作隔开的空行.
<li>作为项目的表, 用逗号 ($emph,$emphend) 分隔.
相继的逗号被看作隔开的空项.
</ul>

<p>
本节尚未完成. 抱歉.

