
当前版本的 wims $wims_version 有以下模块可以展示 wims 系统的能力.

<ul>
  <li>请看
   !href target=wims_demo module=tool/geometry/animtrace&cmd=intro 轨迹动画
$(): 它能画出曲线和曲面, 还能缩放、变形、旋转, 远比你想象的容易.
  <li>游戏
   !href target=wims_demo module=U2/algebra/qpuzzle 数学拼图
   让你看到多媒体手段如何能与抽象数学概念完美结合.
  <li>游戏-练习
   !href target=wims_demo module=H6/geometry/coincfree 徒手拟合
   显示了创建新形式的互动式图形练习的可能性.
  <li>练习
   !href target=wims_demo module=U1/algebra/corresjs 对应
   使你看到在wims应用中嵌入javascript互动性的可能性.
  <li>练习
   !href target=wims_demo module=U1/algebra/accordance 求多项式
   显示了连接各种wims应用的可能性:
   除了难度最低的练习外, 只有当用户能在计算机上解线性方程组时,
   这个练习才是实际可行的. 线性方程组求解工具(另一个wims模块)现在可从练习页面上通过超链接直接进入.
   为了教导学生选择合适的工具, 还特地加了几个不相干的链接. <br>
   请注意, 在两个模块之间不能直接作数据交换, 这是有意这样设计的,
   目的是迫使学生自己输入矩阵.
  <li>工具
   !href target=wims_demo module=tool/analysis/function 函数计算器
   显示有可能创建一个页面, 它既是功能强大的, 又是便于使用的.
   通过在后台把作图软件(gnuplot)、符号计算软件(Maxima)和数值计算软件(pari)连接在一起,
   使得用户只要用鼠标点击他看到的曲线上的根(或局部极值),
   马上就能得到这个根(或局部极值)的任意精度的值. <br>
   为做到这一点, 软件在后台被动态调用.
   首先使用 gnuplot 画出已知区间里的曲线. 当用户点击时,
   gp 被用来在此附近找出一个根. 如果失败了, 就调用 Maxima 以计算函数的形式导数,
   然后再次调用 gp 以算出此点附近的导函数的根(这就是局部极值).
  <li>这个文件本身又是wims动态地重组文件内容的极好例证.
   只要改变一个参数, 文件的内容就能按各种方式被重组、分割或选取.
   (附带说一下, 这个文件本身就是wims的一个模块.)

</ul>

