<p>
你应该验证下述内容.
<ol>
 <li>找一个 wims 服务站, 查证
  <a href="html/policy.html">网站策略</a> 或联系网站管理员,
  以确认他们是否对放置你的页面感兴趣. <p>
  如果此网站有一个测试服务器, 你可以要求网站管理员给你一个测试帐户.
  这使得你可以频繁地测试你的草稿页.
  <p>
  https://wims.univ-cotedazur.fr 包含这样一个测试服务器, 它欢迎所有想写数学网页的人.
  但是对于非欧洲用户可能连接速度会很慢.
  </li><li>从你的浏览器连接到测试服务器,
  提交你的已有的 html 文件, 然后 http 到这个页, 看看它是否在那里.
  现在添加一些数学符号, wims 变量及命令到你的文件, 再次提交,
  刷新你的网页, 看看是否成功. 若有错误, wims 服务器会向你的浏览器发送出错信息.
  继续此过程, 直至一切正确位置.
  <p>
  你只需提交你的网页. 图形文件可以留在原处,
  不过你要注意你发送的网页上的链接使用的是绝对地址.
  </li><li> 请阅读技术说明书的相应章节以了解如何在你的文件里添加变量及命令.<p>
  简而言之, 变量就是用美元符号 $emph $$$emphend 当头的一个字符串.
  你可以使用预定义的变量 (见
  $(ref1)varspecial$(ref2)varspecial"">$title_varspecial</a>), 或定义你自己的变量
  (利用命令
  $(ref1)cmdlist_let_&+cmd_choose=all$(ref2)cmdlist_let_">!set</a>).
  <p>
  wims 命令是以惊叹号 $emph !$emphend 当头的一个字符串, <b>
  不过必须出现在行首</b>. 命令表以及它们的语法可参见
  $(ref1)cmdlist$(ref2)cmdlist">这里/a>.
!!  </li><li>如果你想使你的网页能被未来的 wims 搜索引擎看到,
!!  请复制一个模板文件
!!  (<a href="modules/light/template.en.phtml">英文版</a> 或
!!  <a href="modules/light/template.fr.phtml">法文版</a>), 根据你的需要修改头部,
!!  并把它放到你的网页内.
  </li><li>你也可以复制一个已有的网页源码,
  研究它的结构, 修改后为你所用 (如果这个文件的版权规定允许你这样做).
  请浏览
  <a href="modules/">模块目录</a>, 其中包含了所有的模块.
  </li><li>当你认为你的网页已经完成, 请发电邮给网站管理员,
  请他把你的网页从测试服务器转移到 wims 公众服务器.
  </li><li>一旦你的网页出现在公众网站上, 你可以使用指向它的链接,
  也可把它的地址提交给搜索引擎.
  <p>

</ol>

<p><hr></p>
<center><h3>重要注意事项</h3></center>
<p>在编写 phtml 文件时, 请注意以下几点.
<ol>
 <li>你可以把任何网页编辑器的网页改写成 phtml 文件.
  但是一旦你添加了 wims 命令, 你就不能再用网页编辑器修改.
  因为 WIMS 只认识行首的命令, 而大多数网页编辑器会对你的文件重新格式化.
  你应该使用通常的文本编辑器.
  </li><li>如果你的文件原来就含有以美元号 $emph$$$emphend 起首的词,
  它又不是 wims 变量, 那么请你把美元号改成两个重复的美元号.
  否则在浏览时会看不到你的美元号.
  </li><li>如果不是出于 wims 的目的, 应避免行首出现 $emph !$emphend 或 $emph:$emphend.
</ol>
<hr>
如果你有问题, 请
!mailurl xiao@unice.fr 给我发电邮
或参看
<a href="http://www.listes.cri74.org/wws/info/wims">WIMS 邮件表</a>.

