<HTML><HEAD>
!!if $style != folding
!if $style = $empty
  wims_expire=
!endif
$wims_html_header

</HEAD>
<BODY $wims_htmlbody>
!robottrap
!headmenu

<CENTER>
<h1>
!href cmd=renew&style=$style $module_title
</h1>
</CENTER> <p>
本文件目前显示成$emph$style$emphend格式.
你也可以改成
!set already=
!for s in integral,indexed,folding
 !if $s != $style
  !if $already != $empty
或
  !endif
  !href cmd=resume&style=$s $s
  !set already=yes
 !endif
!next s
格式. 这里还有
 !href module=help/main.$lang 总帮助
以及关于WIMS的
<a href="https://wims.univ-cotedazur.fr/paper/wims/wims.html">一篇文章</a>.
<p>

!if $style=integral or $style=indexed
 <a name="index"><center><h2>-------- 目　录 --------</h2></center></a><ul>
 !for set in user,ref
  <li><h4>$(title_$set)</h4>
  <ol>
  !for i in $($(set)_doc)
   <li>
   <a name="toc_$i"></a>
   $(ref1)$i$(ref2)$i">$(title_$i)</a>
  !next i
  </ol> <p>
  !next set
 </ul>
!else # folding
 <p>在标题上点击可以把它的内容展开或折迭起来.
 !for set in user,ref
  <p><hr><center><h2>$(title_$set)</h2></center>
  !for i in $($(set)_doc)
   <a name=$i></a>
   !if ,$i isin $expand
    <hr><h3>
    !href cmd=resume&op=close&subject=$i#$i $(title_$i)
    </h3>
    !read $i.phtml
    <p><hr>
   !else
    <h4>$(ref1)$i$(ref2)$i">$(title_$i)</a></h4>
   !endif
  !next i
 !next set
!endif integral or indexed versus folding

!if $style=integral
 !for i in $user_doc,$ref_doc
  <a name=$i>
  <hr><center><h3>$(title_$i)</h3></center>
  </a>
  !read $i.phtml
  <p>
  <a href=#index>目录</a>
 !next i
!endif

!if $style=indexed
 !for set in $user_doc,$ref_doc
  !if $set isin $subject
   <a name=$set></a>
   <hr><center><h3>$(title_$set)</h3></center>
   !read $set.phtml
   <p>
  !endif
 !next set
!endif

!tail

