<p>
!read tabletheme
符号名以对应的TeX名为依据.
<p>
$table_header
$table_tr<th>符号<th>名称
$table_tr<td>$m_alpha, $m_beta, $m_gamma,... $m_pi,... $m_omega
    <td><span class="tt">$$m_alpha,$$m_beta,$$m_gamma...$$m_pi...$$m_omega</span>
$table_tr<td>$m_Gamma, $m_Delta, $m_Lambda, $m_Phi, $m_Psi, $m_Pi, $m_Sigma,

	$m_Theta, $m_Xi, $m_Upsilon, $m_Omega
    <td><span class="tt">$$m_Gamma, $$m_Delta, $$m_Lambda, $$m_Phi, $$m_Psi, $$m_Pi,</span>
    	$$m_Sigma, $$m_Theta, $$m_Upsilon, $$m_Xi, $$m_Omega
$table_tr<td>$m_varepsilon, $m_varphi, $m_wp, $m_ell, $m_Re, $m_Im
    <td><span class="tt">$$m_varepsilon, $$m_varphi, $$m_wp, $$m_ell, $$m_Re, $$m_Im</span>
$table_tr<td>$m_aleph, $m_infty, $m_nabla, $m_partial
    <td><span class="tt">$$m_aleph, $$m_infty, $$m_nabla, $$m_partial</span>
$table_tr<td>$m_AA, $m_CC, $m_RR, $m_QQ, $m_ZZ ...
    <td><span class="tt">$$m_AA, $$m_CC, $$m_RR, $$m_QQ, $$m_ZZ ...</span>
$table_tr<td>$m_calA, $m_calB,... $m_calM,... $m_calZ
    <td><span class="tt">$$m_calA, $$m_calB,... $$m_calM,... $$m_calZ</span>
$table_tr<td>$m_eufa, $m_eufb,... $m_eufm,... $m_eufz
    <td><span class="tt">$$m_eufa, $$m_eufb,... $$m_eufm,... $$m_eufz</span>
$table_tr<td>$m_le, $m_ge, $m_pm, $m_times, $m_div
    <td><span class="tt">$$m_le, $$m_ge, $$m_pm, $$m_times, $$m_div</span>
$table_tr<td>$m_neq, $m_equiv, $m_cong, $m_approx
    <td><span class="tt"> $$m_neq, $$m_equiv, $$m_cong, $$m_approx</span>
$table_tr<td>$m_leftarrow, $m_rightarrow, $m_mapsto,
	$m_Leftarrow, $m_Rightarrow, $m_Leftrightarrow
    <td><span class="tt">$$m_leftarrow, $$m_rightarrow, $$m_mapsto,</span>
    	$$m_Leftarrow, $$m_Rightarrow, $$m_Leftrightarrow
$table_tr<td>$m_exists, $m_forall, $m_in, $m_emptyset
    <td><span class="tt">$$m_exists, $$m_forall, $$m_in, $$m_emptyset</span>
$table_tr<td>$m_subset, $m_supset, $m_subseteq, $m_supseteq,
	$m_cap, $m_cup, $m_prec, $m_succ
    <td><span class="tt">$$m_subset, $$m_supset, $$m_subseteq, $$m_supseteq,</span>
    	$$m_cap, $$m_cup, $$m_prec, $$m_succ
$table_tr<td>$m_sum, $m_prod, $m_coprod, $m_surd
    <td><span class="tt">$$m_sum, $$m_prod, $$m_coprod, $$m_surd</span>
$table_tr<td>$m_int, $m_oint, $m_Vert, $m_oplus, $m_otimes
    <td><span class="tt">$$m_int, $$m_oint, $$m_Vert, $$m_oplus, $$m_otimes</span>
$table_tr<td>$m_bigtriangleup, $m_bigtriangledown, $m_bigvee, $m_bigwedge
    <td><span class="tt">$$m_bigtriangleup, $$m_bigtriangledown, $$m_bigvee, $$m_bigwedge</span>
</table></center>
<p>
此外, 大型括号可由以下名称得到:
<span class="tt">$$m_leftpar2, $$m_leftpar3,..., $$m_leftpar10</span> 与
<span class="tt">$$m_rightpar2, $$m_rightpar3,..., $$m_rightpar10</span>.
它们可用于行数等于 2,3,...,10 的矩阵. 对 <span class="tt">leftbrace</span>
与 <span class="tt">rightbrace</span> 有同样的情形.

