!set x=<i>x</i>

<p>
$x 是实数, 它可用表达式替换变成符合函数.
<p>
$table_header
$table_tr
$table_tr<th>函数<th>描述<th>如何输入
$table_tr<td>$m_pi
    <td>圆周率<td>
    <tt>pi</tt> 或 <tt>Pi</tt> 或 <tt>PI</tt>
$table_tr<td><i>e</i><td>自然对数的底<td>
    <tt>e</tt> 或 <tt>E</tt>

$table_tr<td>|$x|<td>$x 的绝对值<td><tt>abs(x)
$table_tr<td>sign($x)<td>$x 的符号:
       <br>&nbsp;=-1 若 $x&lt;0<br>&nbsp;=0 若 $x=0<br>&nbsp;=1 若 $x>0
       <td><tt>sign(x)
$table_tr<td>
    !instex $$ \sqrt x $$
    <td>$x 的平方根
    <td><tt>sqrt(x)</tt> 或 <tt>x^(1/2)</tt>
$table_tr<td>?<td>最接近 $x 的整数<td><tt>rint(x)</tt>
$table_tr<td>?<td>l<=$x 的最大整数<td><tt>floor(x)</tt>
$table_tr<td>?<td>>=$x 的最小整数<td><tt>ceil(x)</tt>
$table_tr
$table_tr<td><i>e<sup>x</sup><td>指数<td>
    <tt>exp(x)</tt> 或 <tt>e^x</tt> 或 <tt>E^x</tt>
$table_tr<td>ln($x)<td>自然对数<td><tt>log(x)</tt> 或 <tt>ln(x)</tt>
$table_tr
$table_tr<td>sin($x)<td>正弦<td><tt>sin(x)
$table_tr<td>cos($x)<td>余弦<td><tt>cos(x)
$table_tr<td>tg($x)<td>正切<td><tt>tan(x)</tt> 或 <tt>tg(x)</tt>
$table_tr<td>ctg($x)<td>余切<td><tt>cotan(x)</tt> 或 <tt>ctg(x)</tt>
    </tt> <br> 或 <tt>cot(x)
$table_tr<td>arcsin($x)<td>反正弦<td><tt>asin(x)</tt> 或
    <tt>arcsin(x)</tt>
$table_tr<td>arccos($x)<td>反余弦<td><tt>acos(x)</tt> 或
    <tt>arccos(x)</tt>
$table_tr<td>arctg($x)<td>反正切<td><tt>atan(x)</tt> 或
    <tt>arctan(x)</tt> <br>或 <tt>arctg(x)</tt>
$table_tr
$table_tr<td>sh($x)<td>抛物正弦<td><tt>sh(x)</tt> 或 <tt>sinh(x)</tt>
$table_tr<td>ch($x)<td>抛物余弦<td><tt>ch(x)</tt> 或 <tt>cosh(x)</tt>
$table_tr<td>th($x)<td>抛物正切<td><tt>th(x)</tt> 或 <tt>tanh(x)</tt>
$table_tr<td>Argsh($x)<td>反抛物正弦<td><tt>asinh(x)</tt> 或 <tt>argsh(x)</tt>
    <br>或 <tt>Argsh(x)</tt>
$table_tr<td>Argch($x)<td>反抛物余弦<td><tt>acosh(x)</tt> 或 <tt>argch(x)</tt>
    <br>或 <tt>Argch(x)</tt>
$table_tr<td>Argth($x)<td>反抛物正切<td><tt>atanh(x)</tt> 或 <tt>argth(x)</tt>
    <br>或 <tt>Argth(x)</tt>
$table_tr<td>max(x,y)<td>x 与 y 中的大者<td><tt>max(x,y)</tt>
$table_tr<td>min(x,y)<td>x 与 y 中的小者<td><tt>min(x,y)
$table_tr<td>gcd(x,y)<td>最大公因数<td><tt>max(x,y)
$table_tr<td>lcm(x,y)<td>最小公倍数<td><tt>min(x,y)
</table></center>
!exit

!! Add the following:
<ul>
<li>lg(x): 常用对数 10</LI>
<li>j0(x), j1(x), y0(x), y1(x): Bessel 函数</LI>
</ul>

