<ol>
  $tit Intelligent translations of mathematical expressions $titend
      between the following formats: <ul>
        <li>raw math expression, recognizable by most mathematical softwares.
	<li>error-tolerant raw math expression: 2x will be understood as
            2*x, etc.
	  <br>(Implementation started since version 0.11.2)
	<li>html-formatted math, to display a math expression as correctly
            as possible using html capabilities.
	    <br>(Implementation started since version 0.11.6)
	<li>When this should be available: Math-ML language.
	<li>TeX-source, which can be either displayed formatted via instex,
	    or sent as-is (so the user may incorporate it into
	    his TeX documents).
	<li>LyX-source? LyX formatted math is not as beautiful as TeX, but
            is much faster. We need a utility to process LyX sources,
            outputing the result to a gif file.
      </ul>

  $tit More mathematical functionalities built into wims server:$titend
      complex numbers, multi-variable functions, numerical substitution of
      variables in mathematical expressions, etc.

  $tit Interface to more software packages. (Including a proof-verification
      system?)$titend

  $tit Colored math fonts and TeX formulas. $titend
      To allow people to make pages with various (or dynamic)
      foreground/background color settings, with math fonts and TeX formulas
      following these settings.

  $tit Incorporation of remote (and non-wims) URL's into wims system.$titend

  $tit Utilities to allow people to develop wims applications from their
      remote sites.$titend

  $tit A more complete wims language: while loop, case, etc.$titend

</ol>


