<p>$name_intro.</p>
<div>
  !if $nbw_user>0
    $nbw_user
    !if $nbw_user=1
      $(name_user[3]) $(name_without[1]).
    !else
      $(name_user[4]) $(name_without[2]).
    !endif
  !endif
  !if $nbw_teacher>0
    $nbw_teacher
    !if $nbw_teacher=1
      $(name_user[1]) $(name_without[1]).
    !else
      $(name_user[2]) $(name_without[2]).
    !endif
  !endif
</div>
!form reply
  <fieldset class="property_fields blockcenter">
    <legend>$name_title1</legend>
    <div class="field box fullwidth">
      <strong>$name_sender:</strong> <span>$supervisorname</span>
    </div>
    <div class="field box fullwidth">
      <label for="subject">$name_subject</label>
      <input name="subject" id="subject" size="45" value="$subject" required="required">
    </div>
    <div class="field box fullwidth">
      <label for="msg">$name_message</label>
      <textarea name="msg" id="msg" cols="40" rows="5" required="required">$msg</textarea>
    </div>
    <div class="field box">
      !formcheckbox selfsend list 1 prompt $name_selfsend
    </div>
    !if $nb_teacher>0
      <div class="field box">
        !formcheckbox sendotherteacher list 1 prompt $name_sendotherteacher
      </div>
    !endif
    <div class="field box fullwidth">
      !default method=all
      !if $jquery_defined=yes
        !read proc/selectrecipient.jquery
      !else
        !read proc/selectrecipient.old
      !endif
    </div>
  </fieldset>
  <input type="hidden" name="job" value="preview">
  <div class="wimscenter">
    <input type="submit" name="reg" value="$wims_name_send">
  </div>
!formend

!reset selfsend sendotherteacher

