
!if $sendermail=$empty
 <div class="wims_msg warning">$name_nosendermail</div>
!endif

!if $step=1
  !form reply
  <fieldset class="property_fields blockcenter">
    <legend>$name_title2</legend>
    <div class="field box fullwidth">
      <strong>$name_sender:</strong> <span>$sendername</span>
    </div>
    <div class="field box fullwidth">
      <strong>$name_recipient:</strong> <span>$recipientname</span>
    </div>
    <div class="field box fullwidth">
      <label for="subject">$name_subject</label>
      <input name="subject" id="subject" size="45" value="$subject" required="required">
    </div>
    <div class="field box fullwidth">
      <label for="msg">$name_message</label>
      <textarea name="msg" id="msg" cols="40" rows="5" required="required">$msg</textarea>
    </div>
    !if $sendermail!=$empty
      <div class="field box">
        !formcheckbox selfsend list 1 prompt $name_selfsend
      </div>
    !endif
  </fieldset>
  <input type="hidden" name="step" value="2">
  <div class="wimscenter">
    <input type="submit" name="reg" value="$wims_name_send">
  </div>
  !formend
  !reset selfsend
  !exit
!endif

!if $step=2
<p class="wims_msg info">$name_warning</p>
<div class="field box">
<dl class="field">
  <dt>$name_subject</dt>
  <dd>$save_subject</dd>
  <dt>$name_message</dt>
  <dd><textarea rows="5" readonly="readonly" disabled="disabled">$save_msg</textarea></dd>
  <dt>
    !if $save_selfsend=1
      $name_recipients
    !else
      $name_recipient
    !endif
  </dt>
  <dd>$recipientname
    !if $save_selfsend=1
      $sendername
    !endif
  </dd>
</dl>
</div>
<div class="wimscenter">
      !set wims_ref_class=wims_button
      !href cmd=reply&job=$job&step=3 $wims_name_send
      &nbsp;
      !set wims_ref_class=wims_button wims_secondary_button
      !href module=home $wims_name_giveup
</div>
!set wims_menu_items=!append line back2,1,cmd=reply&job=$job&step=1\
 to $wims_menu_items

!endif

!if $step=3
<div class="wims_msg success">
  $name_success
</div>
!endif


