
!read Exindex
!set exocnt=!itemcnt $exolist
!set qcnt=8
!if $qcnt>$exocnt
  !set qcnt=$exocnt
!endif
!if $exocnt<1
  Helaas, deze module heeft op dit moment nog geen oefeningen.
  Kom later maar eens terug!
  !exit
!endif
!if $exocnt=1
  Deze module bevat precies 1 oefening , <b>
  !item 1 of $titlelist
  </b>.
  !set exoo=!item 1 of $exolist
  !href cmd=new&module=$module&exo=$exoo Proberen.
  !exit
!endif
!form new
<fieldset id="intromenu" class="property_fields">
<legend>$wims_name_setup</legend>

<input type="hidden" name="module" value="$module">
<ul class="wims_nopuce">
<li>
<label for="exo">Kies een scenario:</label>
!if $exocnt>6
  !set selsize=6
!else
  !set selsize=$exocnt
!endif
!set wims_formselect_switch=multiple size=$selsize
!set exo=$special_parm
!if $exo!=$empty
  !set exolist=!listuniq $exo,$exolist
  !set exolist=!replace , by , $ in $exolist
  !set dictionary=$module_dir/Extitles
  !set translator_unknown=leave
  !set titlelist=!exec translator $exolist
!endif
!formselect exo list $exolist prompt $titlelist
!set wims_formselect_switch=
</li><li>
</li><li>
  <label for="style">Type oefening:</label>
!formselect style list 1,2,3,4 prompt \
 	zoek de eerste foute stap,\
	zoek allee foutieve stappen,\
	stap voor stap zonder redenering,\
	stap voor stap met redenering
</li><li>
  <label for="level">Moeilijkheidsgraad:</label>
!default level=2
!formselect level from 1 to 5
</li></ul>
</fieldset>
<div class="wimscenter">
<input type="submit" value="$wims_name_work">
</div>
!formend
