<div class="wims_msg warning">
!if dontknow iswordof $error
  In feite, is de laatste stap
  !if $step_reason=OK
    goed. $step_remark
  !else
    foutief. $step_remark
    <div>
    !read reasons/$step_reason.det
    </div>
    De correcte versie van de laatste stap moest zijn;
    <div class="wimscenter">
    !line $step of $good
    </div>
  !endif
  <p>
  het is wel jammer, dat je dat niet doorzag...
  </p>
  !goto gnext
!endif

<b>$wims_name_Error.</b>

!if step_error iswordof $error
  !if $step_reason=OK
    Maar deze stap is <b>echt</b> wel goed !
    $step_remark
  !else
    !if $ask_reason>0 and $step_reason!=$ans
      Neen, de laatste stap is foutief, maar niet vlgs jouw verklaring.
    !else
      Maar nee , er is wel degelijk een fout in de laatste stap.
    !endif
    $step_remark
    <div>
    !read reasons/$step_reason.det
    </div>
    De correcte versie van de laatste stap moest zijn
    <div class="wimscenter">
    !line $step of $good
    </div>
  !endif
  :gnext
  </div>
  <p>
  !if $step<$stepcnt
    !set wims_ref_class=wims_button
    !href cmd=reply&ans=next Naar de volgende stap.
  !else
    Dit is het einde van deze oefening.Jouw score: $module_score/10.
  !endif
  </p>
  !exit
!endif

!if bad_step iswordof $error
  !if $badstep=0
    Je denkt dat alle stappen goed zijn..
  !else
    Je denkt dat de eerste foutieve stap nummer $badstep heeft.
  !endif
  !if $bad_steps=$empty
    Je hebt het mis: alle stappen zijn correct.
    <p>
    !line $badstep of $remarks
    </p>
  !else
    Nee, de <em>eerste</em> foutieve stap is nummer $sss. <p>
    !if $badstep>0
      !if $badstep isitemof $bad_steps
        Step nummer $badstep is inderdaad foutief, maar het is niet de <em>eerste</em> foutieve stap.
      !else
        In tegenstelling, stap $badstep is gewoon goed.
      !endif
    !else
      $bad_reason
      <div>
      !set rrr=!item 1 of $bad_reasons
      !read reasons/$rrr.det
      </div>
    !endif
  !endif
  </div>
  <p>Je score: $module_score/10.</p>
  !exit
!endif

!msg $error
