
<b>Examples of class neighborhood setup</b>.
<p>
Here are some typical situations where you can use
!href cmd=help&special_parm=neighbor class neighbors
.
</p><ul>
<li>
You (a teacher) teach the same course to several groups of students.
<br>
You can set up a virtual class for each of the groups, then declare
neighborhood relations for supervisor between any two classes. Take one of
them as the main class, and let others
!href cmd=help&special_parm=share share
 teaching materials of the main class. As such, any modification of the
teaching resource in any class will automatically and immediately be visible
in all other classes.
</li><li>
Several teachers teach different courses to a same group of students.
<br>
Each course can set up a virtual classe, and all these virtual classes
can declare mutual neighborhood for participants. They can also share
participant accounts (for that neighborhood for supervisors should also
be declared). Students can register to any of the classes, and their
registrations will automatically be effective to all other classes. Also,
once a student enters one of the class, he can travel to any other class
in the cluster without having to retype the password.

</li><li>
Several optional courses are taught to a group of student, each of them
should choose some of the options.
<br>
A virtual class can be set up for each course. Mutual neighborhoods are
declared among these classes, without participant account sharing. A student
taking several courses should register to each corresponding class, with the
same login name and password. Afterwards, he can enter any of these
classes, and a list of classes where he has registered will be shown to
him, allowing him to travel between classes.

</li></ul>
