<h2 class="wimscenter">WIMS toegangs beleid</h2>

<p>
Dit kan meerdere regels bevatten, en wordt regel voor regel ingelezen.
De beperkingen gelden niet voor de administatie modules.
Regels die beginnen met een  `<span class="tt wims_code_words">#</span>' worden genegeerd [commentaar].
</p><p>
Elke regel is in het formaat <span class="tt wims_code_words">[toegangs condities : host conditions]</span>.
</p><p>
De <span class="tt wims_code_words">[toegangs condities]</span> is een lijst met sleutelwoorden.
Meerdere "keyword" worden ge_AND.
Elk keyword kan eventueel voor afgegaan worden door <span class="tt wims_code_words">non</span>.
De beschikbare keywords zijn:
</p>
$table_header
$table_tr<th>keyword</th><th>betekenis</th></tr>
$table_tr<td class="tt wims_code_words">class</td><td>Voor het inloggen in een virtuele klas.</td></tr>
$table_tr<td class="tt wims_code_words">com</td><td>De opgevraagde module valt onder de publiek bereikbare algemene modules.</td></tr>
$table_tr<td class="tt wims_code_words">document</td><td>De opgevraagde module is een WIMS document.</td></tr>
$table_tr<td class="tt wims_code_words">exercise</td><td>De opgevraagde module is een WIMS oefening.</td></tr>
$table_tr<td class="tt wims_code_words">hint</td><td>Er wordt een hint verzocht.</td></tr>
$table_tr<td class="tt wims_code_words">local</td><td>De opgevraagde module valt onder lokaal geinstalleerde modules.</td></tr>
$table_tr<td class="tt wims_code_words">recreation</td><td>De opgevraagde module is van het type "ontspanning".</td></tr>
$table_tr<td class="tt wims_code_words">tool</td><td>De verzochte module is van het type "gereedschap" of popup calculators.</td></tr>
$table_tr<td class="tt wims_code_words">freework</td><td>The requested module is a freework.</td></tr>
$table_end

<div>
De <span class="tt">[host conditions]</span> kan elke gangbare host_definitie zijn,
eventuel aangevuld met openinges en sluitings tijden , zoals deze ook voor werkbladen mogelijk is.
Als het eerste letterteken van zo'n 'host conditie' een ``<span class="tt">!</span>'' is , en
de 'host' of tijd komt overeen, dan wordt de toegang geblokkeerd.
In alle andere gevallen is de klas dan open.

</div>
<hr>

!read help/hosts.phtml

<hr>

Enkele voorbeelden:
<div>
# alle computers uit het sub domein 134.59.102.* krijgen geen toegang tot de "tools"
<pre>
<span class="tt wims_code_words">tool:! 134.59.102.</span>
</pre></div><div>
# alle anonieme computers afkomstig van het domein www.stmichaelscollege.nl worden geblokkeerd om vrije oefeningen te gebruiken
<pre>
<span class="tt wims_code_words">exercise nonclass:! www.stmichaelscollege.nl </span>
</pre></div><div>
# computers afkomstig van de provider zonnet.nl mogen geen wiskundige documenten opvragen
<pre>
<span class="tt wims_code_words">doc nonclass:! .zonnet.nl</span>
</pre></div><div>
# Leerlingen van Schaersvoorde mogen op 1 jan. 2009 niet werken met WIMS
<pre>
<span class="tt wims_code_words">class: ! .schaersvoorde.nl &gt;20090101.00:00 &lt;20090101.23:59</span>
</pre></div><div>
# Work in the virtual class prohibited from 10pm to 6am on the days of October.
<pre>
<span class="tt wims_code_words">class:! &gt;****10**.22:00 &lt;****10**.23:59</span>
<span class="tt wims_code_words">class:! &gt;****10**.00:00 &lt;****10**.06:00</span>
</pre>
# Work on any activity which is not freework is phohibited from all the network.
<pre>
<span class="tt wims_code_words">nonfreework:!all</span>
</pre>
</div>
