<h2 class="wimscenter">Dynamische Plaatjes</h2>
<p>
Het is onder Createxo --in html-formaat--  mogelijk om
plaatjes op te nemen in het <em>statement</em> van de oefening.
</p><p>
Deze plaatjes worden dynamische gegenereerd, dwz je kunt (random)variabelen
gebruiken in de definitie van dit plaatje van een tekening of functieplot.

</p><p>
!!See also
!!!href cmd=help&special_parm=canvasdraw canvasdraw
!!$ $ for more interactivity possibilities.
!!</p><p>
Syntax&#58; </p>
<pre>\draw{breedte,hoogte}{commando...}</pre> waarin de breedte
(xsize) en de hoogte (ysize) wordt uitgedrukt in pixels, <span class="tt">commando...</span>
is de inhoud van de tekening. Deze inhoud mag uit meerdere opdrachten bestaan, elke opdracht op een nieuwe regel.
De draw{}{} functie kent ook het commando <em>curve of plot</em> waarin een mathematische formule kan worden geplot
<pre>\draw{400,400}{
xrange -2*pi,2*pi
yrange -1*\a,1*\a
curve red,\a*sin(x)
}
</pre>
geeft een 400 bij 400 pixel plaatje van met de rode curve f(x)=a*sin(x) tussen 2*pi en 2*pi met \a als -bijvoorbeeld- random variabele
<p>

!href cmd=help&special_parm=draw_example voorbeeld
</p>
!changeto help/flydraw.phtml
