!readproc adm/vfilter/listvarfilter.proc
!if $tv_listtechvar=$empty
	Aucune variable technique n'est définie.
	<br>
	<ul><li>
met behulp van een spreadsheet,
(Indisponible pour l'instant)</li><li>
rechtstreeks gegevens van studenten worden aangegeven
</li><li>
door middel van een niet-anonieme enquete
(Indisponible pour l'instant)</li></ul>
(zie documentatie)
!else
	Liste des variables techniques disponibles :
	!read adm/vfilter/listvar.phtml
	Als er technische variabelen zijn gedefinieerd, geassocieerd met deelnemers
(bijvoorbeeld hun groep), dan kan
, de studenten kunnen worden gelecteerd aan de hand van deze variabelen.
Schrijf op een lijn en gescheiden door spaties de voorwaarden waaraan tegelijkertijd moet worden voldaan.
De fotogalerij zal dan bestaan uit deelnemers die aan ten minste 1 lijn van deze voorwaarden voldeed.
<div>Bijvoorbeeld,
<pre>
groep=1 taal=2
groep=3
</pre>
Selecteer deelnemers die behoren tot groep 1 en waarvan de taal is 2 of deelnemers uit groep 3.
</div>
!endif
