<h3>Hoe schrijven we Wiskundige formules in een Createxo oefening.</h3>
<p>
U kunt Wiskundige symbolen en formules opnemen in het "statement" 
(in het html format), "hint"  en "solution".
</p><p>
Wanneer er enkel een wiskundig symbool of een griekse letter nodig
is, kunt U simpelweg  een <span class="tt wims_code_variable">\</span>  intypen gevolgd door de naam van het
symbool of griekse letter (als deze naam tenminste nog niet gebruikt wordt in
uw parameter definitie)
Bijvoorbeeld, <span class="tt wims_code_variable">\pi</span> wordt $m_pi,
<span class="tt wims_code_variable">\le</span> wordt $m_le, <span class="tt wims_code_variable">\pm</span> wordt $m_pm,
<span class="tt wims_code_variable">\rightarrow</span> wordt
$m_rightarrow, etc. 
De namen van de symbolen volgen de standaard TeX conventie.<br>
Hier is een komplete lijst
!href target=wims_help module=help/wimsdoc.en&subject=mathfonts#mathfonts van mathematische symbolen
en hun namen  (vervang <span class="tt">$$m_</span> door <span class="tt wims_code_variable">\</span> in de naam).
</p><p>
Meer algemeen; om een gehele wiskundige formule te introduceren, kunt U
de formule in de voor TeX/LaTeX gebruikelijke wijze invoeren.
Om deze formule door WIMS te laten compileren; typ er dan gewoon haken omheen
en zet er een backslash voor \.<br>
Bijvoorbeeld  <span class="tt">\(x^3-3x+cos(2pi*x)^5\)</span> wordt
!insmath x^3-3*x+cos(2pi*x)^5
, of <span class="tt">\(sqrt(x^2+y^2)\)</span> wordt
!insmath sqrt(x^2+y^2)
. 
<span class="tt">\(integrate(x^2+1)dx\)</span> ingevoerd wordt dan
!insmath integrate(x^2+1)*dx
, of <span class="tt">\(integrate(exp(x^2+1),x=1..infinity)\)</span> wordt
!insmath integrate(exp(x^2+1),x=1..infinity)
. 
Ook het Som-teken
!insmath sum(1/n^2,n=1..infinity)
 wordt mogelijk gemaakt door <span class="tt">\(sum(1/n^2,n=1..infinity)\)</span>, of het product
!insmath product(n/(n+1),n=1..infinity)
 door middel van  <span class="tt">\(product(n/(n+1),n=1..infinity)\)</span>.
</p><p>
Meer tips & trics over deze wiskundige formules zijn in 
!href target=wims_help module=help/main&chapter=1&open=1_math#math deze 
 pagina te vinden
.
</p><p>
Voor een matrix
!insmath [1,2,3;4,5,6;7,8,9]
, kun je intypen <span class="tt">\([1,2,3;4,5,6;7,8,9]\)</span>. Geneste matrices zijn
toegestaan (en worden correct weergegeven).
</p><p>
Voor experten in Tex en LaTeX: de software gebruikt rechtstreeks tex-formatting 
wanneer een formule tussen twee haken staat , voorafgegaan door een backslash.
Zo kunt U zeer veel TeX-contructies rechtstreeks toepassen.
</p><p>
En natuurlijk is  de meest complete manier om TeX in de oefeningen te verwerken
, te kiezen voor het
!href cmd=help&special_parm=format TeX formaat zelf
 (alleen voor het statement).
</p>
