
!set embraced_randitem=<p> \
Dit veld accepteerd geneste accolades voor <em>random items</em>.\
<p>\
Als er tussen de accolades een lijst woorden of groepen woorden \
staat, gescheiden door komma's [een item lijst] , dan wordt een\
willekeurig item uit deze lijst gekozen.<br>\
Bijvoorbeeld de volgende zin in een oefening:<br>\
<font color=blue><span class="tt">Ik ga naar {Parijs, New York, Londen, Amsterdam} \
{morgen,maandag ,volgende week !, op vakantie,als ik tijd heb}</span></font><br>\
Dan kan die regel worden getoond als:\
<pre>\
Ik ga naar Amsterdam als ik tijd heb\
Ik ga naar Paris op vakantie\
Ik ga naar Parijs morgen\
Ik ga naar London volgende week !\
Ik ga maandag naar New York \
etc\
</pre><br>
Si vous désirez entrer des formules mathématiques, il est conseillé de\
désactiver cette possibilité en mettant le bouton <span class="wims_code_words">\
Mise en aléatoire par des accolades emboitables</span> \
sur <span class="tt">$wims_name_no</span>.

!set name_random=Enkele voorbeelden van willekeurig gekozen parameters:\
<ul>\
<li>een integer getal tussen 10 en 100 (inclusief):\
 <span class="tt wims_code_words">randint(10..100)</span>\
</li><li>een integer getal&times;10 tussen 10 en 1000 (inclusive):\
<span class="tt wims_code_words">randint(1..100)*10</span>\
</li><li>een decimaal getal tussen 0 en 2:\
<span class="tt wims_code_words">random(0..2)</span>\
</li><li>een willekeurig item uit een lijst:\
<span class="tt wims_code_words">randitem(a,b,c,10,100,woord,of een komplete zin, f(x)=sin(x)</span>\
</li></ul>

!set name_detail_parm=Voor een gedetaileerdere uitleg over parameters.

!set credits_help=Het veld <span class="tt wims_code_words">$wims_name_credits</span> kan worden gebruikt \
voor korte referenties, bijvoorbeeld voor de gebruikte plaatjes in de oefening
