!! waiting for traduction
!changeto help/fr/sheetpage.phtml
<h3>Een document als presentatie pagina voor een werkblad</h3>
U kunt een werkblad ook voorzien van een WIMS documenten blok, zoals
<span class="tt wims_fname">c1/main</span>. Dit kan dienen als presentatie pagina voor de inhoud van het werkblad.
 Het behandelde materiaal in een werkblad kan zo meer samenhang en context krijgen.
 Het document zelf hoeft niet leesbaar te worden gemaakt voor leerlingen.
<p>
De syntax voor de links naar de individuele oefeningen:
<span class="tt wims_code_variable">\exercise</span>.
<br>
De volgende variabelen zijn ook beschikbaar:
<ul>
 <li><span class="tt wims_code_variable">\scorerequire</span> het benodigde aantal punten voor iedere oefening
 </li><li><span class="tt wims_code_variable">\scoregot</span> het behaalde aantal punten voor iedere oefening
 </li><li><span class="tt wims_code_variable">\scoremean</span> de gemiddelde score voor elke oefening
 </li><li><span class="tt wims_code_variable">\expiration</span> de verloopdatum van het werkblad [yyyymmdd]
 </li><li><span class="tt wims_code_variable">\today</span> de datum [yyyymmdd]
 </li>
</ul>
<p>
Laat dit veld leeg als U de standaard opmaak wilt gebruiken.
