<h2>
De structuur van een WIMS instituut
</h2>

<a id="institution"></a>
Een instutionele structuur is een meerlagig stelsel virtuele
klasen. Elke virtuele klas in dit stelsel wordt een <em>zone</em> genoemd.
<p>
<a id="portal"></a>
Een instituut heeft een centrale entree punt [portaal] voor alle deelnemers en docenten.
Wanneer een administrator inlogt, wordt de pagina voor het algemene onderhoud van het instituut getoond.
Het is niet de bedoeling dat in dit portaal lesmateriaal aanwezig is.
</p><p>
<a id="level"></a>
De lagen/zones direct onder het portaal zijn de <em>niveaus</em>.
Een niveau is bedoeld voor de groepering van deelnemers  die eenzelfde jaarprogramma volgen.
(alle eerste klassen, alle scheikunde klassen, enz.)
<br/>
Het inloggen van studenten is niet toegestaan op deze niveaus. Er is ook geen lesmateriaal aanwezig.
</p><p>
<a id="class"></a>
<em>Klassen</em> worden direct onder elk niveau gevormd.
Een klas is een verzameling studenten of leerlingen die een gemeenschappelijk
lesprogramma volgen.
</p><p>
Studenten of leerlingen moeten inloggen in klassen.<br/>
Elke student of leerling kan in meerdere klassen ingeschreven staan.
</p><p>
<a id="program"></a>
Direct onder het niveau zijn ook de <em>programma's</em>
Elk programma is een verzamelplek van lesmateriaal dat gedeeld wordt door meerdere
klassen op een gelijk niveau.
</p><p>
Studenten kunnen niet inloggen in programma's.
Docenten kunnen -als supervisor- inloggen in deze <em>programma's</em> om het
lesmateriaal te prepareren.
</p><p>
<a id="course"></a>
<em>cursussen</em> zijn de onderste lagen van elk niveau.
Elke <em>cursus</em> hoort zowel bij een <em>programma</em> als ook bij een <em>klas</em>.
Anders geformuleerd: een <em>cursus</em> wordt opgebouwd uit een set {programma,klas}.
</p><p>
Lesmateriaal van een <em>programma</em> wordt gedeeld door alle corresponderende <em>cursussen</em>
Een student of leerling in een <em>klas</em> kan werken aan alle <em>cursussen</em> in een klas.
</p><p>
Een cursus heeft een specifieke set lesmateriaal en een bijhorend tijdschema.
</p><p>
<a id="icourse"></a>
Een <em>programma</em> kan ook <em>"interklas" cursussen</em> bevatten.
Een dergelijke gezamelijke cursus behoort alleen tot een programma,
en leerlingen van elke klas kunnen zich inschrijven voor een interklas cursus.
Deze kan dus gebruikt voor extra -ondersteundende of verdiepende- lesprogramma's
</p><p>
<a id="test"></a>
Elk programma kan ook een speciale cursus, genaamd <em>test niveau</em> of <em>test zone</em> bevatten.
Docenten kunnen speciale cursussen met daarin experimenteel materiaal uitproberen, en
wanneer het materiaal goed bevonden is, kunnen ze dit exporteren naar de programma's.
Alles binnen deze test zone is onzichtbaar voor studenten.
</p>
