!if robot isin $session
  !exit
!endif
!if $(module_title_$modu_lang)!=
  !set module_title=$(module_title_$modu_lang)
!endif

!header

!if no_auth iswordof $error
  <div class="wims_msg alert">
  !read msg.phtml
  </div>
  !exit
!endif

!if $compute=yes
  !if $error!=$empty
    <div class="wims_msg alert">
    !read msg.phtml
    !reset error
    </div>
    !read menu.phtml
    !goto end
  !else
    !read answer.phtml
  !endif
!else
  !! put some explanations here.
  !read menu.phtml
!endif compute=yes?
!reset error
:end

!if $wims_theme=default
  !set wims_menu_items=!append line modtool,1,module=adm/modtool\
   to $wims_menu_items
!endif
!tail
