!!list_cc is for popular list

!!if $s_keywords!=$empty or $Gotcnt>0 or $list_cc >0
 <div class="inline wims_clearSearch">
  !set wims_ref_class=wims_button
  !href session=$wims_session.1&list=clear $N_clear
 </div>
 <br class="clearall">
!!endif
