!! This file can contain contents which go to the end of the page.

!if $wims_exec_error!=$empty
  <small><pre>*******************************************************
$wims_exec_error
*******************************************************</pre></small>
  !reset wims_exec_error
!endif
!if $mode=model
  !set wims_menu_items=!append line modellist,1,cmd=reply&level=1&mode=model\
to $wims_menu_items
!endif
!if $wims_theme=default
  !!ARIANE
  !set wims_menu_items=!append line itemsep,0\
backcreatexo,1,cmd=resume&realtest=no\
to $wims_menu_items
!endif
!if ($to_ia_qcm!=-2 and $to_ia_qcm!=-1)
  !if $mode!=model
    !set wims_menu_items=!append line exomodify,1,cmd=reply&level=2\
      to $wims_menu_items
  !else
    !set wims_menu_items=!append line adapt,1,cmd=reply&level=2\
      to $wims_menu_items
  !endif
!endif

!if $wims_user!=$empty
  !set wims_menu_items=!append line downloadbinary,1,cmd=reply&level=6\
    to $wims_menu_items
!endif

