!! Level 4 happens when an exercice file has been put
!! into a class or module

!if $wims_developer!=$empty and ..devel/ isin ..$catmodule
  <div class="wims_msg $reg1"
    !if $reg1=success
      $name_update1
      <span class="tt wims_fname">$catmodule</span>
    !else
      $name_update2
      <span class="tt wims_fname">$catmodule</span>.
      <pre>$wims_exec_error</pre>
    !endif
  </div>
  !set wims_menu_items=!append line modtool,1,module=adm/modtool\
    to $wims_menu_items
  <p class="wimscenter">
    !set wims_ref_class=text_icon back
    !href cmd=reply&level=3 $name_prevstep
  </p>
  !exit
!endif

!if $wims_user=$empty
  !read level5.phtml
!else
  !if $already!=yes
    <div class="wims_msg success">$name_update3</div>
    $name_update5
  !else
    <div class="wims_msg warning">$name_update4</div>
  !endif

  !if $wims_user!=supervisor
    <p>
      $name_youcan
      !href module=classes/$lang&special_parm=.nocache. $name_consult
.</p>
  !else
    <p>$name_youcan:</p>
    <ul class="flex_box grid-x small-up-1 medium-up-3 large-up-4">
      <li class="card cell">
        <div class="card-section">
          !set wims_ref_class=text_icon classexo
          !href module=classes/$lang&special_parm=.nocache. $name_consult
          ($name_sheet).
        </div>
      </li><li class="card cell">
        <div class="card-section">
          !set wims_ref_class=text_icon back2
          !href cmd=reply&level=3&success=1 $name_prevstep.
        </div>
      </li><li class="card cell">
        <div class="card-section">
          !set wims_ref_class=text_icon upload
          !href cmd=reply&level=6 $wims_name_downloadbinary
        </div>
      </li>
    </ul>
  !endif
!endif
