
!for chapter=1 to $chaptercnt
  !set a=!line 1 of $(chapter$chapter)
  <h3>
    !word $chapter of I. II. III. IV. V. VI. VII. VIII. IX. X.
    $a
  </h3>
  !read chapter$chapter.phtml
  !if $chapter!=2
    <ol>
      !set n=!linecnt $(chapter$chapter)
      !for i=2 to $n
        !set l=!line $i of $(chapter$chapter)
        !set t=!item 1 of $l
        !set s=!item 2 to -1 of $l
        <li id="$t"><h4>$s</h4>
          !if $t iswordof faqstud faqsup
            !read $chapter/$t.phtml
          !else
            !read adm/language $chapter/$t.phtml
          !endif
        </li>
      !next i
    </ol>
  !endif
!next chapter

!tail
!reset style
