!if $chapter!=2
  <ol class="doc_toc">
    !set n=!linecnt $(chapter$chapter)
    !for i=2 to $n
      !set l=!line $i of $(chapter$chapter)
      !set t=!item 1 of $l
      !set s=!item 2 to -1 of $l
      <li id="$t">
        !if $(chapter)_$t iswordof $open
          !set o=!replace word $(chapter)_$t by $ in $open
          <h3>$s</h3> <span class="smaller">
            !href module=$module&chapter=$chapter&open=$o $wims_name_Close
          </span>
          <div class="section_content">
            !if $t iswordof faqstud faqsup
              !read $chapter/$t.phtml
            !else
              !read adm/language $chapter/$t.phtml
            !endif
          </div>
        !else
          <h3>
            !href module=$module&chapter=$chapter&open=$open,$(chapter)_$t#$t $s
          </h3>
        !endif
      </li>
    !next i
  </ol>
!endif
