
!if $class_defined!=yes
  <div class="wims_msg alert">
  <span class="wims_warning">$wims_name_Error</span>. $name_warning
  </div>
  !exit
!endif

<p>$name_entersup</p>

!set wims_form_method=post
!form reply
  <input type="hidden" name="auth_user" value="supervisor">
  <fieldset class="property_fields halfwidth blockcenter">
    <legend>$wims_name_connexion</legend>
    <div class="field box">
     <label for="password">$wims_name_Password </label>
     <input class="noicon" type="password" size="20" name="auth_password" id="password" required="required" placeholder="$name_sup">
     <div class="formHelp">$name_sup</div>
    </div>
    <div class="wimscenter wimsform">
     <input type="submit" value="$wims_name_Enter">
   </div>
 </fieldset>

!formend
