<div class="wims_content">

!if $clcnt<=0
  $name_example1
  !exit
!endif

!if $fullcls=1
  <div class="wims_msg alert">
    !let error=fullexamplecls
    !read msg.phtml
  </div>
!endif

!if $lacnt<=0
  $name_example2
  $name_example3b ($listla).
  !exit
!else
  $name_example3
!endif
!if $othercnt>0
  $name_example3b ($listla).
!endif
<ol>
<li>$name_example4
$name_instruction
</li><li>$name_example41
!set tmp=!replace internal XXXXX by , in $name_sheet_example
$(tmp[1])
!href module=home&search_keywords=&search_category=S $wims_name_Sheets
$ $(tmp[2])
!reset tmp
</li></ol>
!!href module=adm/class/regclass $wims_name_classcreate
!let nb=!itemcnt $classification
!bound exampletype between 1 and $nb default 3
<div class="wimscenter">
!for k=1 to $nb
  !let titre=!item $k of $classification
  !if $k!=$exampletype
    !set wims_ref_class=wims_button
    !href cmd=reply&exampletype=$k $titre
    &nbsp;
  !else
    <span class="wims_button disabled">
    $titre
    </span>
  !endif
!next k
</div>

!set table_id=TABLE_cls
!set table_class=sortable
$table_header
<caption>$(classification[$exampletype])</caption>
 <thead>
 $table_hdtr
   <th scope="col">$wims_name_name</th>
   <th scope="col" data-sort-method="none">$name_connexion</th>
   <th scope="col" data-sort-method="none">$name_register</th>
 !!<th>$name_copy</th>
 </tr>
 </thead>
 <tbody>
!for i=1 to $clcnt
  !reset class_archived
  !set l=!line $i of $classes
  !distribute items $l into code,expire,inst,cl
  !defread wimshome/log/classes/$code/.def
  !distribute char $class_level into l_,y_

  !let clsty=!positionof item $class_level in E1,E2,E3,E4,E5,E6,H1,H2,H3,H4,H5,H6,U1,U2,U3,U4,U5,U6,Lang
  !if $clsty!=$empty
    !let clsty=!item $clsty of 1,1,1,1,1,2,2,2,2,3,3,3,4,4,4,4,4,4,5
  !endif
  !if $class_archived=yes
    !let clsty=6
  !endif
  !if $exampletype=$clsty or ($clsty=$empty and $exampletype=$nb)
    $table_tr
     <td>$inst <br> $cl
    !if $class_info!=$empty
      <br> $class_info
    !endif
    </td>
    <td>
    !set wims_ref_class=wims_button
    !href module=home&user=anonymous,$code,anonymous $name_anonymous
    &nbsp;
    !set wims_ref_class=wims_button
    !href module=$module&type=authparticipant&class=$code $name_registered
    </td>
    <td>
    !set wims_ref_class=wims_button
    !href module=adm/class/reguser&class=$code $name_register
    </td>
    !!<td>
    !!!set wims_ref_class=wims_button
    !! !href module=adm/class/regclass&job=cloneexemple&sourcecls=$code $name_copy
    !!</td>
    </tr>
  !endif
!next i
</tbody>
$table_end
!read tablesort.phtml
</div>
