!!readproc lang/names.phtml.$lang
<div class="wimscenter">
  <p>
    !if , isin $dep
      $name_deps $dep
    !else
      $name_dep $dep
    !endif
    $name_dep2
  </p>
  <p>
    !href cmd=new&module=adm/sheet&sh=$sh $name_dep3
  </p>
</div>
