!read adm/title.phtml 2\
Adres &amp; naam conventies voor WIMS modules

Een reguliere module moet een adres hebben van het type:
<span class="tt wims_fname">Zone/categorie/naam.taal</span>.<br>
Een adres is een publiek bereikbare directory op een server.<br>
zoals bijvoorbeeld: http://$wims_ref_name?lang=$lang&+module=Zone/categorie/naam.taal&+cmd=intro<br>
Dit wordt voor een module in ontwikkel stadium vertaald naar
<span class="tt wims_fname">Zone~categorie~naam.taal</span>

<ul>
<li><span class="tt wims_fname">Zone</span>: dit is beperkt tot de toegestane zones van het systeem.
Waaronder:
<ul>
<li>Een hoofdletter,gevolgd door een getal; corresponerende
met het niveau en jaargang (zoals  E6, H1, H6 of U4)
</li><li><span class="tt wims_fname">lang</span>
betekend lesmateriaal voor het "taal onderwijs",
</li><li><span class="tt wims_fname">tool</span>
bevat diverse online tools
</li><li><span class="tt wims_fname">local</span>
voor modules die alleen worden gebruikt op een lokale server
</li><li><span class="tt wims_fname">test</span>
is een niet publiceerbare testzone, waarin "alles" kan en mag.
</li></ul>
<div>
!read help/$lang/level.phtml
</div>
</li>
<li><span class="tt wims_fname">categorie</span>: dit kan in principe elk willekeurig woord zijn, <b>maar</b>
wanneer u besluit de module publiek te maken, en dus te publiceren op WIMS,
moet deze categorie wel bekend zijn bij het systeem.
<p>
Zie hiervoor de categorieen van reeds bestaande modules. Ingeval van twijfel
schrijf naar de
!mailurl $sysadmin publicatie c&ouml;rdinator
.
</p>
</li><li><span class="tt wims_fname">naam</span>: elk woord naar keuze, bijvoorkeur tussen de 4 en 12 lettertekens (kleine letters).

</li><li><span class="tt wims_fname">taal</span>:de twee letterige taal code van de module.
Deze moet deel uit maken van de door WIMS ondersteunde talen <span class="tt wims_fname">$wims_site_languages</span>,
en <b>moet</b> gelijk zijn aan
de taal zoals gedefinieerd in de INDEX file van de module.
</li></ul>

<p>
Enkel veel gebruikte categori&euml;en: (niet volledig)
!read wimshome/public_html/bases/sys/categories.phtml
</p>
