!read adm/title.phtml 2\
WIMS versienummer van een module

<p>
Ons WIMS systeem ontwikkeld zich zeer snel. <br>
Verbeteringen ,uitbreidingen en vernieuwingen worden bij elke nieuwe versie geintroduceerd.

</p><p>
Een module die wordt ontwikkeld op de laatste versie van WIMS zou best eens
niet kunnen functioneren onder een oudere versie. Zeker als deze module
gebruik maakt van de nieuwste sub_programma's en andere "bleeding edge" faciliteiten.
</p><p>
Om deze reden zal WIMS nooit modules uit voeren van een te nieuwe wims_versie.
</p><p>
Als uw module <span class="tt wims_fname">$mod</span> is ontwikkeld onder WIMS-$wims_version,
dan werkt deze dus onder versie $wims_version.
Tenzij het duidelijk is dat de module ook onder een wat oudere wims_version
kan werken ; in dat geval kan "version_cheat" worden gebruikt.<br>
Maar pas op: er kunnen altijd onverhoopte "bugs" optreden in de module !

</p><p>
WIMS versie moet worden geschreven als <span class="tt">d.dd</span> of <span class="tt">d.dda</span>
waarin <span class="tt">d</span>'s cijfers en <span class="tt">a</span> een letter is ,
het hele woord is natuurlijke de echte versie van WIMS.
</p>
