!!!### language independant
!!
!!
!form reply
$name_cpexam1
<fieldset class="property_fields blockcenter">
  <legend>$wims_name_cpexam</legend>
  <div class="field box">
    <label for="numexam">$wims_name_Examen</label>
     !formselect numexam list $aexams prompt $listname
  </div>
  <div class="wimscenter wimsform">
    <input type="submit" value="$wims_name_tosave">
  </div>

  <input type="hidden" name="job" value="cpexam">
</fieldset>
!formend

!set wims_menu_items=!append line back2,1,cmd=reply\
  to $wims_menu_items
!reset numexam
