!!!### language independant
!!
!!
!form reply
$name_cpsheet1
<fieldset class="property_fields blockcenter">
  <legend>$wims_name_addsexo</legend>
  <div class="field box">
    <label for="numsheet">$wims_name_sheet</label>
     !formselect numsheet list $asheets prompt $listname
  </div>
  <div class="field box">
    <label for="keytitle">$name_cpsheet3</label>
    <input type="text" name="keytitle" id="keytitle">
    <div class="formHelp">$name_cpsheet4</div>
  </div>
   <div class="wimscenter wimsform">
    <input type="submit" value="$wims_name_Insert">
   </div>

   <input type="hidden" name="job" value="cpsheet">
</fieldset>
!formend

!set wims_menu_items=!append line back2,1,cmd=reply\
  to $wims_menu_items
!reset numsheet
