
<div class="wims_msg alert">
  <span class="wims_warning">$wims_name_warning</span>!
  !if $stries=1
    $name_warning_nonfinished1
  !else
    $name_warning_nonfinished
  !endif

  <p class="wimscenter">
    !set wims_ref_class=wims_button
    !href cmd=reply&job=scorereg&confirm_end=yes $wims_name_yes
    $
    !set wims_ref_class=wims_button
    !href cmd=reply&job=score $wims_name_no
  </p>
</div>
!tail
!reset job
