
$name_warning <span class="tt">$login</span>
(<a href="mailto:$email">$name</a>)?
<div class="wimscenter">
!href cmd=reply&job2=del2&devno=$devno $wims_name_yes
 $ $
!href cmd=reply&job2=first $wims_name_no
</div>
