<div class="wims_content">

!default special_parm=doc
!if $special_parm!=$empty
  !read help/$special_parm
  !goto end
!endif


:end
 <div class="wimscenter">
!href cmd=resume $wims_name_work
</div>

</div>
