!! +exec+ +vardef+
tit:bound
type:$type_exec
syntax:!bound `vname' between [integer] `v1' and `v2' [default `defaultvalue']\
  !bound `vname' within `list' [default `defaultvalue']
mean:把变量 `vname' 限制在指定范围内.\
  通常用于用户提交的变量. <br>\
  第一个用法是针对数值变量的(整数或实数, 默认实数).\
  在这种情形, `v1' 与 `v2'\
  提供了变量 `vname' 值的下界及上界. <br>\
  在第二个用法, `vname' 的值与 `list' 的每一项比较.\
  如果找不到匹配, 则当 `defaultvalue' 给出时,\
  `vname' 取值 `defaultvalue', 否则,\
  取 `list' 的第一项. <br>\
  不论何种情形, `defaultvalue' 都是可选的.
