!! +exec+ +var+ +string+
tit:evalsubst
type:$type_both
alias:evalsubstit, evalsubstitute, evaluesubst, evaluesubstit, evaluesubstitute
syntax:evalsubst `name=val' in `expr'
mean:对数学表达式的操作: 把表达式 `expr'\
  里的变量 `name' 替换成 `val',\
  然后计算表达式的实数值. <br>\
  在 `name' 内不允许正则表达式. <br>\
  请参看命令\
  $(ref1)cmdlist_mathsubst_&cmd_choose=all$(ref2)cmdlist_mathsubst_">!mathsubst</a>,\
  $(ref1)cmdlist_replace_&cmd_choose=all$(ref2)cmdlist_replace_">!replace</a>.
