!! +exec+ +loop+ +jump+
tit:for
type:$type_exec
syntax:!for `var' = `start' to `end' [step `st' ] \
 $ !for `var' from `start' to `end' [step `st' ]\
 $ !for `var' in `list'... (多行内容)
  <tt>!next</tt>
mean:For循环. 在前两个格式里, `var' 从\
  `start' 取到 `end', 具有可选的步长 `\
  st'. <br>\
  在第三种格式里, `var' 逐次取遍表 `list' 里的项.\
  `list' 是用逗号分隔的项的表. <br>\
  位于for循环内部的命令\
  <pre>!break</pre>\
  会打断循环. 本版本还没有 `continue' 命令. <br>\
  建议把变量名 `var' 加到\
  <tt>!next </tt> 的行里. 这样做目前并无什么作用, 但在wims的将来版本里可能会有用.
