!! +exec+ +html+
tit:formbar
type:$type_exec
alias:formradiobar, htmlbar, htmlradiobar
syntax:!formbar `name' from `n1' to `n2'\
    $!formradio `name' list `selectlist'</tt>
mean:在前面定义的html表单下创建一排单选框.<br>\
  按数值由小至大排列. 对用户没有什么提示, 只是指示左边是最小的.\
  在参数中, `name' 定义了菜单的名称,\
  对第一句的格式, 菜单的值是从 `n1' 到 `n2' 的整数,\
  对第二句的格式, 菜单的值是表 `selectlist' 里的项. <br>\
  菜单的默认值是变量 `$$name' 的当前值.
