!! +exec+ +html+
tit:formselect
type:$type_exec
alias:htmlselect
syntax:!formselect `name' from `n1' to `n2' prompt `promptlist'\
    $!formselect `name' list `selectlist' prompt `promptlist'
mean:在前面定义的html表单下创建一个选择菜单.<br>\
  这个命令能加速选择菜单的创建, 也能简化源文件.\
  在参数中, `name' 定义了菜单的名称,\
  对第一句的格式, 菜单的值是从 `n1' 到 `n2' 的整数,\
  对第二句的格式, 菜单的值是表 `selectlist' 里的项. <br>\
  可选参数 `promptlist' 用于生成每个选项的提示.\
  当 `promptlist' 为空或少于 `selectlist' 时,\
  未定义的提示将用值来代替. 如果太长, 则超过部分被舍弃. <br>\
  菜单的默认值是变量 `$$name' 的当前值.\
  变量 `wims_formselect_switch' 可用来建立开关,\
  例如让 <tt>wims_formselect_switch=multiple</tt>, 就是多重选择.
