!! +exec+ +html+
tit:href
type:$type_exec
syntax:!href `parms text'
mean:创建指向wims服务器的超文本链接. <br>\
  应尽可能用这个命令代替html 标记 `&lt;a href=...>'. <br>\
  `parms' 是传给wims服务器的参数串, 其中不能有空格.\
  通常至少要有 `cmd=...'; 另一方面,\
  对话编号以及使用语言都由服务器加进去. <br>\
  `text' 是超文本链接依托的地方. 它可以是任何文字或\
  &lt;IMG ...> 标记, 但不能使用动态插入.\
  <br>不需加入结尾标记 `&lt;/a>'.\
  <p>参考的目标可由变量 `wims_ref_target' 控制.\
  也可通过选项词 `target=...' 定义.\
  注意在这种情形目标必须以 `wims_' 起首.
