!! +exec+ +ins+ +var+
tit:instexstatic
type:$type_pexec
alias:instexst, staticinstex, stinstex
syntax:!instexstatic `gifname texsource'</tt>
mean:本命令已过时, 以后的版本将被弃用. 请使用
  $(ref1)cmdlist_instex_&cmd_choose=all$(ref2)cmdlist_instex_">!instex</a>.

!exit

  $lst_mean 类似于
  $(ref1)cmdlist_instex_&cmd_choose=all$(ref2)cmdlist_instex_">!instex</a>,
  差别在于对
  `texsource' 不作变量替换, 而且应该给出 gif 文件
  `gifname' 的名字 (且带有后缀
  `.gif'). `gifname' 对应的文件应该位于
  模块的主目录内. <br>
  当 gif 文件不存在或文件里包含比 gif 文件新的命令时,
  Wims 会生成此 gif 文件. 在以后的请求里不会调用 TeX,
  这样就提高了效率. <br>
  当 `instexstatic' 用作变量命令时,
  它返回 tag 串 `&lt;IMG SRC=...>',
  可被插在文件的其它地方.
  <p>
  <blink><font color=red>重要</font></blink>.
  从版本 0.11.5 开始, `gifname' 是可选的, 并且
  <tt>!instex</tt> 将自动使用静态插入,
  不管 `texsource' 里有没有变量替换. 因此
  <tt>!instexstatic</tt> 不再是必须的, 而只是为了与以前版本兼容而存在.
  因此 <font color=red><blink>请避免使用它
  !</blink></font> 而是使用 <tt>!instex</tt>.

