!! +exec+ +ins+
tit:instex
type:$type_pexec
syntax:!instex `texsource'
mean:服务器将调用TeX以处理(plain)TeX源码 `texsource' (先作变量替换),\
  把结果转换成图像, 在插到页面内命令所在的位置. <br>\
  提示: 尽可能避免在 `texsource' 内使用变量替换.\
  这样wims将使用静态 instex, 效率远比动态 instex 高. <br>\
  为控制插入内容的颜色, 可使用变量\
  `instex_color', 或在 `texsource' 内使用 <tt>\special{color=...}</tt>.
