!! +exec+
tit:mailto
type:  $type_exec\
  此命令只能用于网站的`可信任' 模块.

syntax:!mailto `...'
mean:发电邮, 收信人地址应是参数的第一行.<br>\
  The second line (can be empty) is the sender.<br>\
  The third line is the subject of the message.<br>\
  其余部分是信息内容.
