!! +exec+ +var+
tit:mailurl
type:$type_both
syntax:!mailurl `address name ...'
mean:创建用javascript加密的电邮界面, 使得垃圾邮件发送器难以解密.\
  <p>\
  参数的第一行第一个词应该是电邮地址.\
  <br>\
  第一行的其余部分是收信人名字(默认值为电邮地址).\
  <br>\
  第二行及后面是电邮主题.\
  <p>\
  本命令调用以下文件之一(按优先次序排列):\
  <ol>\
  <li>模块目录里的 "mailurl.proc".\
  <li>当前主题里的 "mailurl.proc".\
  <li>"scripts/mailurl.proc".\
  </ol>\
  这使得管理员和作者可以定义不同的加密方法.\
  <br>\
  对虚拟班的用户, 电邮地址 不加密.\
  <br>\
  命令会毁坏以 "mailurl_" 起首的变量.
