!! +exec+ +var+ +string+
tit:mathsubst
type:$type_both
alias:mathsubstit, mathsubstitute
syntax:!mathsubst `name="val"' in `expr'
mean:数学式的操作: 把 `expr' 里的变量\
  `name' 替换成 `val'. <br>\
  `name' 里不准使用正则表达式. <br>\
  参见\
  $(ref1)cmdlist_evalsubst_&cmd_choose=all$(ref2)cmdlist_evalsubst_">!evalsubst</a>,\
  $(ref1)cmdlist_replace_&cmd_choose=all$(ref2)cmdlist_replace_">!replace</a>.
