!! +exec+ +html+ +variable+
tit:pedia
type:$type_both
alias:!encyclopedia, !encyclo
syntax:!pedia `keyword',`name'
mean:创建指向在线百科全书的超文本链接. <br>\
  `keyword' 是用于查找的关键词, 应该是由一个或几个由空格分隔的词.\
  例如: `finite field' 或 `linear transformation'.\
  <br>\
  `name' 是链接的名称(也就是人们在页面看到的可以点击链接名).\
  <p>\
  目前wims使用\
  <a href=www.wikipedia.org>Wikipedia</a>\
  作为标准参考百科全书.</p>
