!! +exec+ +var+ +string+
tit:positionof
type:$type_both
alias:position, positions
syntax:!positionof [`type'] `s' in `string'
mean:返回对象 `s' 在 `string' 里的位置. <br>\
  `type' 可以是 <tt>char</tt>, <tt>word</tt>, <tt>item</tt> 或\
  <tt>line</tt>. 如果被指定, 就在 `string' 里寻找与 `s' 完全相同的对象. <br>\
  命令的输出是 `s' 出现在 `string' 里的位置表\
  (作为字符, 词, 项或行, 由 `type' 确定). <br>\
  如果没有指定 `type', 则 `s' 看作\
  `string' 的字串, 报告的位置是字符的位置.
