!! +var+ +random+
tit:random
type:$type_var
alias:!randdouble, !randfloat
syntax:!random `n1' ,`n2'
mean: 返回 `n1' 与 `n2' 之间的随机实数. <br>\
  先对 `n1' 和 `n2' 作替换与赋值, 然后再作随机运算. <br>\
  如果 `n2' 没有, 则返回 0 与 `n1' 之间的随机数. <br>\
  如果 `n1' 和 `n2' 都没有, 返回 0.\
  <br>\
  你也可以用 <tt>!random n1,n2 repeat i</tt> 重复生成\
  `i' 个随机数.
