!! +var+ +random+
tit:randint
type:$type_var
syntax:!randint `n1' ,`n2'
mean:返回 `n1' 与 `n2' 之间随机选取的整数(包括两端). <br>\
  先对 `n1' 和 `n2' 作替换与赋值, 然后再作随机运算. <br>
  如果没有 `n2', 则返回的整数位于 $(m_pm)1 与\
  `n1' 之间(包括两端). <br>\
  如果 `n1' 和 `n2' 都没有, 返回 0.\
  <br>\
  你也可以用 <tt>!randint n1,n2 repeat i</tt> 重复生成\
  `i' 个随机数.

