!! +exec+ +var+ +string+
tit:replace
type:$type_both
syntax:!replace [internal] `s1' by `s2' in `string'\
  !replace `obj' `ident' by `s' in `string'
mean:串操作. <p>\
  在第一句的形式下, 先对.\
  然后所有出现子串 `s1' 的地方都替换成 `s2'. <br>\
  如果没有关键词 `internal',\
  则调用 Linux 命令 `sed' 完成替换,\
  所以在 `s1' 和 `s2' 里可接受正则表达式.\
  详情请参看 `sed' 的说明. <p>\
  在第二句的形式下, `obj' 可以是 `char',\
  `word', `item' 或 `line'.\
  经过对 `string' 作变量替换后,\
  `string' 内与 `ident' 相同的词、项或行被替代为\
  `s'. <br>\
  `ident' 可以是一个串, 此时所有与 `ident' 匹配的对象\
  (词、项或行)将被替换. `ident' 也可以是一个数(正或负整数 `n'),\
  前面冠以词 `number'. 这时被替换的是第 `n' 个对象\
  (当 n&lt;0 时, 被替换的是倒数第 `n' 个对象.)
