!! +var+ +random+ +string+

tit:shuffle
type:$type_var
alias:randperm, randpermute
syntax:!shuffle [even|odd] `n'\
!shuffle [even|odd] `list'
mean:对 `n' 个元素的集合作随机置换. 在第一种用法里,\
  `n' 必须是不超过 1024 的正整数,\
  在第二种用法里, `n' 是表 `list' 的项数. <br>\
  对第一种用法, 命令返回一个逗号分隔的表 `i<sub>1</sub>, i<sub>2</sub>, ...,\
  i<sub>n</sub>', 其中的项 `i<sub>k</sub>' 是集合\
  `{1,2,...,n}' 中随机排序的元素. <br>\
  本命令可与以下命令连用\
  $(ref1)cmdlist_item_&cmd_choose=all$(ref2)cmdlist_item_">!item</a>,\
  $(ref1)cmdlist_line_&cmd_choose=all$(ref2)cmdlist_line_">!line</a>,\
  $(ref1)cmdlist_word_&cmd_choose=all$(ref2)cmdlist_word_">!word</a>,\
  $(ref1)cmdlist_char_&cmd_choose=all$(ref2)cmdlist_char_">!char</a>,\
  以对一个串的项、行、词或字符作随机置换. <br>\
  对第二种用法, 返回对表 `list' 里的项作随机置换的结果. <br>\
  不论何种情况, 变量 `wims_shuffle_order' 都被赋值为表\
  `i<sub>1</sub>, i<sub>2</sub>, ..., i<sub>n</sub>'. <br>\
  如果出现选项词 `even' 或 `odd', 意指只做偶/奇置换.
