!! +exec+ +var+ +string+
tit:sort
type:$type_both
syntax:!sort [nocase] [reverse] [numeric] `type' [of] `string'
mean:对 `string' 排序. 排序类型 `type'\
  可以是 char, word, list 或 line. <br>\
  命令执行后, 排序的序存放在变量 `wims_sort_order' 内 (作为一个表).\
  与以下命令配合\
  $(ref1)cmdlist_item_&cmd_choose=all$(ref2)cmdlist_item_">!item</a>,\
  $(ref1)cmdlist_line_&cmd_choose=all$(ref2)cmdlist_line_">!line</a>,\
  $(ref1)cmdlist_word_&cmd_choose=all$(ref2)cmdlist_word_">!word</a> 或\
  $(ref1)cmdlist_char_&cmd_choose=all$(ref2)cmdlist_char_">!char</a>,\
  可以做关系排序.
