!! +exec+ +jump+
tit:while
type:$type_exec
syntax:while `string1 relation string2'<br>\
  ... (多行的内容)<br>\
 $ !endwhile
mean:条件分叉: 执行\
  `!while' 行与 `!endwhile' 行之间的多行内容,\
  直至 `relation' 不再被满足.\
  在作比较前, 先除去 `string1' 与 `\
  string2' 两端的空格.\
  <p>\
  其语法同\
  $(ref1)cmdlist_if_$(ref2)cmdlist_if_">if</a>.\
  </p>
