!! options :
!! wims_ariane_home = no ==> don't use $wims_home_items
!! wims_ariane_self = no ==> don't generate automatically : home / module
!if $wims_ariane_home=no and $wims_ariane_self=no and $wims_ariane=$empty
  !exit
!endif

!read themes/_procs/ariane.proc
<!-- _widgets/ariane.phtml -->
<nav aria-label="You are here:">
  <ul class="breadcrumbs">
  !for i_=1 to $wims_ariane_cnt
    !set 1_=!line $i_ of $wims_ariane_list
    !if " notin $(1_[1]) and * notin $(1_[1])
      !set wims_ref_class = !word 1 of $(1_[1])
    !endif
    !if $wims_ref_class!=$empty
      !set css_class = class="$wims_ref_class menuitem"
    !endif
    <li $css_class>
      !read $(w_path)oneitem.phtml $1_
      !if $i_=$wims_ariane_cnt
        <span class="show-for-sr">(Current)</span>
      !endif
    </li>
    !reset css_class
  !next
  </ul>
</nav>
<!-- end of _widgets/ariane.phtml -->
!!reset wims_ariane_home wims_ariane_self