<!-- _widgets/institution_logo.phtml -->
!if $site_logo!=$empty
  <div class="institution_logo float_$positionlogo">
    <a href="$site_logolink" target="wims_external"><img src="$site_logo" alt="logo de l'etablissement"></a>
  </div>
!endif
<!-- END _widgets/institution_logo.phtml -->
