<!-- _widgets/motd.phtml -->

!readproc wimshome/log/classes/$wims_class/.users/$wims_user
!set mot_=!record 0 of wimshome/log/classes/$wims_class/.motd
!set mot_=!replace internal \var_ by $$user__ in $mot_
!if $mot_!=$empty and $mot_ notsametext <br>
 <div id="wims_class_motd" class="wims_msg info">
   $mot_
   !! !read ./wimshome/log/classes/$wims_class/.motd
 </div>
!endif
!if anonymous isin $wims_user
  !let test2=!record 0 of wimshome/log/classes/$wims_class/motd/anonymous
  !let test=
!else
  !let test2=!record 0 of wimshome/log/classes/$wims_class/motd/$wims_user
  !let test=!record 0 of wimshome/log/classes/$wims_class/motd/.$wims_user
!endif
!if # notin $test and $test2!=$empty
  <div id="wims_class_pmotd" class="wims_msg info">
    !set mot_=!replace internal \var_ by $$user__ in $test2
    $mot_
    !if anonymous notin $wims_user
      !!  !read ./wimshome/log/classes/$wims_class/motd/$wims_user
      &nbsp; [
      !href module=adm/class/motd $(wims_name_actionlist[4])
      ]
    !endif
  </div>
!endif
<!-- end _widgets/motd.phtml -->
