<!-- _widgets/site_title-->
<div id="wims_title">
  <div class="wimslogo">
    !href module=home&special_parm=logo <img src="gifs/logo.gif" alt="WIMS logo">
  </div>
  <h1 class="wims_title">WIMS
    <span class="smaller wims_subtitle">
    $V_title $N_at <a href="/">$httpd_HTTP_HOST</a>
    </span>
  </h1>
</div>
<!--end _widgets/site_title-->
