<!-- _widgets/supervisorssheet.phtml -->
!for i=1 to $sheetcnt
  !set sh=!record $i of wimshome/log/classes/$wims_class/sheets/.sheets
  !distribute lines $sh into ac,t_,ti
  !let exocnt_=!recordcnt wimshome/log/classes/$wims_class/sheets/.sheet$i
  $table_tr
   <td><span class="wims_sheet_item">$wims_name_Sheet $i</span></td>
   <td>
  !href module=adm/class/sheet&sheet=$i $ti
   </td>
   <td>$exocnt_</td>
  !if $seq_open=yes
    !read themes/_procs/supervisorseq.proc sheet,$ac
  !endif
   <td><span class="wims_status_$ac">$(wims_name_shstatus[$[$ac+1]])</span></td>
   <td>
  !read adm/sheet/sheetaction.phtml sheet,$i,$ac,1
   </td>
  </tr>
!next i
!reset exocnt_
<!-- end _widgets/supervisorssheet.phtml -->
