!! is no more used in official themes
!! do not use it

!!transfert in home/var.proc
!!!set tmp=!defof cdt_nbdate in wimshome/log/classes/$wims_class/cdt/.def
!!!if $tmp>0
!!   !set exist_cdt=yes
!!!endif

<!-- _widgets/usermenumodubox.phtml -->
<div id="wimsmenumodubox" class="usermenumodubox">
 <$div0 class="wimsmenu">
   !read themes/_widgets/userotherclass.phtml
   !read themes/_widgets/extlink.phtml
 </$div0>
 <hr class="itemsep">
 <$div0 class="wimsmenu">
  !read themes/_widgets/userprop.phtml
  !if $auth_method notwordof cas ldap php
   <$div1 class="menuitem">
    !read ./adm/oneitem.phtml passwd,1,module=adm/class/passwd&job=user
   </$div1>
  !endif
  <$div1 class="menuitem">
    !read ./adm/oneitem.phtml pref,1,module=adm/light&phtml=useropts.phtml.$lang
   </$div1>
   <$div1 class="menuitem">
    $supmail
   </$div1>
 </$div0>
 <hr class="itemsep">
 <$div0 class="wimsmenu">
  !if $exist_cdt=yes
    !read themes/_widgets/menuitem.phtml cdt,1,module=adm/class/cdt
  !endif
  !read themes/_widgets/userforum.phtml
 </$div0>

 !ifval $n+$m>0 and $is_interclass!=yes
  <hr class="itemsep">
  <$div0 class="wimsmenu">
   !read themes/_widgets/userscore.phtml
  </$div0>
 !endif

 !if $wims_user=supervisor
  <hr class="itemsep">
  <$div0 class="wimsmenu">
   <$div1 class="menuitem">
    !read ./adm/oneitem.phtml backteacher,1,$
   </$div1><!--end menuitem-->
  </$div0>
 !endif

</div><!--end wimsmenumodubox-->
<!-- end _widgets/usermenumodubox.phtml -->
