<!-- _widgets/visitorcredits.phtml -->
<div id="wimstailbox" class="visitorcredits">
 <div class="wimstail wimstech">
  <div class="tailitem">
   WIMS-$wims_version@$httpd_HTTP_HOST.
  </div><!--tailitem-->
  <div class="tailitem">
   $E_manager
   !mailurl $wims_site_manager\
   WIMS.
  </div>
 </div>
</div>
<!-- end _widgets/visitorcredits.phtml -->
