/*<![CDATA[*/
.compose_filler{
  background-color:#CCC;
  display:flex;
  align-items:center;
  font-family: Verdana;
  font-size: 1.2em;
  padding: 0 3px;
}
.wims_label{
  white-space: nowrap;
  display: inline-flex;
  padding: 0;
  margin: 1px;
  transition: opacity .5s;
}
.wims_label>img{
  padding: .5em;
}
.wims_label.disabled{
  opacity: .4;
  /*cursor: not-allowed;*/
}
/*]]>*/