/* chrono, calculator, calculator_not, steps, notebook, measure, complex, listen, quizz, bulles, cerveau, organiser */

.icon_chrono{
  background-image:url("/wims/gifs/domains/general/hourglass.svg");
}
.icon_calculator{
  background-image:url("/wims/gifs/domains/general/calculator.svg");
}
.icon_calculator_not{
  background-image:url("/wims/gifs/domains/general/calculator_not.svg");
}
.icon_steps{
    background-image:url("/wims/gifs/domains/general/road.svg");
}
/*.icon_guide{
    background-image:url("/wims/gifs/domains/general/studylamp.svg");
}*/
.icon_notebook{
    background-image:url("/wims/gifs/domains/general/notebook.svg");
}
.icon_measure{
    background-image:url("/wims/gifs/domains/general/ruler.svg");
}
.icon_complex{
    background-image:url("/wims/gifs/domains/general/gears.svg");
}
.icon_listen{
    background-image:url("/wims/gifs/domains/general/headphones.svg");
}
.icon_quizz{
    background-image:url("/wims/gifs/domains/general/test.svg");
}

.icon_bulles { background-image:url("/wims/gifs/domains/general/mb_bulles.svg");}
.icon_cerveau { background-image:url("/wims/gifs/domains/general/mb_cerveau.svg");}
.icon_organiser { background-image:url("/wims/gifs/domains/general/mb_organiser.svg");}/* molecule, flasks, algebra, microscope, ordinateur */

.icon_molecule {
  background-image:url("/wims/gifs/domains/sciences/molecule.svg")
}

.icon_flasks {
  background-image:url("/wims/gifs/domains/sciences/flasks.svg")
}

.icon_algebra{
    background-image:url("/wims/gifs/domains/sciences/algebra.svg");
}

.icon_microscope { background-image:url("/wims/gifs/domains/sciences/mb_microscope.svg");}
.icon_ordinateur { background-image:url("/wims/gifs/domains/sciences/mb_ordinateur.svg");}

/*** Slideout Menu (Used in Nikaia) ***/

@media only screen{
  .slide-menu-closed .slide-menu{
    width: 2.8rem;
  }

  .slide-menu-closed #wimstopbox, .slide-menu-closed div#wimsbodybox{
    margin-left: 2.8rem
  }
}

.menuitem a, .icon_button span, .menuitem h2, .text_icon, .menuitem>.text_item{
  background-repeat:no-repeat;
  background-position:3px 50%;
  padding-left:24px;
  line-height:18px;
  display: inline-block;
}
.dropdown .is-dropdown-submenu a{
  padding-left:24px;
}
/* all css class that begin with 'icon_' */
.text_icon[class*='icon_']{
  min-height:18px;
  vertical-align: bottom;
}

.breadcrumbs>.menuitem>a,.breadcrumbs>.menuitem>.text_item{
  padding-left:1.5em;
  background-position-x:0;
}
.footer .menuitem>a, #wimstopbox .menuitem>a{
  line-height:18px;
  /*background-position:0% 50%;*/
}
.icon_button span, .text_icon{
  line-height:18px;
}
.text_icon{
  background-position:2px 50%;
  /*border:thin solid #CCC;*/
  padding-top:2px;
  padding-bottom:2px;
  padding-right:2px;
  padding-left:24px;
  background-size: 18px;
}
.language_selector a{padding-left: .5rem;}
.dropdown.menu>li>a{padding-left:24px;}
.dropdown .submenu:not(#lang_list)>li{padding-left: .3rem;}
.wims_msg{background-repeat: no-repeat;padding-left:24px;}

.2024insererdevoirlibre{background-image:url(2024insererdevoirlibre.png);}
.Confia2qcm{background-image:url(Confia2qcm.png);}
.Createqcm{background-image:url(Createqcm.png);}
.Creation{background-image:url(Creation.png);}
.Glossary{background-image:url(Glossary.png);}
.Indexation{background-image:url(Indexation.png);}
.Keywords{background-image:url(Keywords.png);}
.SE_config{background-image:url(SE_config.png);}
.SE_list{background-image:url(SE_list.png);}
.SE_mod{background-image:url(SE_mod.png);}
.SE_secu{background-image:url(SE_secu.png);}
.Samples{background-image:url(Samples.png);}
.Score1{background-image:url(Score1.png);}
.Searching{background-image:url(Searching.png);}
.U_oclass{background-image:url(U_oclass.png);}
.V_Chpref{background-image:url(V_Chpref.png);}
.about{background-image:url(about.png);}
.aboutw{background-image:url(aboutw.png);}
.account{background-image:url(account.png);}
.account_property{background-image:url(account_property.png);}
.activity{background-image:url(activity.png);}
.activity1{background-image:url(activity1.png);}
.adapt{background-image:url(adapt.png);}
.add{background-image:url(add.png);}
.add_class{background-image:url(add_class.png);}
.add_competence{background-image:url(add_competence.png);}
.add_doc{background-image:url(add_doc.png);}
.add_exam{background-image:url(add_exam.png);}
.add_exo{background-image:url(add_exo.png);}
.add_freework{background-image:url(add_freework.png);}
.add_sequence{background-image:url(add_sequence.png);}
.add_sheet{background-image:url(add_sheet.png);}
.add_techvar{background-image:url(add_techvar.png);}
.add_vote{background-image:url(add_vote.png);}
.addallexo{background-image:url(addallexo.png);}
.addclass{background-image:url(addclass.png);}
.addcourse{background-image:url(addcourse.png);}
.addcsvclass{background-image:url(addcsvclass.png);}
.adddate{background-image:url(adddate.png);}
.adddevel{background-image:url(adddevel.png);}
.adddoc{background-image:url(adddoc.png);}
.addexo{background-image:url(addexo.png);}
.addfile{background-image:url(addfile.png);}
.addglossary{background-image:url(addglossary.png);}
.addh{background-image:url(addh.png);}
.addlevel{background-image:url(addlevel.png);}
.addliving{background-image:url(addliving.png);}
.addmanual{background-image:url(addmanual.png);}
.addparticipant{background-image:url(addparticipant.png);}
.addprog{background-image:url(addprog.png);}
.addsexo{background-image:url(addsexo.png);}
.addstudent{background-image:url(addstudent.png);}
.addteacher{background-image:url(addteacher.png);}
.addtodo{background-image:url(addtodo.png);}
.back{background-image:url(back.png);}
.back2{background-image:url(back2.png);}
.back3{background-image:url(back3.png);}
.back4{background-image:url(back4.png);}
.backcreatexo{background-image:url(backcreatexo.png);}
.backexam{background-image:url(backexam.png);}
.backgateway{background-image:url(backgateway.png);}
.backhist{background-image:url(backhist.png);}
.backstruct{background-image:url(backstruct.png);}
.backteacher{background-image:url(backteacher.png);}
.binfile{background-image:url(binfile.png);}
.blocklist{background-image:url(blocklist.png);}
.browse{background-image:url(browse.png);}
.cdt{background-image:url(cdt.png);}
.cgu{background-image:url(cgu.png);}
.change{background-image:url(change.png);}
.checkdiff{background-image:url(checkdiff.png);}
.chemtool{background-image:url(chemtool.png);}
.cl_cdt{background-image:url(cl_cdt.png);}
.class_home{background-image:url(class_home.png);}
.class_stat{background-image:url(class_stat.png);}
.classcreate{background-image:url(classcreate.png);}
.classexo{background-image:url(classexo.png);}
.classlist{background-image:url(classlist.png);}
.cloneclass{background-image:url(cloneclass.png);}
.cls_livret{background-image:url(cls_livret.png);}
.compose{background-image:url(compose.png);}
.config{background-image:url(config.png);}
.config_auth{background-image:url(config_auth.png);}
.config_clean{background-image:url(config_clean.png);}
.config_list{background-image:url(config_list.png);}
.config_module{background-image:url(config_module.png);}
.config_neigh{background-image:url(config_neigh.png);}
.config_oef{background-image:url(config_oef.png);}
.config_otherserver{background-image:url(config_otherserver.png);}
.config_present{background-image:url(config_present.png);}
.config_restr{background-image:url(config_restr.png);}
.config_score{background-image:url(config_score.png);}
.config_secure{background-image:url(config_secure.png);}
.configb{background-image:url(configb.png);}
.connected{background-image:url(connected.png);}
.coordclick{background-image:url(coordclick.png);}
.cpexam{background-image:url(cpexam.png);}
.cpexambis{background-image:url(cpexambis.png);}
.create_class{background-image:url(create_class.png);}
.create_portal{background-image:url(create_portal.png);}
.create_superclass{background-image:url(create_superclass.png);}
.createdoc{background-image:url(createdoc.png);}
.createnew{background-image:url(createnew.png);}
.createxo{background-image:url(createxo.png);}
.csv{background-image:url(csv.png);}
.del_add_sequence{background-image:url(del_add_sequence.png);}
.delprep{background-image:url(delprep.png);}
.delstudent{background-image:url(delstudent.png);}
.delstudent1{background-image:url(delstudent1.png);}
.delteacher{background-image:url(delteacher.png);}
.develaccount{background-image:url(develaccount.png);}
.docanswer{background-image:url(docanswer.png);}
.docgestion{background-image:url(docgestion.png);}
.doch_about{background-image:url(doch_about.png);}
.doch_class{background-image:url(doch_class.png);}
.doch_docs{background-image:url(doch_docs.png);}
.doch_help{background-image:url(doch_help.png);}
.doch_interactive{background-image:url(doch_interactive.png);}
.doch_main{background-image:url(doch_main.png);}
.doch_next{background-image:url(doch_next.png);}
.doch_prev{background-image:url(doch_prev.png);}
.doch_printable{background-image:url(doch_printable.png);}
.doch_reload{background-image:url(doch_reload.png);}
.doch_toc{background-image:url(doch_toc.png);}
.doch_transfer{background-image:url(doch_transfer.png);}
.doch_up{background-image:url(doch_up.png);}
.doch_upload{background-image:url(doch_upload.png);}
.doch_wims{background-image:url(doch_wims.png);}
.dochelp{background-image:url(dochelp.png);}
.docoef{background-image:url(docoef.png);}
.docslib{background-image:url(docslib.png);}
.doctec{background-image:url(doctec.png);}
.doctry{background-image:url(doctry.png);}
.download{background-image:url(download.png);}
.download_module{background-image:url(download_module.png);}
.downloadbinary{background-image:url(downloadbinary.png);}
.duplicateexam{background-image:url(duplicateexam.png);}
.duplicatesheet{background-image:url(duplicatesheet.png);}
.edfile{background-image:url(edfile.png);}
.endexam{background-image:url(endexam.png);}
.examdetail{background-image:url(examdetail.png);}
.exoerase{background-image:url(exoerase.png);}
.exolog{background-image:url(exolog.png);}
.exomodify{background-image:url(exomodify.png);}
.exploresave{background-image:url(exploresave.png);}
.faq{background-image:url(faq.png);}
.filemode{background-image:url(filemode.png);}
.formula{background-image:url(formula.png);}
.forum{background-image:url(forum.png);}
.freework{background-image:url(freework.png);}
.gestion{background-image:url(gestion.png);}
.getraw{background-image:url(getraw.png);}
.glossarycheck{background-image:url(glossarycheck.png);}
.go_userlist{background-image:url(go_userlist.png);}
.grades{background-image:url(grades.png);}
.help{background-image:url(help.png);}
.help_COMPOSE{background-image:url(help_COMPOSE.png);}
.help_CORRESP{background-image:url(help_CORRESP.png);}
.help_GAP{background-image:url(help_GAP.png);}
.help_ORDONNE{background-image:url(help_ORDONNE.png);}
.help_QCM{background-image:url(help_QCM.png);}
.help_QUIFAITQUOI{background-image:url(help_QUIFAITQUOI.png);}
.help_SELECTWORD{background-image:url(help_SELECTWORD.png);}
.help_SELECTWORDA{background-image:url(help_SELECTWORDA.png);}
.help_TONIC{background-image:url(help_TONIC.png);}
.help_TRUEFALSE{background-image:url(help_TRUEFALSE.png);}
.helpmain{background-image:url(helpmain.png);}
.home{background-image:url(home.png);}
.import{background-image:url(import.png);}
.intro{background-image:url(intro.png);}
.latex{background-image:url(latex.png);}
.latex2wims{background-image:url(latex2wims.png);}
.latexuser{background-image:url(latexuser.png);}
.legal{background-image:url(legal.png);}
.listliving{background-image:url(listliving.png);}
.listvar{background-image:url(listvar.png);}
.living0{background-image:url(living0.png);}
.living1{background-image:url(living1.png);}
.living2{background-image:url(living2.png);}
.living3{background-image:url(living3.png);}
.living4{background-image:url(living4.png);}
.living5{background-image:url(living5.png);}
.living6{background-image:url(living6.png);}
.living_activate{background-image:url(living_activate.png);}
.living_activerefresh{background-image:url(living_activerefresh.png);}
.living_activeshare{background-image:url(living_activeshare.png);}
.living_desactivate{background-image:url(living_desactivate.png);}
.living_sactivate{background-image:url(living_sactivate.png);}
.living_stoprefresh{background-image:url(living_stoprefresh.png);}
.living_stopshare{background-image:url(living_stopshare.png);}
.livingown{background-image:url(livingown.png);}
.livret{background-image:url(livret.png);}
.livret1{background-image:url(livret1.png);}
.login{background-image:url(login.png);}
.mail{background-image:url(mail.png);}
.map{background-image:url(map.png);}
.mirror{background-image:url(mirror.png);}
.mod_depr{background-image:url(mod_depr.png);}
.mod_modif{background-image:url(mod_modif.png);}
.mod_new{background-image:url(mod_new.png);}
.mod_resume{background-image:url(mod_resume.png);}
.mod_sys{background-image:url(mod_sys.png);}
.modcontent{background-image:url(modcontent.png);}
.model{background-image:url(model.png);}
.modellist{background-image:url(modellist.png);}
.modify{background-image:url(modify.png);}
.modlist{background-image:url(modlist.png);}
.modsave{background-image:url(modsave.png);}
.modtool{background-image:url(modtool.png);}
.moduback{background-image:url(moduback.png);}
.myactivity{background-image:url(myactivity.png);}
.myscore{background-image:url(myscore.png);}
.n_authparticipant{background-image:url(n_authparticipant.png);}
.n_authsupervisor{background-image:url(n_authsupervisor.png);}
.n_example{background-image:url(n_example.png);}
.n_participant{background-image:url(n_participant.png);}
.n_supervisor{background-image:url(n_supervisor.png);}
.newglose{background-image:url(newglose.png);}
.newmsg{background-image:url(newmsg.png);}
.newversion{background-image:url(newversion.png);}
.next{background-image:url(next.png);}
.next_participant{background-image:url(next_participant.png);}
.nexthist{background-image:url(nexthist.png);}
.nextseries{background-image:url(nextseries.png);}
.normalmode{background-image:url(normalmode.png);}
.other{background-image:url(other.png);}
.otherfiles{background-image:url(otherfiles.png);}
.otherscore{background-image:url(otherscore.png);}
.part_list{background-image:url(part_list.png);}
.partexamclose{background-image:url(partexamclose.png);}
.participantview{background-image:url(participantview.png);}
.passwd{background-image:url(passwd.png);}
.photoboard{background-image:url(photoboard.png);}
.pref{background-image:url(pref.png);}
.prev{background-image:url(prev.png);}
.prev_participant{background-image:url(prev_participant.png);}
.previousseries{background-image:url(previousseries.png);}
.print{background-image:url(print.png);}
.printable{background-image:url(printable.png);}
.printlatex{background-image:url(printlatex.png);}
.properties{background-image:url(properties.png);}
.publish{background-image:url(publish.png);}
.putclass{background-image:url(putclass.png);}
.putsource{background-image:url(putsource.png);}
.quick_COMPOSE{background-image:url(quick_COMPOSE.png);}
.quick_CORRESP{background-image:url(quick_CORRESP.png);}
.quick_GAP{background-image:url(quick_GAP.png);}
.quick_ORDONNE{background-image:url(quick_ORDONNE.png);}
.quick_QCM{background-image:url(quick_QCM.png);}
.quick_QUIFAITQUOI{background-image:url(quick_QUIFAITQUOI.png);}
.quick_SELECTWORD{background-image:url(quick_SELECTWORD.png);}
.quick_SELECTWORDA{background-image:url(quick_SELECTWORDA.png);}
.quick_TONIC{background-image:url(quick_TONIC.png);}
.quick_TRUEFALSE{background-image:url(quick_TRUEFALSE.png);}
.quicktool{background-image:url(quicktool.png);}
.rawdata{background-image:url(rawdata.png);}
.rawmode{background-image:url(rawmode.png);}
.recover{background-image:url(recover.png);}
.ref{background-image:url(ref.png);}
.reference{background-image:url(reference.png);}
.refresh{background-image:url(refresh.png);}
.reg_ex{background-image:url(reg_ex.png);}
.regmanage{background-image:url(regmanage.png);}
.renew{background-image:url(renew.png);}
.reorder{background-image:url(reorder.png);}
.replace{background-image:url(replace.png);}
.restore{background-image:url(restore.png);}
.resume{background-image:url(resume.png);}
.rss_modif{background-image:url(rss_modif.png);}
.rss_new{background-image:url(rss_new.png);}
.salon3bulles{background-image:url(salon3bulles.png);}
.save{background-image:url(save.png);}
.save_ex{background-image:url(save_ex.png);}
.scoreclose2{background-image:url(scoreclose2.png);}
.scoreexam{background-image:url(scoreexam.png);}
.scorereopen{background-image:url(scorereopen.png);}
.scores{background-image:url(scores.png);}
.scripttest{background-image:url(scripttest.png);}
.sendbug{background-image:url(sendbug.png);}
.sendmail{background-image:url(sendmail.png);}
.sequence{background-image:url(sequence.png);}
.sheet{background-image:url(sheet.png);}
.sheetadmin{background-image:url(sheetadmin.png);}
.sheetcheck{background-image:url(sheetcheck.png);}
.sheetmanagement{background-image:url(sheetmanagement.png);}
.sheetsource{background-image:url(sheetsource.png);}
.shsource{background-image:url(shsource.png);}
.shuserprint{background-image:url(shuserprint.png);}
.sitegestion{background-image:url(sitegestion.png);}
.stat{background-image:url(stat.png);}
.statdetail{background-image:url(statdetail.png);}
.struct{background-image:url(struct.png);}
.swork{background-image:url(swork.png);}
.tchat{background-image:url(tchat.png);}
.tchat1{background-image:url(tchat1.png);}
.tchat2{background-image:url(tchat2.png);}
.tchat3{background-image:url(tchat3.png);}
.tchatclose{background-image:url(tchatclose.png);}
.tchatopen{background-image:url(tchatopen.png);}
.teacherlist{background-image:url(teacherlist.png);}
.teacherview{background-image:url(teacherview.png);}
.techvar{background-image:url(techvar.png);}
.test{background-image:url(test.png);}
.testexo{background-image:url(testexo.png);}
.tools{background-image:url(tools.png);}
.upload{background-image:url(upload.png);}
.userlistliving{background-image:url(userlistliving.png);}
.usermanage{background-image:url(usermanage.png);}
.visitor{background-image:url(visitor.png);}
.vote{background-image:url(vote.png);}
.whelp{background-image:url(whelp.png);}
.work{background-image:url(work.png);}
.workdetail{background-image:url(workdetail.png);}
.workingtime{background-image:url(workingtime.png);}
.zone_enseign{background-image:url(zone_enseign.png);}

.menuitem{background-image:none;}
