
$name_h_browse
<ul class="wims_browse_list">
<li>
!href module=$module&cmd=new&job=subject $name_by_subject
</li>
!if $script_taxo=yes
  <li>
  !href module=$module&cmd=new&job=taxo $name_by_taxo
  </li>
!endif
 <li>
!href module=$module&cmd=new&job=level $name_by_level
$ : $name_by_level2
 </li><li>
!href target=wims_internal module=adm/new&cmd=new&job=new $name_by_date
$ : $name_news
 </li></ul>
$name_selected
<ul class="wims_browse_list">
 <li>
 !href module=$module&cmd=new&job=best $name_introduction
 $ $name_thebest
 </li><li>
!href module=$module&cmd=new&job=type $name_by_type
$ : $name_by_type2
 </li>
!if $lang iswordof fr
  <li>
  !href target=wims_internal module=help/teacher/program $name_french1
  $ $name_french2
  </li>
!endif
</ul>
