<!DOCTYPE html>
<html>
<head>
!set page_title = !defof title in $parm
  <title>$page_title</title>
</head>
<body>

!read adm/language /html/name.phtml

!if $parm=$empty
  <div class="wims_warning">ERROR: EMPTY PARM ?</div>
!else
  <div class="wims_content">
  !read $parm
  </div>
!endif
</body>
</html>
