!!## language independant
!if $logname=$empty
  !read adm/title.phtml 1\
$classname

  $name_warning
!else
  !read adm/title.phtml 1\
$classname\
$name_title_getraw
  !if $wims_user!=supervisor
    !set getraw=$wims_user
  !endif
  !set test=$wims_show_ip
  !if $wims_user=anonymous
    !set test=no
  !endif
  <div class="wims_content">
    !set wims_ref_class=wims_button_help
    !href cmd=help&special_parm=getraw $wims_name_help
    <pre>
!mexec getraw.sh
</pre>
  </div>
!endif

!set wims_menu_items=!append line getraw,1,cmd=reply&job=getuser&getuser=$getraw\
to $wims_menu_items
!if $wims_user=supervisor
  !set wims_menu_items=!append line part_list,1,cmd=resume\
    to $wims_menu_items
  !read adm/class/getnextuser $wims_class,$getraw,getraw,getraw
!endif
