
!distribute items $wims_debug_info into v_1,v_2,v_3,cpu_1,cpu_2,c_,f_,e_
<div class="wims_debug_mode">
    <p>The server is under debug mode. Your session: <strong class="wims_session">$wims_session.</strong></p>
    <ul>
        <li>Variable buffer: $v_1 bytes used by $v_2 variables + $v_3 freed chunks.</li>
        <li>$f_ files read, $c_ cached, $e_ cmds executed.</li>
        <li>Processing time $cpu_1 seconds, CPU usage $cpu_2 seconds.</li>
    </ul>
    !if $wims_exec_error!=$empty
        <p>Execution errors:</p>
        <pre>$wims_exec_error</pre>
    !endif
</div>
