<!-- used as default html header if there is none in the selected theme.-->
<meta charset="$wims_main_font">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>$module_title2</title>
<meta name="GENERATOR" content="wims [$module_language]">
<meta name="description" content="$module_description $wims_site_description">
<meta name="keywords" content="$wims_site_keywords, $module_domain, $module_keywords">
<meta name="Author" content="$module_author">

$wims_CSS
