!distribute items $wims_read_parm into m_,d_,t_,I_,p_,s_,M_
!if : isin $m_
  !set m_=!word 2 of $m_
!endif
!set y_=!char 1 to 4 of $m_
!set m_=!char 5,6 of $m_
!set subject=!item 8 to -1 of $wims_read_parm
!set test=!defof m_exists in $forumdir/$y_$m_/$I_
!if $test=yes or $forumuser=supervisor
  !if $y_$m_/$I_ notlineof $already_seen
    <li class="wims_forum_item_toread">
  !else
    <li class="wims_forum_list">
  !endif
  !href cmd=reply&job=read&readtype=html&r_msg=$y_$m_/$I_ $subject
, <span class="small"><i>$s_</i>
(
!read date.phtml $y_$m_$d_.$t_
)</span>
  !if $test=erased
    <span class="wims_warning">($n_erased)</span>
  !endif
  !if $job=thread
    <div class="wims_forum_msg">
      !read $forumdir/$y_$m_/$I_ html
    </div>
  !endif
!endif
