!read desc.phtml
<br>
$n_threadlist.
<div class="wimscenter">
!if $mlist=.newlist
  <span class="wims_button disabled">$n_bysubject</span>
!else
  $n_list_subject_month
  !item $lmon of $monthnames
  $lyear
!endif
 $ $
 !set wims_ref_class=wims_button
 !href cmd=reply&job=list&mlist=.newlist $n_bydate
 $ $
 !set wims_ref_class=wims_button
 !href cmd=reply&job=list $n_recent
</div>
<ul class="wims_forum_list">
!for p = 1 to $tot_t
  !set i = $(threadlist[$p])
  !set i_=!replace internal / by , in $i
  !if $(i_[1])=
    !set mlist=.newlist
  !else
    !set mlist=$(i_[1])
  !endif
  !if $mlist=.newlist
    !set l_=!line $i of $mnew
    !distribute word $l_ into a_,b_
    !set l_=!record $b_ of $forumdir/$a_/.msglist
  !else
    !set l_=!record $(i_[2]) of $forumdir/$mlist/.msglist
  !endif
  !read listone.phtml $l_

  !set l_thread=!translate / to _ in $i
  !set l_thread=!nospace $l_thread
  !href cmd=reply&job=thread&th_orig=$l_thread&th_start=$l_thread $n_thread
  </li>
!next
</ul>

!read listarch.phtml
