/* link "style"
removed 11/12/2014
a:link{
    color:blue;
    text-decoration:none;
}
a:hover{
    color:red;
    text-decoration:none;
    cursor:pointer;
}
*/
/* used in myheader.phtml for table layout */
#myheader {
    margin: 0px 0px 0px 0px;
    width:100%;
    vertical-align:top;
    max-height:11px;
    overflow:scroll;
}
.header1 {
    width:40%;
    letter-spacing:normal;
    text-align:left;
    vertical-align:top;
    margin:0px 0px 0px 0px;
    padding:2px;
}
.header2 {
    letter-spacing:normal;
    text-align:left;
    vertical-align:top;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    overflow:hidden;
    padding:2px;
}
.header3 {
    letter-spacing:normal;
    text-align:right;
    vertical-align:top;
    margin-left:auto;
    margin-right:0px;
    margin-top:0px;
    overflow:hidden;
    padding:2px;
    line-height:1px;
}
/* used for answer.phtml */
.answer {
    margin-left:auto;
    margin-right:auto;
    margin-top:8px;
    vertical-align:top;
    overflow:visible;
    min-width:60%;
}
.answer_t{
    vertical-align:top;
    text-align:left;
    border:1px;
    border-style:solid;
    border-color:lightgreen;
    padding:10px;
    font-size:80%;
}
/* used in form.phtml */
.exercise {
    margin-left:auto;
    margin-right:auto;
    margin-top:8px;
    vertical-align:top;
    overflow:visible;
}
.exercise_m {
    vertical-align:middle;
    text-align:left;
    padding:2px;
}
.exercise_t{
    vertical-align:top;
    text-align:left;
    padding:2px;
}
.exercise_c {
    vertical-align:middle;
    text-align:center;
    padding:2px;
}

/* send OK/NOK buttons in this div */
div.embedded_central{
    padding:0px;
    vertical-align:middle;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:2px;
}

/* 3 buttons must use id's : nikaia seems to have priority...*/
#schaersvoorde_confirm_ok_button{
    background-color:#afceff;
    color:black;
    font-weight:normal;
    font-size:12pt;
    text-align:center;
}
#schaersvoorde_confirm_nok_button{
    background-color:#ffce79;
    color:black;
    font-weight:normal;
    font-size:12pt;
    text-align:center;
}
#schaersvoorde_ok_button{
    background-color:#afceff;
    color:black;
    font-weight:normal;
    font-size:12pt;
    text-align:center;
}
#schaersvoorde_nok_button{
    background-color:#ffce79;
    color:black;
    font-weight:normal;
    font-size:12pt;
    text-align:center;
}
#schaersvoorde_extra_button{
    background-color:#ceffe5;
    color:black;
    font-weight:normal;
    font-size:16px;
    text-align:center;
}

/* general input/textarea  : if changed: change also myfreestyle.phtml <span> tag */
.schaersvoorde_input{
    color:black;
    background-color:#e8ffff;
    font-size:14pt;
    border:1px solid #ff0000;
    text-align:center;
}
.schaersvoorde_textarea{
    color:black;
    background-color:#e8ffff;
    font-size:14pt;border:1px solid #ff0000;
    vertical-align:middle;
    overflow: auto;
}

/* vertical list imitating single column of table */
.myvlist {
    list-style-type:none;
    vertical-align:middle;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    float:inherit;
    line-height:300%;
}

/* horizontal list imitating single row of table */
.myhlist ul {
    list-style-type:none;
    width:100%;
    float:left;
    margin:0px 0px 0px 0px;
    vertical-align:top;
}
.myhlist li {
    display:inline;
    position:relative;
    line-height:normal;
    list-style-type:none;
    text-align:left;
    margin:0px 0px 0px 0px;
    vertical-align:top;
}

/* zebra list <ul> */
.zebra_list {
    list-style-type:none;
    vertical-align:middle;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    line-height:125%;
    float:inherit;
}
.zebra_list li:nth-child(even) { 
    background:rgba(0,50,50,0.3);
}
.zebra_list li:nth-child(odd) { 
    background:rgba(0,79,155,0.3 );
}
 
/* table 3*n-collums zebra alternating 3 collumn  */
.zebra_table_v3 {
    border-collapse:collapse;
    margin-left:auto;
    margin-right:auto;
    color:black;
}

.zebra_table caption_v3 {
    caption-side:top;
    line-height:1.5em;
}
.zebra_table_v3 tbody th:nth-of-type(3n-2){
    background:rgba(0,79,155,0.1);
    padding:10px;
    border-bottom-style: solid ;
    border-bottom-color:rgba(0,79,155,0.6);
    border-bottom-width:2px;
    text-align:center;
}
.zebra_table_v3 tbody th:nth-of-type(3n-1){
    background:rgba(0,79,155,0.2);
    padding:10px;
    border-bottom-style:solid ;
    border-bottom-color:rgba(0,79,155,0.6);
    border-bottom-width:2px;
    text-align:center;
}
.zebra_table_v3 tbody th:nth-of-type(3n){
    background:rgba(0,79,155,0.3);
    padding:10px;
    border-bottom-style:solid ;
    border-bottom-color:rgba(0,79,155,0.6);
    border-bottom-width:2px;
    text-align:center;
}
.zebra_table_v3 tbody td:nth-of-type(3n-2){
    background:rgba(0,79,155,0.1);
    padding:6px;
    text-align:center;
}
.zebra_table_v3 tbody td:nth-of-type(3n-1){
    background:rgba(0,79,155,0.2);
    padding:6px;
    text-align:center;
}
.zebra_table_v3 tbody td:nth-of-type(3n){
    background:rgba(0,79,155,0.3);
    padding:6px;
    text-align:center;
}

/* table vertical column zebra  */
.zebra_table_v2 {
    border-collapse:collapse;
    margin-left:auto;
    margin-right:auto;
}

.zebra_table caption_v2 {
    caption-side:top;
    line-height:1.5em;
}

.zebra_table_v2 th {
    padding:6px;
    text-align:center;
    background:rgba(0,79,155,0.3);
    color:black;
}

.zebra_table_v2 tbody td:nth-of-type(odd){
    background:rgba(65,192,142,0.4);
    padding:3px;
    text-align:center;
    color:black;
}
.zebra_table_v2 tbody td:nth-of-type(even){
    background:rgba(65,192,142,0.5);
    padding:3px;
    text-align:center;
    color:black;
}

/* table horizontal row zebra */
.zebra_table_h2 {
    border-collapse:collapse;
    margin-left:auto;
    margin-right:auto;
    color:black;
}
.zebra_table_h2 caption {
    caption-side:top;
    line-height:1.5em;
}

.zebra_table_h2 th{
    padding:6px;
    text-align:center;
}

.zebra_table_h2 td{
    padding:4px;
    text-align:left;
}
.zebra_table_h2 tbody tr:nth-of-type(even){
    background:rgba(65,192,142,0.3);
}

.zebra_table_h2 tbody tr:nth-of-type(odd){
    background:rgba(0,79,155,0.3);
}

/* grid */
.grid_table {
    margin-left:auto;
    margin-right:auto;
    border-collapse:collapse;
    border:solid 1px rgba(102,102,102,0.6);
}

.grid_table caption {
    caption-side:top;
    line-height:1.5em;
}

.grid_table tbody tr:nth-of-type(odd){
    border-style:none;
    border-spacing:4px;
    background:rgba(102,102,102,0.3);
}
.grid_table tbody tr:nth-of-type(even){
    border-style:none;
    border-spacing:4px;
    background:rgba(102,102,102,0.2);
}
.grid_table th{
    padding:4px;
    border:1px solid rgba(102,102,102,0.6);
    text-align:center;
    vertical-align:middle;
    color:black;
    font-weight:normal;
    font-size:1.1em;
}
.grid_table td{
    padding:4px;
    border:1px solid rgba(102,102,102,0.6);
    text-align:left;
    vertical-align:middle;
    color:black;
    font-weight:normal;
    font-size:1.0em;
}


/* default */
.default_table {
    border-collapse:collapse;
    margin-left:0px;
    border:solid 1px rgba(102,102,102,0.6);
    background-color:rgba(10,180,60,0.3);
    font-weight:normal;
}
.default_table caption {
    caption-side:top;
    line-height:1.5em;
}

.default_table th{
    border:solid 1px rgba(102,102,102,0.6);
    padding:4px;
    text-align:center;
    vertical-align:middle;
    color:black;
    font-weight:normal;
}
.default_table td{
    border:solid 1px rgba(102,102,102,0.6);
    padding:2px;
    text-align:left;
    vertical-align:middle;
    color:black;
    font-weight:normal;
}

/* balans_1  col1=green col2=orange*/
.balans_1 tbody td:nth-of-type(2n-1){
    background-color:rgba(144,238,144,0.6);
}
.balans_1 tbody td:nth-of-type(2n){
    background-color:orange;
}
.balans_1 tbody th:nth-of-type(2n-1){
    background-color:rgba(144,238,144,0.6);
}
.balans_1 tbody th:nth-of-type(2n){
    background-color:orange;
}
.balans_1 {
    border-collapse:collapse;
    margin-left:0px;
    border:solid 1px rgba(102,102,102,0.6);
    font-weight:normal;
}
.balans_1 caption {
    caption-side:top;
    line-height:1.5em;
}
.balans_1 th{
    border:solid 1px rgba(102,102,102,0.6);
    padding:4px;
    text-align:center;
    vertical-align:middle;
    color:black;
    font-size:1.1em;
}
.balans_1 td{
    border:solid 1px rgba(102,102,102,0.6);
    padding:2px;
    text-align:left;
    vertical-align:middle;
    color:black;
    font-size:1em;
}

/* balans_2  col1+col2=green col3+col4=orange*/
.balans_2 tbody td:nth-of-type(4n-3){
    background-color:rgba(144,238,144,0.6);
}
.balans_2 tbody td:nth-of-type(4n-2){
    background-color:rgba(144,238,144,0.6);
}
.balans_2 tbody td:nth-of-type(4n-1){
    background-color:orange;
}
.balans_2 tbody td:nth-of-type(4n){
    background-color:orange;
}
.balans_2 {
    border-collapse:collapse;
    margin-left:0px;
    border:solid 1px rgba(102,102,102,0.6);
    font-size:1em;
}
.balans_2 caption {
    caption-side:top;
    line-height:1.5em;
}
.balans_2 th{
    border:solid 1px rgba(102,102,102,0.6);
    padding:4px;
    text-align:left;
    vertical-align:middle;
    color:black;
    font-size:1.1em;
}
.balans_2 td{
    border:solid 1px rgba(102,102,102,0.6);
    padding:2px;
    text-align:left;
    vertical-align:middle;
    color:black;
    font-size:1em;
}


/* balans_3  col1+col2+col3=green col4+col5+col6=orange*/
.balans_3 tbody td:nth-of-type(6n-5){
    background-color:rgba(144,238,144,0.6);
}
.balans_3 tbody td:nth-of-type(6n-4){
    background-color:rgba(144,238,144,0.6);
}
.balans_3 tbody td:nth-of-type(6n-3){
    background-color:rgba(144,238,144,0.6);
}
.balans_3 tbody td:nth-of-type(6n-2){
    background-color:orange;
}
.balans_3 tbody td:nth-of-type(6n-1){
    background-color:orange;
}
.balans_3 tbody td:nth-of-type(6n){
    background-color:orange;
}
.balans_3 {
    border-collapse:collapse;
    margin-left:0px;
    border:solid 1px rgba(102,102,102,0.6);
    font-weight:normal;
}
.balans_3 caption {
    caption-side:top;
    line-height:1.5em;
}
.balans_3 th{
    border:solid 1px rgba(102,102,102,0.6);
    padding:4px;
    text-align:left;
    vertical-align:middle;
    color:black;
    font-size:1.1em;
}
.balans_3 td{
    border:solid 1px rgba(102,102,102,0.6);
    padding:2px;
    text-align:left;
    vertical-align:middle;
    color:black;
    font-size:1em;
}

.demospecial th {
border-width:1px;
padding:6px;
border-style:solid;
background-color:#a6d4ff;
} 
.demospecial td {
padding:6px;
border-width:1px;
border-style:solid;
text-align:center;
background-color:#c6d4ff;
}


/* not important misc. */
span.schaersvoorde_alarm {
    color:red;
    font-size:75%;
    font-style:italic;
}
span.schaersvoorde_link {
    color:blue;
    font-style:italic;
}
hr.schaersvoorde_hr {
    height:2px;
    border-width:0;
    color:black;
    background-color:black;
    width:50%;
}

