!if $casecnt<3
  $name_formnewcase_1
  !set wims_ref_class=wims_button
  !href cmd=resume $name_continue
  !exit
!endif

$name_formnewcase_2
<ul>
!for i=1 to $casecnt-1
  !set l=!line $i+1 of $caseline
  <li>
  !href cmd=reply&opt=gotocase&gotocase=$i $name_case $i
.
  !insmath $l
  !if $i=$activecase
    ($name_current_case)
  !endif
  </li>
!next i
</ul>
