!if $option iswordof newcase
  !changeto deduc/form$option.phtml
!endif

!if $casefinished!=$empty
  $(name_form1_1[1])
  !htmlmath $casefinished
  $(name_form1_1[2]).
!endif

!if $casecnt>1
  !if $casecnt<3
    !if $casefinished!=$empty
      $(name_form1_2[1]):
    !else
      $(name_form1_2[2]):
    !endif
  !else
    !if $casefinished!=$empty
      $(name_form1_3[1])
    !else
      $(name_form1_3[2])
    !endif
    !href cmd=reply&opt=newcase $[$casecnt-1] $(name_form1_3[3])
    $(name_form1_3[4]):
  !endif
  !htmlmath $caseid
  <br>
!endif

!form reply
!if $currstep=1
  <p>
  $name_form1_4
  </p>
  $(name_form1_5[1]):
!else
  $(name_form1_5[2]) $currstep:
!endif
<small>[
!href cmd=help&help_subject=methall&special_parm=$thisexo $wims_name_help
]
!set random1=!randint 1,10^6
!set random2=!randint 1,10^6
!set random=$random1.$random2
[
!href cmd=help&help_subject=status&special_parm=$random $name_state
]</small> <br>
!set n_=!linecnt $m_context
!reset l_,t_
!if $n_>10 and prf/cleanhyp notitemof $mthlist
  !set l_=,prf/cleanhyp
  !set t_=,$name_form1_erasehyp
!endif
!formselect method list -,$mthlist$l_ prompt $ch_choose,$mtitles$t_
<input type="submit" value="$name_continue">

!formend
