!if $help_subject iswordof methall status
  !read deduc/$modu_lang/help/$help_subject.phtml
  <div class="wimscenter">
  !set wims_ref_class=wims_button
  !href cmd=help $name_otherhelp
  </div>
  !reset help_subject
  !exit
!endif

!if $help_subject=meth and $method!=$empty
  !read deduc/meth/$modu_lang/$method.def
  !default methhelp=$name_nosuphelp
  <p>
  <b>$name_method</b>: <span style="color:blue; font-style=italic" class="bold">$methtit</span>
  </p>
  $methhelp
  !reset help_subject
  !exit
!endif

!if help iswordof $exo_has
  !read $deffile help
!else
  $name_noparthelp
!endif
!set random1=!randint 1,10^6
!set random2=!randint 1,10^6
!set random=$random1.$random2
<p>
$name_subjecthelp:
!set wims_ref_class=wims_button
!href cmd=help&help_subject=methall&special_parm=$thisexo $name_methods
,
!set wims_ref_class=wims_button
!href cmd=help&help_subject=status&special_parm=$random $name_state
.
</p>
!reset help_subject
