
!readproc primitives/getlimit.proc parms

<ol>
!for i=1 to $(choices$parmcnt)
  <li>
    !reset checked emph1 emph2
    !if $i iswordof $(parm$parmcnt)
      !set checked=checked="checked"
      !set emph1=<strong>$name_yourchoice<em>
      !set emph2=</em></strong>
    !endif
    !set i_1=<input type="radio" name="parm$parmcnt" id="parm$(parmcnt)_$i" value="$i" $checked>
    !set i_2=$emph1 $(parms[$i]) $emph2
    !set ll=!item $i of $limits
    !set remain=$[max(0,$ll-0$(vcnt_$(parmcnt)_$i))]
    <label for="parm$(parmcnt)_$i">
      !if $ll>0
        !if $remain>0
          $i_1
        !endif
        $i_2
        ($remain $name_remaining)
      !else
        !if $ll<0
          $i_2 ($name_optionclosed)
        !else
          $i_1 $i_2
          !if $(vcnt_$(parmcnt)_$i)!=$empty and $vshow=1
            ($(vcnt_$(parmcnt)_$i)).
          !endif
        !endif
      !endif
    </label>
  </li>
!next i
</ol>
