
!readproc primitives/getlimit.proc parms

<ul class="inline">
!for i=1 to $(choices$parmcnt)
  <li>
    !reset checked
    !if $i iswordof $(parm$parmcnt)
      !set checked=checked="checked"
    !endif
    <input type="radio" name="parm$parmcnt" id="parm$(parmcnt)_$i" value="$i" $checked>
    <label for="parm$(parmcnt)_$i">
      !item $i of $parms
    </label>
    !set ll=!item $i of $limits
    !if $ll>0
      !set remain=$[max(0,$ll-0$(vcnt_$(parmcnt)_$i))]
      ($remain $name_remaining)
    !else
      !if $(vcnt_$(parmcnt)_$i)!=$empty and $vshow=1
        ($(vcnt_$(parmcnt)_$i))
      !endif
    !endif
  </li>
!next i
</ul>

