!readproc primitives/getlimit.proc parms

!if $vote_option!=nominative
 <textarea class="nowrap" name="parm$parmcnt" cols="60" rows="4" maxlength="$limit_textarea">$(parm$parmcnt)</textarea>
 <br>
 ($name_textarea_limit)
!else
 <p>
 $name_textarea
 </p>
!endif

