!if $validator_address!=$empty
 !form reply
 !reset validation_ask
 <input type="submit" name="validation_ask" value="Validation W3C"> (experimental)
 !formend
!endif

!if $validate_out!=$empty
 <pre>
$validate_out
 </pre>
!endif
!reset validate_out
