!! Display a table for modifying exo order in a serie.
!! (used in adm/class/sheet/exomodify and adm/class/addmodule/exo)

!if $get_qnum=$exocnt_ and $get_random=0 and $get_qnum>1

<div class="field box fullwidth">
 !set wims_ref_class=wims_button_help float_right
 !href target=wims_mhelp cmd=help&special_parm=series $wims_name_help
 <table class="wimstable">
  <caption>$name_exo_order</caption>
  <thead>
    <tr>
      <th>$wims_name_title</th><th>$wims_name_Position</th>
    </tr>
  </thead>
  <tbody>
  !for ex = 1 to $exocnt_
    <tr><td data-id="$(get_exo[$ex])">
      !if __classes/ isin __$dir
        !set tt_ex=!lookup $(get_exo[$ex]) in wimshome/log/classes/$wims_class/Extitles
      !else
        !set tt_ex=!lookup $(get_exo[$ex]) in wimshome/public_html/modules/$dir/Extitles
      !endif
      !default tt_ex=$(get_exo[$ex])
      <label for="update_ex$ex">$tt_ex</label>
    </td><td>
      <input name="update_ex$ex" id="update_ex$ex" size="5" value="$ex" type="number">
    </td></tr>
  !next
  </tbody>
 </table>
</div>

!endif
