
!if $special_parm1 iswordof namewriting
  !changeto help/$modu_lang/$special_parm1.phtml
  !exit
!endif
!read lang/names.phtml.$modu_lang
!if $wims_developer!=
  !set wims_menu_items=!append line help,1,cmd=help \
    to $wims_menu_items
  !for EXO in QCM,TRUEFALSE,SELECTWORD, SELECTWORDA, GAP , ORDONNE, COMPOSE , CORRESP , QUIFAITQUOI, TONIC
    !set wims_menu_items=!append line help_$EXO,1,cmd=help&special_parm=$EXO\
    to $wims_menu_items
  !next
  !reset EXO
!else
  !goto intro
  !exit
!endif
!set my_dir=lang/help.$modu_lang
!set hr=<hr style="color: #663366;\
background-color: #663366;\
height: 5px;">

!set hh=<h2 style="color:$wims_ref_menucolor; \
background-color: $wims_ref_bgcolor;\
text-align:center;">

!set hh3=<h3 style="color:$wims_ref_menucolor; \
background-color: $wims_ref_bgcolor;\
text-align:left;">

!set pre=style="\
    background-color:white;\
    font-weight: bold ;\
        font-size: 12px;\
        border-style: solid;\
        border-width: 2pt;\
        margin: 3% 3% 3% 3%;\
        padding : 3%;"

!set tt=style="background-color:white;\
   font-weight: bold ;\
   padding : 0% 1% 0% 1%;"

!set desc = $hh3 $wims_name_Description</h3>
!set help_parm=$special_parm
!default help_parm=$parmhelp
!set help_cnt_parm=!itemcnt $help_parm

!if $special_parm!=$empty
  !set EXO=$special_parm
  $hh $(wims_name_quick_$EXO)</h2>
  $desc

  !set a=!record 0 of lang/help.$modu_lang/$EXO
  $a
  $hh3 $name_format_data $(wims_name_quick_$EXO)</h3>
  !set a=!record 2 to -1 of lang/help.$modu_lang/$EXO
  !set b=!record 1 of lang/help.$modu_lang/$EXO
  !set b=!line 2 to -1 of $b
  $b
  !replace internal : by &#58; in :$a
!endif

!if $special_parm1 !=$empty
  !read lang/help.$modu_lang/special_help.phtml
  !exit
!endif

<a id="commun"></a>
<div $frame>
!if $help_cnt_parm >1
  $desc

  !record 0 of lang/help.$modu_lang/commun
!endif

!if $help_cnt_parm >1
  !for t = 1 to $help_cnt_parm
    !set EXO=!item $t of $help_parm
    <br>
    $hh $(wims_name_quick_$EXO)</h2>
    $desc

    !record 0 of lang/help.$modu_lang/$EXO
    $hh3 $name_format_data $(wims_name_quick_$EXO)</h3>
    !set a=!record 2 to -1 of lang/help.$modu_lang/$EXO
    !set b=!record 1 of lang/help.$modu_lang/$EXO
    !set b=!line 2 to -1 of $b
    <pre>
    $b
    !replace internal : by &#58; in :$a
    </pre>

  !next t
!endif

!if $help_cnt_parm=1
  $hh  $name_commun</h2>
  $desc
  !record 0 of lang/help.$modu_lang/commun
!endif

</div>
!exit

:intro
!read adm/language lang/names.phtml
!read values
$table_header
$table_tr<th>$wims_name_Type</th><th>$wims_name_Description</th><th>$name_Example</th>
!set u = !linecnt $name
!for i = 1 to $u
  $table_tr<td style="width:12%">
  !set cnt=!itemcnt $(name[$i;])
  !for a =1 to $cnt
    <br>
    $(wims_name_quick_$(name[$i;$a]))
  !next a
  </td><td style="width:25%">$(explication[$i;])</td>
  <td>
  <ul>
  !for j = 1 to $(nb_example[$i])
    !set ex_data = !getdef file in $example_dir/$(name_example[$i])/$j
    !set ex_title = !getdef title in $example_dir/$(name_example[$i])/$j
    !set ex_source = !getdef source in $example_dir/$(name_example[$i])/$j
    !set ex_data=!nospace $ex_data
    <li>
    !href target=wims_test module=$module_test&exo=$ex_source&cmd=new <i>$ex_title</i>
    $ $
    !href target=wims_mhelp cmd=help&special_parm=example&special_parm2=$(name_example[$i])/$ex_data $name_data
    $ $
    </li>
    !if $j = $(nb_example[$i])
      </ul>
    !endif
  !next j
  </td></tr>
!next i
$table_end
