 Here, in two different forms, is the list of key words recognized by the
search motor (and thus allowing completion). Select the technical version in
English of the key words as they are written here. The words (or groups of
words) must be separated by a comma. It is not necessary to put back the
names of domains in this field. They are automatically used by the search
engine.

<div class="wims_instruction">
In the OEF modules, the keywords included in one of the exercises
in the field <span class="tt">\keywords{}</span>
are added to the keywords of the module.
</div>
