!read adm/title.phtml 2\
Type des modules

According to the box you tick, you will have a different type of module:

<ul><li>
!!oef
<strong>$(name_type[1])</strong>:: you can place the OEF (Online Exercise Format)
directly or transfer them from your class.
</li><li>
!! document
<strong>$(name_type[2])</strong>: You can create a document for the class
</li><li>
!! exercice
<strong>$(name_type[3])</strong>: this type is reserved for experts and allows a lot of freedom
!! outil
<strong>$(name_type[4])</strong>
</li><li>
!!recreation
<strong>$(name_type[5])</strong>
</li><li>
!! deductio
<strong>$(name_type[6])</strong>
</li></ul>
<div class="wims_msg alert">
The box chosen determines the files that will be automatically put at your disposal.
Once the module is created, if you have mistaken the type, ticking
another box will not allow you to change  these files.
You will need to create a new module.
</div>
