
!read adm/title.phtml 3\
\
Upload spreadsheet data
Om gegevens te versturen naar een klas op deze server,
moeten de data als een tekstformaat (txt, csv, of tsv) door het gebruikte spreadsheet programma worden geexporteerd.
<p>
U kunt zo gegevens van studenten naar de WIMS server opsturen.
De opgestuurde gegevens mogen <em><b>geen</b></em> cijfers bevatten.
</p><p>
U kunt deze methode gebruiken om een hele klas in 1 keer te "bevolken".
</p><h3>Authentification via WIMS</h3>
De eerste rij van de tabel moeten de sleutelwoorden [zoals deze door WIMS worden herkend]
zijn van de kolommen.
De momenteel gebruikte sleutelwoorden en hun betekenis staat hieronder vermeld.<br>
U kunt elke kombinatie van kolommen maken en in elke gewenste volgorde, met als enige voorwaarde dat
de <span class="tt wims_code_words">login</span> aanwezig moet zijn.
 (Het WIMS-systeem gebruikt dit veld namenlijk om de individuele leerling te herkennen.)
 Als U wilt dat sommige rijen niet worden ingelezen, kan dit worden aangeven met een <span class="tt wims_code_words">#</span> in het
 <span class="tt wims_code_words">login</span> veld.

<p>
Bijvoorbeeld:
</p><pre>
login,firstname,lastname,password,email,regnum,comments
"ChrisB","Christiaan","Boersma","46As72","chris.boersma@school.nl","2005AZ7253","stapt in 2009 over van VMBO naar HAVO"
</pre>
<h3>Externe authentificatie</h3>
Het bestandsformaat is gelijk, maar het veld
<span class="tt wims_code_words">login</span> moet worden vervangen door
<span class="tt wims_code_words">external_auth</span> (het veld <span class="tt wims_code_words">login</span>
is dan niet meer zichtbaar).
Verder moeten achtenaam en voornaam (<span class="tt wims_code_words">lastname</span>,
<span class="tt wims_code_words">firstname</span>) worden vermeld.
Tenzij er gebruik wordt gemaakt van een ldap koppeling bijvoorbeeld (instelbaar in de klas configuratie)
In dt geval alleen de externe authentificatie
(<span class="tt wims_code_words">external_auth</span>) instellen.
Het is niet verstandig deze authentificatie te wijzigen als er al deelnemers zijn ingeschreven.

<p>
Bijvoorbeeld:
</p><pre>
external_auth,firstname,lastname
"ChrisB","Christiaan","Boersma"
</pre>
<hr>
!read lang/help.$moduclass_lang/fieldtab.phtml
