 <b>Auto.</b> (nom: <span class="tt">default</span>)<br>
 El programa puede determinar el tipo de la respuesta analizando la respuesta
 correcta proporcionada. Esta capacidad de determinación automática es bastante
 limitada y únicamente puede distinguir funciones numéricas/números/ecuaciones/textos,
 por tanto en la medida en que sea posible es preferible precisar el tipo.
