!!language independant

!set mod_title=!defof title_$modu_lang in index
!default mod_title=$module_title
!header1
!read adm/title.phtml 2\
$mod_title\
$httpd_HTTP_HOST

!if $wims_theme_version=0 or $wims_theme_version=
  <div class="wimscenter">
!endif
!for j in $joblist
  !if $j=$job
    !if $wims_theme_version=0 or $wims_theme_version=
      <u><b>$(wims_name_mod_$j)</b></u>
    !endif
  !else
    !if $wims_theme_version=0 or $wims_theme_version=
      !href cmd=reply&job=$j $(wims_name_mod_$j)
    !endif
    !if $j!=depr or ($j=depr and $job=modif)
      !set wims_menu_items=!append line mod_$j,1,cmd=reply&job=$j \
        to $wims_menu_items
    !endif
  !endif
  !if $wims_theme_version=0 or $wims_theme_version=
    &nbsp;
  !endif
!next j
!if $wims_theme_version=0 or $wims_theme_version=
  </div>
!endif

!read $job.phtml
!set wims_menu_items=!append line rss_new,2,$w_/rss/new.xml,external\
rss_modif,2,$w_/rss/modif.xml,external\
to $wims_menu_items

!tail
