<div class="wims_content">
  !form reply
    <input type="hidden" name="job" value="modifvar" >
    <fieldset class="property_fields halfwidth blockcenter">
      <legend>$name_modifvar</legend>
      <div class="field box">
        <label for="tc_name">$wims_name_name</label>
        <input size="10" name="tc_name" value="$tc_name" id="tc_name" required="required" pattern=".{1,$MAXcharname}" >
      </div>
      <div class="field box">
        <label for="tc_value">$name_ltvalue</label>
        <input size="60" name="tc_value" value="$tc_value" id="tc_value" required="required" >
      </div>

      <div class="wimscenter wimsform">
        <input type="submit" name="tc_set" value="$wims_name_tosave" >
        $
        <input type="submit" name="tc_abandon" value="$wims_name_giveup" class="wims_secondary_button" >
      </div>
    </fieldset>
  !formend
</div>
!if $del_values!=$empty
  $(name_deletablevalues):
  <span class="wims_code_words">$del_values</span>
!endif