<h2 class="wimscenter">Dynamic drawing</h2>

<p>It is possible to include 2D drawings into the statement of your exercises
(under html format). These drawings are dynamic, that is, you can use variables in your draw commands,
and the result will vary with the values of the variables. It is even possible to produce animations.
</p><p>
!!See also
!!!href cmd=help&special_parm=canvasdraw canvasdraw
!!$ $ for more interactivity possibilities.
!!</p><p>
Syntax&#58;
</p>
<pre>
\draw{xsize,ysize}{command...}
</pre>
where <span class="tt">xsize, ysize</span> are respectively the width and height of the picture
(in number of pixels), and <span class="tt">command...</span> is the content of the commands.
That is a text composed of several lines, each line being one command.
<p>
!href cmd=help&special_parm=draw_example Example.
</p>
<hr/>

!changeto help/flydraw.phtml
