<h4>Embed answers into the statements</h4>

:signification
It is possible to embed (include) answers into the statement of your
exercises under html format. The embedded replies and choices should be
defined usually.

:example
 <span class="wims_help_example">Examples</span>
 <ul>
  <li><span class="tt wims_code_words">\embed{reply 1}</span> insert the first freestyle reply into the text.</li>
  <li><span class="tt wims_code_words">\embed{reply 2,10}</span> insert the second freestyle reply into the text,
with an input field of size 10.</li>
  <li><span class="tt wims_code_words">\embed{choice 1}</span> insert the first multiple choice into the text.</li>
  <li><span class="tt wims_code_words">\embed{reply 1,\i, \pick[\i;]}</span> When type is a multiple choice, insert choice #<span class="tt">\i</span> into the text, but its appearance will be "<span class="tt">\pick[\i;]</span>". With this, you can have very simple choices (A,B,C), but with complex appearances (like mathematics formula).</li>
</ul>

Special case. If the type of <span class="tt wims_code_words">reply 1</span> is among <span class="tt wims_code_words">checkbox</span>,
<span class="tt wims_code_words">click</span>, <span class="tt wims_code_words">radio</span>, <span class="tt wims_code_words">\embed{reply 1,2}</span>
inserts only one of the choices (here the number 2 in this case), either
clickable (<span class="tt wims_code_words">click</span>) or with a button for marking it. This allows
insertions of the choices in versatile text structures.

<p>
In the case of the <span class="tt wims_code_words>"menu</spn> type,
it is obligatory to put <span class="tt wims_code_words">\embed{reply 1}</span>
without a second argument.
</p>
