
<h3>The format OEF</h3>
<p>

OEF means ``online exercise format'', a format for mathematical exercises
destinated to computer-aided teaching systems. The goal of the creation
of this format is to help the exchanges of content between different
systems. Therefore this format only contains mathematical informations of
the exercise.
</p><p>
The advantage of the OEF format is that exercises under it are very easy
to create. But it should be said that these exercises, in particular those
created by $module_title, are not as performing as native exercises of a
system such as WIMS. It is hard to imagine, at least for the time being,
the WIMS exercises such as Q-Puzzle, the Coincidence series or again the
Shoot series, be transformed into oef format.
</p><p>
Please refer also to 
!href cmd=help&special_parm=examples the examples
 to have an idea of the structure of an OEF file. 
</p>
<h4>Basic syntax</h4>
<p>The format of a OEF file is very similar to LaTeX. It is composed of
directives followed by one or more parameters. A directive is a word
preceeded by the character <span class="tt wims_code_variable">\</span>,
and the parameters are enclosed in braces.
For example, in the following sentence
</p><pre>
   \choice{The answer is}{yes}{no}
</pre>
there is a directive named <span class="tt">choice</span>, 
which has 3 parameters, namely, <span class="tt">The answer is</span>, <span class="tt">yes</span>
and <span class="tt">no</span>.

<h4>List of directives</h4>
<p>Here is a brief list of directives recognized by the OEF manager of WIMS.
See also 
!href cmd=help&special_parm=parameters help on parameters
 for the syntax to define parameters.
</p>

