
!read adm/title.phtml 1\
Servers for downloads and publication

!!publishname=Nice University Publication Center
!!downloadname=Nice University Download Center
!set subject=Publication
!set unice=!defof publishname,sysadmin in wimshome/public_html/bases/sys/publishcenter/unice
!set wimsedu=!defof publishname,sysadmin in wimshome/public_html/bases/sys/publishcenter/wimsedu

Two WIMS servers $(unice[1]) (<span class="tt">unice</span>
<a href="mailto:$(unice[2])?subject=$subject">$(unice[2])</a>) et
$(wimsedu[1]) (<span class="tt">wimsedu</span> <a href="mailto:$(wimsedu[2])?subject=$subject">$(wimsedu[2])</a>)
are available if you wish to download or publish modules.
The servers are synchronised if their version is compatible with the WIMS version required
for the publication of a given module.
If a module published on a server is not compatible with the version of WIMS on another server,
the address of the module is saved so as to avoid the publication of another module
with the same address.

<p>
An author must be registered on one of the publication servers before he/she can publish a module.
Otherwise a module can only be published via a registered author who is first
required to validate the module for publication.
</p>

<p>
A WIMS server administrator decides which publication server(s) to use
and informs the authors who use his/her server to develop modules.
</p>
<p>
When a module is published on a server its author
has the right to modify it on the server it was published on.
If for some valid reason (for example a more recent version of WIMS),
the author wishes to to change the publication server for a module,
she/he has to contact the administrators of publication servers to require authorisation.
</p>

<p> The administrator of a WIMS server can choose the servers
from which he/she wishes to download modules from.
</p>
<p>
In the future, other publication and download servers may be
added. A publication server is a center for downloads but the opposite is not always true.
</p>
