
.wims_browse_type_list li,
.wims_browse_list li,
.wims_browse_subject_list li{
  list-style: none;
  margin-top: 10pt;
}

.wims_browse_type_list li {
  margin-right: 0;
  margin-bottom: 5pt;
  padding: 3pt 0 0 5pt;
}

.wims_browse_list li,.wims_browse_subject_list li {
  background-color: #e5e5e5;
  margin-right: 10%;
  padding: 3pt 0 0 3pt;
}

.wims_formradio, .wims_formradio input{font-size: 80%;}
.tree label{font-weight: normal; display: inline;}
.tooltip {
      position: relative;
      cursor: help;
}
.box p{margin-top:0;}
.tooltip:hover::after {
       display: block;
       position: absolute;
       top: 1.2em;
       left: 2em;
       background: white;
       padding: 5px;
       content: attr(title);
}

.pastille{
    display: inline-block;
    font-size: .66em;
    background-color: #444;
    color: #fff;
    padding: 0 .5em;
    border: 2px solid #fff;
    border-radius: 1em;
    line-height: 2em;
}
.taxo_nb_exo{
    background-color: #ff9010;
}
.taxo_nb_modules{
    background-color: #8A674C;
    /*background-color: #f04124;*/
}
span.taxo_module a:link{
    font-weight: bold;
}

ul.tree span.taxo_module span.c{
    font-weight: bold;
    /*border:1px solid #AFAFAF;*/
    /*background-color:rgba(0,0,0,.1);*/
}

span.c .small{
  font-size: 50%;
}
