/* WORDS in code in all texts*/

code, pre{
  border: 1px solid #cacaca;
  border-radius: 2px;
  box-shadow: inset 0 0 .5em rgb(128 128 128 / .5);
}

pre>code{
  border: none;
  box-shadow: none;
  padding: 0;
}

code{
  /* <code> est habituellement utilise pour du code "inline",
     mais avec "inline-block", on peut aussi l'utiliser en multi-lignes. */
  display: inline-block;
  padding: .3rem .4rem;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  color: #0a0a0a;
  /*background-color: #f9fdf9;*/
  background-color: #FFF;
}

pre{
  /* pre peut afficher du texte multi-lignes */
   /*border-left-width: 4px;
   background-color:rgb(128,255,128);
   background-color:rgb(0 128 0 / .1);
   font-family: monospace, "Courier New";
   border-left-style: ridge;
   line-height: 1.1em;
   margin: 1em;*/
   /* white-space lets display this block without scroll bars */
   /*white-space: pre-wrap;*/
   overflow: auto;
   padding: .6rem;
}

textarea#wims_deposit {
  width: 100%;
  max-width: 75em;
  min-height: 30em;
}

/* reference to filename (in modtool file list)*/
.wims_fname {
  font-family: monospace, "Courier New";
  color: #600;
  font-weight: bold;
}
/* reference to parameters */
.wims_parm{background-color: #ffffe5;}

/* mots de code */
.wims_code_words {color: blue;}

/* The <kbd> HTML element represents a span of
 inline text denoting textual user input from a keyboard,
 voice input, or any other text entry device.
*/
kbd {
  border: 1px solid #b4b4b4;
  background-color: #eee;
  color: #333;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgb(0 0 0 / .2), 0 2px 0 0 rgb(255 255 255 / .7) inset;
  line-height: 1;
  font-weight: bold;
  display: inline-block;
  letter-spacing: .05em;
  padding: 2px 4px;
  white-space: nowrap;
}

/* variables in help for example*/
.wims_code_variable {color: navy;}

/*address as email adress, but also adresse of a file*/
/*.wims_address {}*/

/* title of modules in a texte */
.wims_mod_title {
  color: blue;
  font-style: italic;
}
/* descriptions of modules in help or text */
.wims_mod_desc {
  font-style: italic;
}

/* WIMS_messages */
.wims_msg{
   /*font-weight: bold;*/
   padding: .3rem;
   border: 1px solid #BCBCBC;
   max-height: 999em;
}
div.wims_msg{
  margin: .5rem auto 1rem auto;
  position: relative;
}
/* transition to hide an element (will be smoother if we use js) */
div.alert_closing {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 2s ease-out;
}

/* WIMS_messages (type success) */
.wims_msg.success{background-color: #e1faea;}
/* WIMS_messages (type alert) */
.wims_msg.alert,.wims_msg.fail{background-color: #fce6e2;}
/* WIMS_messages (type warning) */
.wims_msg.warning{background-color: #fff3d9;}
/* WIMS_messages (type info) */
.wims_msg.info{background-color: #def0fc;}
/* WIMS_messages (type help) */
.wims_msg.help{background-color: #F6F6F6;}
/* include variables in WIMS_messages
.wims_msg .tt{color: black;}*/

/* alert msg (WIMS_messages, old way (but still used in several modules) */
.wims_alertmsg{
   margin: auto;
   color: #A52A2A;
   font-weight: bold;
   padding: 10px;
   border: solid 1px;
}

/* reference sur un label */
.wims_label {
   font-family: monospace, "Courier New";
   padding: 1px 3px;
   border: solid 1px ;
}
.wims_label.open,.wims_label.success{
  color: green;
}

/* words as login*/
.wims_login {
   color: blue;
   font-weight: bold;
}
