.wims_home_list li {
  background-color:#fff;
  list-style:none;
  padding : 5pt;
}
.wims_home_list li:nth-child(even) {background-color:#e5e5e5;}

/*.wims_home_button {}

.wims_home_menu {}*/

/*.wims_frontpage, .wims_motd{
  padding-right: 10pt;
  padding-left: 10pt;
}*/

.wims_motd {
  background-color:rgb(232,232,232);
  padding-right: 10pt;
  padding-left: 10pt;
}

/* Tiny MCE editor */
.mce-content-body{
  margin:.5em;
}
