/** default css styles for MathML */
.wims_mathfont{
  font-family: STIXGeneral-Regular, Symbol, Times, serif;
  font-size: 14pt;
}
.wims_mathfont i, i.wims_mathfont{
  font-family: STIXGeneral-Italic;
}

.wims_mathml{
  font-size:1em;
  transition: all 2s;
  /*font-family: Symbol, Times, serif;
  font-style: normal;*/
}

.wims_mathml textarea{
  vertical-align:middle;
  overflow:hidden;
  resize:none;
}


a>.wims_mathml,
a .wims_mathimg{
  padding:.5em;
  border-style: solid;
  border-width:1px;
  border-color: transparent;
}
a:hover>.wims_mathml,
a:hover .wims_mathimg{
  border-color: inherit;
}
