/* ************ PRINTER FRIENDLY ********* */
@media print {
  .body {
    background-color:white;
    font-size: 12pt;
    font-family:"Times New Roman", serif;
    margin-left: auto;
    margin-right:auto;
  }
  div.wimsbody {
    background-color:white;
    font-family:"Times New Roman", serif;
    margin-right:auto;
    padding:0;
    /*padding-left : 10%;
    padding-right : 10%;*/
    margin-left : 0 !important;
  }

  /* Sets background-colors to white, saving ink */
  body.main_body,
  #wimsdoc,
  #wimsbodybox {
    background:none;
  }

  /* Hide all Menus */
  #wimstopbox,
  #wimsmenubox,
  #wimsmenumodubox,
  .wimsmenu,
  .menuitem,
  .wimstail{
    visibility: hidden;
    display:none;
  }

  table.wimstable th,table.wimstable a {
    color: #000000;
    background-color:white;
  }

  #oef_actions,
  #oef_endhook,
  #wims_nextinsheet,
  p.send_answer,
  .wims_topback,
  .wims_search_engine{
    visibility: hidden;
    display:none;
  }
}
/*** End Printer Friendly style ***/
