/* ****** SEQUENCE ******** */
.wims_seq, .wims_sheet {
  position: relative;
  /*padding: 2.5em 0 0 1em;*/
  border: thin solid;
  border-bottom: 2px solid #888;
  border-right: 2px solid #888;
}

.wims_title_seq{
  margin: 0;
  padding:.5em;
  border-bottom:thin solid gray;
  font-size: 1.3em;
}

.wims_work_list a {text-decoration: none}
.wims_work_list a:hover {text-decoration:underline}

.wims_seq .wims_desc_item {color:#804000}
.wims_seq .wims_status{font-size: 80%}

.wims_seq_id{
  font-weight:bold;
  padding-right:.3em;
  border-right:1px solid;
}
.wims_content_seq, .wims_comment_item{
  padding:.5em;
}
.wims_work_legend li{
  padding: 2px .3em;
}


/* numero pour les item d'une sequence */
.wims_seq_item_n {
    padding: 3px 8px;
    border:1px solid gray;
    border-radius: 20px;
}

/* Small screens */
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
  .wims_seq, .wims_sheet {margin:3px 0;}
}

/* Small and Medium screens */
/* max-width 1024px  */
@media only screen and (max-width: 64em) {}

/* Medium screens */
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {}

/* Medium and Large screens */
/* min-width 641px */
@media only screen and (min-width: 40.063em) {
  .wims_seq, .wims_sheet {
    margin:10px;
  }
}


/* min-width 1025px, large screens */
/* Large screens */
@media only screen and (min-width: 64.063em) {}

/* ****** END OF SEQUENCES ******** */
