/***********************************************/
/********** Base Typography ********************/
/***********************************************/

/*
Typography in Foundation 6 is meant to make your life easier by providing clean,
 attractive, simple default styles for all of the most basic typographical elements.
*/

img{max-width: 100%}

/* Citation Blockquotes */
blockquote, blockquote p {
  line-height: 1.6;
  color: #666;
}
blockquote {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 1rem;
  margin: .5rem 0 1rem;
  padding: .5625rem 1.25rem;
  border-left: 3px solid #cacaca;
}

/* author of a blockquote */
cite {
  display: block;
  font-size: 0.8125rem;
  color: #717171;
}

/* abbreviations */

abbr, abbr[title] {
    border-bottom: 1px dotted #0a0a0a;
    cursor: help;
    text-decoration: none;
}


/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

a {
  line-height: inherit;
  text-decoration: none;
  cursor: pointer; }
  a img {border: 0; }

.link_icon.erase {color:#CC4B37;}/*A52A2A*/
a.erase:hover {color:#A53B2A;}
