<!DOCTYPE html>
!set wims_theme_mhelpheader=yes
!default modtitle=$(module_title_$lang)
!default modtitle=$module_title
<!-- begin of mhelpheader.phtml -->
<html lang="$module_language"><head>
!read name.phtml.$module_language
!if $special_parm=about
  !set wname_h=$wims_name_about
!else
  !set wname_h=$wims_name_help
!endif
!set module_title2=$wname_h : $modtitle
!read adm/css.phtml
$wims_html_header
!headmathjax
</head>

<body $wims_htmlbody onload="window.focus();window.moveTo(150,120);window.resizeTo(700,600);">
<div id="wimsmhelp">
 <div id="wimstopbox">
  <div class="wimsmenu menu">
    <div class="menuitem">
!read oneitem.phtml back,3,window.close();
    </div> <!-- end of menuitem -->
  </div> <!-- end of wimsmenu -->
 </div><!-- wimstopbox -->
<div id="wimsbodybox">
 <div id="wimspagebox">
  <div class="wimsbody">
    <div id="wims_title">
    <h1 class="wims_title">$modtitle</h1>
    </div>

<!-- end of mhelpheader.phtml -->
