!! 问题可被放在这个文件里. 通常使用 html 格式.
!! 这里只是用户回答表格的一个例. 你可以任意修改.

!form reply
	<ul>
		<li><label for="x">x = </label><input size="40" id="x" name="x" value="$x" /></li>
		<li><label for="y">y = </label><input size="40" id="y" name="y" value="$y" /></li>
	</ul>
	<p class="send_answer">
	<input type="submit" value="$wims_name_send" />
	</p>

!formend
