
<h3>Advantage of WIMS versus locally installed softwares</h3>
<ol>
  $tit No need of software installation and/or update by users.$titend
     All installation and/or update of background software is done on the
     server side, which can be anywhere on the internet. On the client
     machine, only a common web browser is required (which needs not to be
     very up to date).
  </li>
  $tit No need to learn the usage and the syntax of a particular software package.$titend
     As WIMS uses the html standard for user interface, a user, in particular
     a student, has only to use his usual knowledge of html browsing (which
     is now a common knowledge), in order to work on WIMS applications. <br>
     This is not the case for any of current mathematics softwares; all of
     them require a training period before the user can work on it. This
     training period may be more or less lengthy, but we remark that the
     knowledge of using a particular software is not a universal knowledge,
     and such a knowledge usually has a short lifespan.
     Moreover, teaching knowledge about a commercial software contradicts
     with the principle of commercial neutrality of a public education
     institution.
  </li>
  $tit It provides a means to collect the knowledge and experience
     of the whole educational community.$titend
     WIMS is a modular system, where each application is a separated module
     whose links with other modules are done in the usual html way.
     This allows modules
     to be developped independently and remotely. It is our hope that as many
     educators as possible will add their knowledge and experience to the
     system by contributions in the form of new modules or improvements of
     existing ones.
  </li>
  $tit It allows student - teacher interactions in several ways.$titend
     Organized under the structure of
     $(ref1)class$(ref2)class">classes</a>,
     a WIMS system allows teacher
     to assign works for his students, and get reliable informations about
     the progress (and/or difficulty) of the student in real time. This may
     allow the teacher to give more personalised guide to the student.
     The big advantage of such a system based on internet is that there is
     no site restriction: any work done from any site (local or remote) is
     valid, and is taken into account.
  </li>
  $tit It provides a dynamic interaction between different components, e.g.
     between exercises and computing tools.$titend
     For example, practically no software dedicated to exercises can
     interface a computational tool as easily as WIMS does.
  </li>
  $tit It can be more powerful than any given software for certain works.$titend
     Because WIMS can use different (dedicated) software as backend engine,
     even several softwares for one application or one request.
  </li>
</ol>

<h3>Disadvantage of WIMS versus locally installed softwares</h3>
<ol>
  $tit Low speed of reaction.$titend
     Because usually every WIMS response has to travel through internet.
     This will improve when internet speed improves.
  </li>
  $tit Limited computational power and programming capability.$titend
     If a user has a heavy computational job and/or has to design a complicated
     script to get his job done, he should work directly on the appropriate
     software. It is not at all the intention of WIMS to interface such
     activities.
  </li>
  $tit Limited capability of the graphical interface.$titend
     The html graphical user interface is not very suited for interactive
     works.
  </li>
</ol>

<h3>Advantage of WIMS versus hand calculators</h3>
<ol>
  $tit Easier to use.$titend
     A html page used by WIMS for user interface is much more comprehensible
     than any hand calculator.
  </li>
  $tit (Much) more powerful. $titend
  </li>
</ol>

<h3>Disadvantage of WIMS versus hand calculators</h3>
<ol>
  $tit Non-portability.$titend
     WIMS is accessible only to computers connected to internet.
  </li>
</ol>

<h3>Advantage of WIMS versus interactive web applications based
only on java or javascript</h3>
<ol>
  $tit More powerful and more versatile.$titend
     As WIMS can embed java or javascript programs in its applications, a
     wisely designed WIMS application just extends the capability of java or
     javascript. <br>
     And WIMS can really do more:
     even if it is theoretically possible to develop java applications which
     has the same power as a software used as a backend engine for WIMS, it
     would take too much effort to develop (is it reasonable to re-write TeX
     in java?), and would be so big that it would take forever for an http
     query to load.
  </li>
  $tit Easier to develop.$titend
     Because WIMS language is first based on html (easy to learn), with an
     extension specifically designed for this purpose.
  </li>
  $tit Allows student-supervisor interaction.$titend
     The design of server-based interactivity for users allows the back-end
     communication with supervisors, and much more (performance analysis,
     automatic intervention from supervisors, etc).
  </li>
</ol>

<h3>Disadvantage of WIMS versus interactive web applications based
on java or javascript</h3>
<ol>
  $tit Lower speed of reaction.$titend
     Because usually every WIMS response has to travel through internet.
     This will improve when internet speed improves. One can also use
     embedded javascript or java in a WIMS application, in places where
     response speed is important.
  </li>
</ol>
