
<h4>Arrays</h4>
There is no special syntax in wims language for arrays. However, it is
possible to design array-like variable structures, with integer or even
string subscripts. This can be done using nested variable substitutions. For
example, ...

<hr><h4>Fields in a string</h4>
WIMS variables are all string variables. There are three different ways to
split a string into fields:
<ul><li>As a list of words, separated by white-space characters. Consecutive
white-spaces are considered as one field separator.
</li><li>As a list of lines, separated by new-line characters. Consecutive
new-lines are considered as separating empty lines.
</li><li>As a list of items, separated by commas ( $emph,$emphend ). Consecutive
commas are considered as separating empty items.
</li></ul>
<p>
This section is not yet finished. Sorry.
</p>
