
The current version $wims_version of wims has several applications which
demonstrates (non-exhaustively) what one can do with a wims system.

<ul>
  <li>Take a look at the
   !href target=wims_demo module=tool/geometry/animtrace&cmd=intro animated plotter
$(): it allows you to plot curves and surfaces with zooming, deforming and rotating
   effects, more easily as you may possibly imagine.
  </li><li>The game
   !href target=wims_demo module=U2/algebra/qpuzzle Q-Puzzle
   gives a very good idea of how wims can provide a convenient way to combine
   multimedia means and abstract mathematical notions.
  </li><li>The game-exercise
   !href target=wims_demo module=H6/geometry/coincfree Coincidence-freehand
   shows the possibility to create interactive graphic exercises of a new
   style.
  </li><li>The exercise
   !href target=wims_demo module=U1/algebra/corresjs Correspondance
   gives an idea of the possibility of embedding javascript interactivity
   into a wims application.
  </li><li>The exercise
   !href target=wims_demo module=U1/algebra/accordance Accordance
   shows the possibility of linking different wims applications:
   except for the easiest level,
   such an exercise is practical only if the user can use computer to
   solve a linear system. Now such a solver (another wims application)
   is available directly in the
   exercise page, via a hypertext link. In order to teach the student to
   choose the appropriate tool, some irrelevant links are also added. <br>
   Please notice that the lack of direct data communication between the two
   modules is only a choice of the design of the module, in order to make
   the student type the matrices.
  </li><li>The tool
   !href target=wims_demo module=tool/analysis/function Function
   illustrates the possibility to create pages which are at the same time
   powerful and easy to use. By linking a plotter (gnuplot), a symbolic
   calculator (Maxima) and a numerical calculator
   (pari) at backend level, it allows the user to click on a root (or a
   local extremum) he sees on the curve, and get the value of the root (or
   local extremum) at arbitrary precision. <br>
   To achieve this, softwares are dynamically called at backend. First,
   gnuplot is used to draw the curve in the given interval. When the user
   clicks on a point, gp is called to try to find a root in the neighborhood
   of the point. If it fails, Maxima is called to compute the formal
   derivative of the function, and gp is called again to find a root of the
   derivative in the neighborhood (which will be the local extremum).
  </li><li>This document itself is an illustration to the fact that wims can
   provide an easy way to dynamically reorganise contents of a document. By
   changing a parameter, contents of the document can be grouped, split, or
   chosen, in various ways. (Remark that this document is itself a wims module.)
</li>
</ul>

