<p>
The following is the things you should check.
</p>
<ol>
 <li>Find a wims site, verify the
  <a href="html/policy.html">site policy</a> or contact the site manager,
  to see whether they are interested in carrying your page. <p>
  If the site has a test server, you may also ask the site manager to give you
  a test account. This will allow you to submit and test your draft pages
  repeatedly, at a very high frequency.
  <p>
  The home site https://wims.univ-cotedazur.fr contains such a test server which welcomes all
  people desirous of writing mathematical pages. But connection
  might be slow for non-European users.
  </p></li><li>
  Connect to to the test server (from your browser), submit your (existing)
  html file into it, and make a http request for the page, to see thether it
  is there.
  Then add some mathematical symbols, wims variables and commands into your
  file, resubmit it, and reload your page to see whether it works. If you
  make an error, wims server will
  directly send error messages to your browser. Continue this way until everything
  seems OK for you.
  <p>
  You have only to submit your html file which requires wims services. Graphics
  files, may stay where they were, on your original site. But you
  should make sure that the file you submitted to wims site contains only
  links to absolute addresses.
  </p></li><li>
  Please read the corresponding chapters of the technical reference of this document
  to see how to add variables and commands into your file.
  <p>
  Briefly, a variable is a word preceeded by the dollar sign $emph $$$emphend.
  You may use predefined variables (see
  $(ref1)varspecial$(ref2)varspecial">$title_varspecial</a>), or define your
  own (by the command
  $(ref1)cmdlist_let_&+cmd_choose=all$(ref2)cmdlist_let_">!set</a>).
  </p><p>
  And a wims command is a word preceeded by the character $emph !$emphend, <b>
  when it appears at the beginning of a line</b>. The list of commands as
  well as their syntax can be found
  $(ref1)cmdlist$(ref2)cmdlist">here</a> in this document.
  </p></li><li>
  If you want your page to be visible by the (future) wims
  search engine, please copy a template file
  (<a href="modules/light/template.en.phtml">English</a> or
  <a href="modules/light/template.fr.phtml">French</a> version), modify the header
  according to your case, and put in the body of your html content.
  </li><li>
  You can also copy (the source of) an existing phtml file, study its
  structure, modify it to suit you (if the copyright policy of that file
  allows you to do so). Please browse
  <a href="modules/">the modules directory</a> which contains sources of all the
  modules (as well as light phtml files).
  </li><li>
  When you think that your phtml page is ready, send a mail to the site manager,
  asking him to transfer your page from the test server to the public wims server.
  </li><li>
  Once your page appears on the public site, you may put links from anywhere
  pointing to it, and/or submit its address to search engines.
  </li>
</ol>

<hr>
<h3 class="wimscenter">Important notes</h3>
<p>When writing a phtml file, please take care of the following.</p>
<ol>
 <li>You may adapt any html file composed by any html composer to a phtml
  file. But once your file contains any wims commands, you should no longuer
  use html composers to modify it. Because WIMS only recognizes commands at
  the beginning of a line, while most html composers will reformat the lines
  of your file. Use an ordinary text editor instead.
  </li><li>
  If your file originally contains the dollar sign $emph$$$emphend other
  than as a wims variable introducer, double them. Otherwise your dollar sign
  will probably disappear in the visitors' browsers.
  </li><li>
  Make sure that no line starts with $emph !$emphend or $emph:$emphend,
  other than for wims purposes.
  </li>
</ol>
<hr>
I have yet to find time to write a detailed tutorial for how to use each
feature provided by wims server. If you have a question, please
!mailurl xiao@unice.fr write me
 or check the
<a href="http://www.listes.cri74.org/wws/info/wims">WIMS mailing list</a>.
