<p>
The symbol names are based on corresponding TeX names.
</p>
!read tabletheme
$table_header
$table_tr<th>Symbol</th><th>Name tt</th></tr>
$table_tr<td>$m_alpha, $m_beta, $m_gamma, ... $m_pi, ... $m_omega
    </td><td class="tt">$$m_alpha, $$m_beta, $$m_gamma, ... $$m_pi, ... $$m_omega</td></tr>
$table_tr<td>$m_Gamma, $m_Delta, $m_Lambda, $m_Phi, $m_Psi, $m_Pi, $m_Sigma,
	$m_Theta, $m_Xi, $m_Upsilon, $m_Omega
    </td><td><span class="tt">$$m_Gamma, $$m_Delta, $$m_Lambda, $$m_Phi, $$m_Psi, $$m_Pi,</span>
    	$$m_Sigma, $$m_Theta, $$m_Upsilon, $$m_Xi, $$m_Omega</td></tr>
$table_tr<td>$m_varepsilon, $m_varphi, $m_wp, $m_ell, $m_Re, $m_Im
    </td><td><span class="tt">$$m_varepsilon, $$m_varphi, $$m_wp, $$m_ell, $$m_Re, $$m_Im</span></td></tr>
$table_tr<td>$m_aleph, $m_infty, $m_nabla, $m_partial
    </td><td><span class="tt">$$m_aleph, $$m_infty, $$m_nabla, $$m_partial</span></td></tr>
$table_tr<td>$m_AA, $m_CC, $m_RR, $m_QQ, $m_ZZ ...
    </td><td><span class="tt">$$m_AA, $$m_CC, $$m_RR, $$m_QQ, $$m_ZZ ...</span></td></tr>
$table_tr<td>$m_calA, $m_calB,... $m_calM,... $m_calZ
    </td><td><span class="tt">$$m_calA, $$m_calB,... $$m_calM,... $$m_calZ</span></td></tr>
$table_tr<td>$m_eufA, $m_eufB,... $m_eufM,... $m_eufZ
    </td><td><span class="tt">$$m_eufA, $$m_eufB,... $$m_eufM,... $$m_eufZ</span></td></tr>
$table_tr<td>$m_eufa, $m_eufb,... $m_eufm,... $m_eufz
    </td><td><span class="tt">$$m_eufa, $$m_eufb,... $$m_eufm,... $$m_eufz</span></td></tr>
$table_tr<td>$m_le, $m_ge, $m_pm, $m_times, $m_div
    </td><td><span class="tt">$$m_le, $$m_ge, $$m_pm, $$m_times, $$m_div</span></td></tr>
$table_tr<td>$m_neq, $m_equiv, $m_cong, $m_approx
    </td><td><span class="tt"> $$m_neq, $$m_equiv, $$m_cong, $$m_approx</span></td></tr>
$table_tr<td>$m_leftarrow, $m_rightarrow, $m_mapsto,
	$m_Leftarrow, $m_Rightarrow, $m_Leftrightarrow
    </td><td><span class="tt">$$m_leftarrow, $$m_rightarrow, $$m_mapsto,</span>
    	$$m_Leftarrow, $$m_Rightarrow, $$m_Leftrightarrow</td></tr>
$table_tr<td>$m_exists, $m_forall, $m_in, $m_emptyset
    </td><td><span class="tt">$$m_exists, $$m_forall, $$m_in, $$m_emptyset</span></td></tr>
$table_tr<td>$m_subset, $m_supset, $m_subseteq, $m_supseteq,
	$m_cap, $m_cup, $m_prec, $m_succ
    </td><td><span class="tt">$$m_subset, $$m_supset, $$m_subseteq, $$m_supseteq,</span>
    	$$m_cap, $$m_cup, $$m_prec, $$m_succ</td></tr>
$table_tr<td>$m_sum, $m_prod, $m_coprod, $m_surd
    </td><td><span class="tt">$$m_sum, $$m_prod, $$m_coprod, $$m_surd</span></td></tr>
$table_tr<td>$m_int, $m_oint, $m_Vert, $m_oplus, $m_otimes
    </td><td><span class="tt">$$m_int, $$m_oint, $$m_Vert, $$m_oplus, $$m_otimes</span></td></tr>
$table_tr<td>$m_bigtriangleup, $m_bigtriangledown, $m_bigvee, $m_bigwedge
    </td><td><span class="tt">$$m_bigtriangleup, $$m_bigtriangledown, $$m_bigvee, $$m_bigwedge</span></td></tr>
</table>

Besides, large parentheses are available under the name of
<span class="tt">$$m_leftpar2, $$m_leftpar3,..., $$m_leftpar10</span> and
<span class="tt">$$m_rightpar2, $$m_rightpar3,..., $$m_rightpar10</span>. They can be used
to inclose matrices of 2,3,...,10 rows. Ditto for <span class="tt">leftbrace</span>
and <span class="tt">rightbrace</span>.

