!set x=<i>x</i>

<p>
$x is a real number, which can be replaced by an expression, to allow
composite functions.
</p>
$table_header
$table_tr<th>Function</th><th>Description</th><th>How to type</th></tr>
$table_tr<td>$m_pi
    </td><td>constant known to all</td><td>
    <span class="tt">pi</span> or <span class="tt">Pi</span> or <span class="tt">PI</span></td></tr>
$table_tr<td><i>e</i></td><td>base of natural logarithmic</td><td>
    <span class="tt">e</span> or <span class="tt">E</span>
</td></tr>
$table_tr<td>|$x|</td><td>absolute value of $x</td><td><span class="tt">abs(x)</td></tr>
$table_tr<td>sign($x)</td><td>sign of $x:
       <br>&nbsp;=-1 if $x&lt;0<br>&nbsp;=0 if $x=0<br>&nbsp;=1 if $x>0
       </td><td><span class="tt">sign(x)</td></tr>
$table_tr<td>
    !instex $$ \sqrt x $$
    </td><td>square root of $x
    </td><td><span class="tt">sqrt(x)</span> or <span class="tt">x^(1/2)</span></td></tr>
$table_tr<td>?</td><td>closest integer to $x</td><td><span class="tt">rint(x)</span></td></tr>
$table_tr<td>?</td><td>largest integer <=$x</td><td><span class="tt">floor(x)</span></td></tr>
$table_tr<td>?</td><td>smallest integer >=$x</td><td><span class="tt">ceil(x)</span>
$table_tr
$table_tr<td><i>e<sup>x</sup></td><td>exponential</td><td>
    <span class="tt">exp(x)</span> or <span class="tt">e^x</span> or <span class="tt">E^x</span></td></tr>
$table_tr</td><td>ln($x)</td><td>natural logarithmic</td><td><span class="tt">log(x)</span> or <span class="tt">ln(x)</span></td></tr>

$table_tr<td>sin($x)</td><td>trigonometric sine</td><td><span class="tt">sin(x)</td></tr>
$table_tr<td>cos($x)</td><td>trigonometric cosine</td><td><span class="tt">cos(x)</td></tr>
$table_tr<td>tg($x)</td><td>trigonometric tangent</td><td><span class="tt">tan(x)</span> or <span class="tt">tg(x)</span></td></tr>
$table_tr<td>ctg($x)</td><td>trigonometric cotangent</td><td><span class="tt">cotan(x)</span> or <span class="tt">ctg(x)</span>
    </span> <br> or <span class="tt">cot(x)</td></tr>
$table_tr<td>arcsin($x)</td><td>inverse trigonometric</td><td><span class="tt">asin(x)</span> or
    <span class="tt">arcsin(x)</span></td></tr>
$table_tr<td>arccos($x)</td><td>inverse trigonometric</td><td><span class="tt">acos(x)</span> or
    <span class="tt">arccos(x)</span></td></tr>
$table_tr<td>arctg($x)</td><td>inverse trigonometric</td><td><span class="tt">atan(x)</span> or
    <span class="tt">arctan(x)</span> <br>or <span class="tt">arctg(x)</span></td></tr>
$table_tr<td>sh($x)</td><td>parabolic sine</td><td><span class="tt">sh(x)</span> or <span class="tt">sinh(x)</span></td></tr>
$table_tr<td>ch($x)</td><td>parabolic cosine</td><td><span class="tt">ch(x)</span> or <span class="tt">cosh(x)</span></td></tr>
$table_tr<td>th($x)</td><td>parabolic tangent</td><td><span class="tt">th(x)</span> or <span class="tt">tanh(x)</span></td></tr>
$table_tr<td>Argsh($x)</td><td>inverse parabolic</td><td><span class="tt">asinh(x)</span> or <span class="tt">argsh(x)</span>
    <br>or <span class="tt">Argsh(x)</span></td></tr>
$table_tr<td>Argch($x)</td><td>inverse parabolic</td><td><span class="tt">acosh(x)</span> or <span class="tt">argch(x)</span>
    <br>or <span class="tt">Argch(x)</span></td></tr>
$table_tr<td>Argth($x)</td><td>inverse parabolic</td><td><span class="tt">atanh(x)</span> or <span class="tt">argth(x)</span>
    <br>or <span class="tt">Argth(x)</span></td></tr>
$table_tr<td>max(x,y)</td><td>Bigger among x and y</td><td><span class="tt">max(x,y)</span></td></tr>
$table_tr<td>min(x,y)</td><td>Smaller among x and y</td><td><span class="tt">min(x,y)</td></tr>
$table_tr<td>gcd(x,y)</td><td>Greatest Common Divisor</td><td><span class="tt">max(x,y)</td></tr>
$table_tr<td>lcm(x,y)</td><td>Least Commun Multiple</td><td><span class="tt">min(x,y)</td></tr>
</table>
!exit

!! Add the following:
<ul>
<li>lg(x): log of base 10</li>
<li>j0(x), j1(x), y0(x), y1(x): Bessel functions</li>
</ul>
