
!set ini_color=#0000FF
WIMS (<span style="color:$ini_color;">W</span>ww
   <span style="color:$ini_color;">I</span>nteractive
   <span style="color:$ini_color;">M</span>ultipurpose
   <span style="color:$ini_color;">S</span>erver)
is an internet server system designed for mathematical and other educational purposes.
<p>
The WIMS server is composed of a kernel program which is a cgi program
(wims.cgi), plus various activity units called ``modules''.
</p><p>
The client browser accesses the server via a http request to wims.cgi, with
parameters specifying the name of the module to request, the type of the
request, and possibly parameters for the module ; wims.cgi
processes the requested module, passing the user parameters to it, and sends
the result returned by the module back to the client.
</p><p>
A module may consist of a number of script files grouped in one directory.
These scripts are written in a special scripting language: the WIMS language.
</p><p>
The WIMS language contains commands which allow it to call external
programs (especially various mathematical softwares) to make sophisticated
computations. Such commands are processed by wims.cgi and sent through
interface programs which filter the request, check for security breaches,
and send back a filtered output.
</p>
