
The rapid development of computer technology constantly chanllenges the
education of mathematics at all levels.
<p>
On the one hand, the content of the education has to be adapted to the new
situation. Not long ago, our schools and universities were teaching the use
of logarithm tables and sliding rules; the advent of handheld calculators
obsoleted these materials. Today, we (including the author of this document)
are still teaching things like Newton's method for root, Simpson's method
for numerical integration, or formal integration of a rational function.
The reader has only to take a look at the tool
!href target=wims_demo module=tool/analysis/function.$lang Function
 on this WIMS site, to see how a simple web page can raise questions
about the opportunity to spend hours or even weeks to
teach these techniques to our students (while the solution is just one
click away). <br>
It is clear that computer technology allows (and forces) us to shift the
focus of our teaching more towards using mathematics to solve real-life
problems, and towards a better understanding of fundamental mathematical
concepts, away from techniques and skills of mathematical computations.
</p><p>
On the other hand, new computer technology provides new means for our
educational system. A computer software can solve complicated mathematical
problems very quickly, using methods and algorithms which are transparent to
the user who doesn't want or doesn't has to know about them. The
interaction between numbers and forms, very hard to implement under
conventional methods, is very easily done on a computer screen. And a
well-designed computer program can analyse or correct errors made by a
student, and give him appropriate helps in real time.
</p><p>
Obviously, adapting our mathematical education to the computer age requires
that computing technology be widely used in our teaching. This is still far
from being today's reality, and the reasons are multiple. There is few, if not
no, software dedicated to higher level mathematical education (because
developping such a software is not cost effective?). The popular softwares
currently widely used in universities are usually more destinated to experts
rather than to students. A student has to invest a lot of time to learn how
to use a software package, without being sure that such a knowledge about
the package will still be useful when he finishes the study (the package may
evolve or even disappear, the company he will work in may adopt another
system, etc). Not to mention the logistical difficulty for an educational
institution to install and maintain a large number of copies of softwares
which change their versions often rapidly.
</p><p>
In the opinion of the author, it is internet which will give the first real
solution to the above difficulties. Internet is a one-server, many-users
system, which allows one installation to serve a large number of users. The
html user interface is fool-proof and intuitive, and the user doesn't need
to learn complicated manipulations in order to work on it. At the same time,
it allows graphical and multimedia ingredients to be easily incorporated
into applications. This interface is built on a language (html) which is easy
to master and has become very popular nowadays.
It is also easy to design student-supervisor interactions
in various ways. Finally, the free-service and open-contribution nature of
internet makes it possible to combine the knowledge and experience of the whole
educational community, and redistribute them to the whole community.
</p><p>
The basic problem for an immediate and direct use of http-html protocol into
mathematical education is the lack of some capabilities necessary for an
educational use. Namely, the lack of support for building interactive and
intelligent applications. Another problem is that the (current) html
language has no support for mathematical expression.
</p><p>
Existing experiences on the web are mostly based on java/javascript
interactivity. Due to the difficulty of java/javascript development for
mathematics, these applications usually suffer from lack of power and of
interaction between applications. Please refer to the section
$(ref1)compare$(ref2)compare">$title_compare</a>
for more analyses about java/javascript.
</p><p>
There are also some web sites where dedicated mathematical softwares are
used as backend engine for web-based computational tools. While this
approach is close to the idea behind WIMS, the author did not find a
systematic approach in this direction.
</p><p>
WIMS is designed to provide a systematic and evolutive way to add
server-based interactivity to the html-javascript-java triplet. We have
adopted the concept of an open system, and special care has been taken
to allow non-computer-specialists to make contributions to the system: a
modular design with independent modules, a language with simple structure
and close-to-natural syntax, and the concept of online development. Also, a
tentative solution for including mathematical expressions in the html pages
is provided.
</p>
