/* CSSTidy 1.3: Mon, 14 Oct 2013 03:06:10 -0500 */
body {
  margin:1px auto;
  padding:0 1px 1px;
  max-width: 1440px;
}

a:link {
  text-decoration:none;cursor:pointer;
}
a:hover {
  text-decoration:underline;
}

.table-scroll {
  overflow-x: auto; }

div.wimsmenu {
  display:inline-block;
  font-size:1.1em;
  vertical-align:middle;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  padding:1px 10px;
}
#visitor_home{
  width:100%;
  box-sizing: border-box;
}

/*div.wimsmenu .topmenuitem {
width:80%;
margin-left:auto;
margin-right:auto;
text-align:center;
padding:2px 10px;
}*/

div.wims_user_myscore {
margin-left:0;
text-align:center;
font-size:1.2em;
padding:0 20px;
}

div.float_left {
float:left;
}

#wimstopbox {
  font-size:1.1em;
  margin-left:auto;
  margin-right:auto;
  padding:5px 10px;
  text-align: center;
}

.menu_title{
  font-size: 122%;
}

.wimsmanager {
vertical-align:middle;
text-align:center;
margin-left:auto;
margin-right:auto;
padding:.5em 1em;
}

div.tailitem {
margin-left:auto;
margin-right:auto;
text-align:center;
vertical-align:bottom;
}

p.wimscenter {
text-align:center;
}

.wimsbody {
vertical-align:middle;
padding:0 1px;
}

.debug {
background-color:#000;
color:#FF8C00;
font-family:monospace;
padding:.5em;
}

.debug ul {
font-size:105%;
}

.wims_warning {
color:#A52A2A;
font-weight:700;
}

div.wims_warning {
padding:.5em 2px;
}

span.tooltip {
color:#A52A2A;
}

.wims_sheet_list {
/*list-style-type:none;*/
text-align:left;
line-height:180%;
}

#wims_title,.wims_title,.wims_subtitle {
vertical-align:middle;
text-align:center;
margin-left:auto;
margin-right:auto;
}

div.wimsform,div.wimscenter,div.wims_subtitle {
margin-left:auto;
margin-right:auto;
text-align:center;
vertical-align:middle;
}

#wimsbodybox,#wimspagebox {
margin-left:auto;
margin-right:auto;
/*float:left;*/
width:100%;
}
