
!set wims_form_method=post
!if $error iswordof not_secure not_superclass
  !exit
!endif
<h3>$title_data</h3>

 <hr>

!if $outfile!=$empty
  $name_csv1:
  !getfile $outfile $outfile
  <hr>
!endif

!form reply
<input type="hidden" name="job" value="csv">
<input type="hidden" name="csvtype" value="download">
$name_csv2: <span class="wims_mod_title">$vote_title</span>
<ul><li>
$name_format
!formselect csvformat list csv,tsv
&nbsp;
!set wims_ref_class=wims_button_help
!href module=$module&cmd=help&special_parm=csvformats $wims_name_help
</li>
!if $vote_option!=anonymous
  <li> $name_data
  !formradio csvoption list global,detail prompt $name_global,$name_detail
  &nbsp;
  !set wims_ref_class=wims_button_help
  !href module=$module&cmd=help&special_parm=csvvotes $wims_name_help
  </li>
!endif
</ul>
<p class="wimscenter wimsform"><input type="submit" value="$wims_name_download"></p>

!readproc csv.proc

!formend

!set wims_menu_items=!append line back2 $vote,1,cmd=reply&job=read&vote=$vote to $wims_menu_items
