!read adm/css.phtml
!if $(module_title_$moduclass_lang)!=$empty
  !set module_title=$(module_title_$moduclass_lang)
!endif
!read adm/lang/external_auth.phtml.$moduclass_lang
!header

!set name_prog=$name_program
!if $addline$thiscode$thistitle!=$empty
  <h2 class="wimscenter">
  !set l=!linecnt $addline
  !for i=1 to $l
    !if $i>1
     /
    !endif
    !set l_=!line $i of $addline
    !set t_=!item $i of $addparms
    !if $lv<=$i
      !set tmp=!replace internal = by , in $t_
      !href cmd=reply&$t_ $l_
      <small>
      !if $(tmp[-1])!=first
        ($(tmp[-1]))
      !else
        ($wims_class)
      !endif
      </small>
      !reset tmp
      !!!set wims_menu_items=!append line backgateway $l_,1,cmd=reply&$t_\
to $wims_menu_items
    !else
      $l_
    !endif
  !next i
  !if $thiscode!=$empty
    !if $addline=$empty
      $class_institution
    !endif
    / $class_description <small>($thiscode)</small>
    !if $thiscode!=$wims_superclass and $wims_superclass/$thiscode!=$wims_class
      <br>
      !reset wims_ref_class
      !href module=adm/class/classes&type=authsupervisor&class=$wims_superclass/$thiscode $wims_name_login
      !!!set wims_menu_items=!append line login,1,module=adm/class/classes&type=authsupervisor&class=$wims_superclass/$thiscode\
to $wims_menu_items
    !endif
  !else
    !if $(name_$job)!=$empty
      ($wims_superclass) - $(name_$job)
    !endif
  !endif
  </h2>
!endif

!if $error!=$empty
  <div class="wims_msg alert">
  !read lang/msg.phtml.$moduclass_lang
  </div>
!endif
!if $wims_realuser=supervisor or $wims_superclass isitemof $wims_supervise
  !set wims_menu_items=addteacher,1,cmd=reply&job=addteacher \
backstruct,1,cmd=reply&job=backstruct\
itemsep,0,
!endif
!read jobs/$job.phtml
!if $job iswordof first level prog class course icourse
  <div id="wims_othergestion">
  !read jobs/supervisors.phtml
  </div>
  !!end of <div id="widget_zone_list">
 </div>
!endif
!tail

!reset confirm cancel del cparent more pass passs pass2 passs2
