
!if $nbcls>50
  <label for="keyword">
  !if $keyword = $empty
    $name_research1
  !else
    $name_research2
  !endif
  </label>
  <div class="wimscenter wimssearch">
  !form reply
    <input type="hidden" name="step" value="-3">
    <input size="20" name="keyword" value="$keyword" id="keyword">
    <input type="submit" value="$wims_name_search">
  !formend
  </div>
!else
  !form reply
    <label for="keyword">
    $name_searchclass:
    </label>
    <input type="hidden" name="step" value="-3">
    <input size="20" name="keyword" value="$keyword" id="keyword">
    <input type="submit" value="$wims_name_search">
  !formend
!endif
