!if NaN isin $[$help_conf]
  !set r=!recordcnt lang/confdata.$modu_lang
  !for i=1 to $r
    !set t=!record $i of lang/confdata.$modu_lang
    !set n=!word 2 of $t
    !if $n=$help_conf
      !goto out
    !endif
  !next i
  :out
!else
  !set t=!record $help_conf of lang/confdata.$modu_lang
!endif
!set help_conf_record=!line 1 of $t
!if mu_publish_site iswordof $help_conf_record or \
    mu_download_site iswordof $help_conf_record
  !readproc mu/publishdownload.def
!endif
!set tt=!line 2 of $t
!set sitehelp=!record 0 of lang/sitehelp.phtml.$modu_lang
!set bgimgs=!filelist gifs/bg

<h2 class="wimscenter">Config: $tt</h2>
<p>
!line 5 to -1 of $t
</p>
!set n_=!word 2 of $t
!if $n_ issametext css
  <pre>
  !record 0 of  wimshome/public_html/bases/sys/css_classes
  </pre>
!endif
!if $n_ issametext trusted_modules
  <pre>
  !record 0 of wimshome/public_html/bases/site/trusted_modules
  </pre>
!endif

!set d_=$(DF_$n_)
!default d_=[empty]
$name_default: <span class="tt">$d_</span>
!if $(t[3;])=int and $(t[4;])!=$empty
  <br>
  $name_recommended: $(t[4;1]), ... ,$(t[4;2])
!endif
