!! On pose les questions dans ce fichier. D'habitude, c'est par des forms.
!! Voici un exemple de conception :

!form reply
  <ul>
    <li><label for="x">x = </label><input size="40" id="x" name="x" value="$x" /></li>
    <li><label for="y">y = </label><input size="40" id="y" name="y" value="$y" /></li>
  </ul>
  <p class="send_answer">
    <input type="submit" value="$wims_name_send" />
  </p>

!formend
