
!read adm/title.phtml 3\
\
$title

!form reply
<input type="hidden" name="job" value="access">
<div class="wimscenter">
<label for="accessdef">$name_subtitle</label>
&nbsp;
!set wims_ref_class=wims_button_help
!href cmd=help&help_subject=access $wims_name_help
<br>
<textarea name="accessdef" id="accessdef" cols="70" rows="15">$accessdef</textarea>
</div>
<div class="wimscenter wimsform">
  <input type="submit" name="save" value="$wims_name_tosave">
  <input type="submit" name="abandon" value="$wims_name_giveup" class="wims_secondary_button">
</div>

!formend

!reset job, accessdef
