
!if $job2!=first
  !changeto class/$job2.phtml
!endif
<p>
!href cmd=reply&job=conf&confcat=2 $name_click
 $name_config
</p>
!read class/search.phtml
!if $overflow=yes
  !exit
!endif

!if $sccnt+$clcnt<1
  <p>
  $name_noclass
  </p>
  !reset keyword
  !exit
!endif

!if $sccnt>0
  !set table_class=sortable
  !set table_id=TABLE_sclasslist
  $table_header
  <caption>$name_list</caption>
  <thead>
    $table_hdtr
    <th>$wims_name_name</th><th>$wims_name_action</th><th class="small">$wims_name_Language</th><th>$wims_name_Supervisor</th>
    <th>$name_created<br><span class="tt small">yyyymmdd</span></th>
    <th>$name_expire<br><span class="tt small">yyyymmdd</span></th>
    !if $actives=yes
      <th>$name_Load<sup>[1]</sup></th>
    !endif
    </tr>
  </thead><tbody>
  !for i=1 to $sccnt
    !set l=!line $i of $sclasses
    !distribute items $l into c_,e_,t_,d_
    !set l=!defof class_lang\
class_supervisor\
class_email\
class_creation in wimshome/log/classes/$c_/.def
    !distribute lines $l into l_,s_,m_,f_
    !default f_=--
    $table_tr
    <td class="small">$t_<br>$d_</td>
    <td>
    !set wims_ref_class=wims_button wims_warning
    !href cmd=reply&job2=erase&jobclass=$c_ $wims_name_erase
    &nbsp;
    !set wims_ref_class=wims_button
    !href cmd=reply&job2=modify&jobclass=$c_ $wims_name_change
    &nbsp;
    !set wims_ref_class=wims_button
    !href module=adm/class/classes&type=authsupervisor&class=$c_&auth_user=supervisor&auth_password=*wims_site_manager $name_visit
     </td><td>$l_</td>
     <td class="small">
     <a href="mailto:$m_?subject=$name_yourclass">$s_</a>
     </td><td>$f_<td>$e_</td>
    !if $actives=yes
      !default activ_$c_=-
      <td>$(activ_$c_)</td>
    !endif
    </tr>
  !next i
  </tbody>
  $table_end
  !read tablesort.phtml
!endif

!if $clcnt>0
  !set table_class=sortable
  !set table_id=TABLE_classlist2
  $table_header
  <caption>$name_listindependant</caption>
  <thead>
    $table_hdtr
    <th>$wims_name_name</th><th>$wims_name_action</th>
    <th class="small">$wims_name_Language</th><th>$wims_name_Supervisor</th>
    <th>$name_created<br><span class="tt small">yyyymmdd</span></th>
    <th>$name_expire<br><span class="tt small">yyyymmdd</span></th>
    !if $actives=yes
      <th>$name_Load<sup>[1]</sup></th>
    !endif
  </thead><tbody>
  !for i=1 to $clcnt
    !set l=!line $i of $classes
    !distribute items $l into c_,e_,t_,d_
    !set l=!defof class_lang\
  class_supervisor\
  class_email\
  class_creation in wimshome/log/classes/$c_/.def
    !distribute lines $l into l_,s_,m_,f_
    !default f_=--
    $table_tr
    <td class="small">$t_<br>$d_</td>
    <td>
    !set wims_ref_class=wims_button wims_warning
    !href cmd=reply&job2=erase&jobclass=$c_ $wims_name_erase
    &nbsp;
    !set wims_ref_class=wims_button
    !href cmd=reply&job2=modify&jobclass=$c_ $wims_name_change
   &nbsp;
    !set wims_ref_class=wims_button
    !href module=adm/class/classes&type=authsupervisor&class=$c_&auth_user=supervisor&auth_password=*wims_site_manager $name_visit
     </td><td>$l_</td>
     <td class="small">
     <a href="mailto:$m_?subject=Your WIMS virtual class">$s_</a>
     </td><td>$f_</td><td>$e_</td>
    !if $actives=yes
      !default activ_$c_=-
      <td>$(activ_$c_)</td>
    !endif
     </tr>
  !next i
  </tbody>
  $table_end
  !read tablesort.phtml
!endif

!if $actives=yes
  <div class="wimscenter">
    !form reply
      <span class="small bold">[1]</span>. '<span class="tt">$name_Load</span>'
      $name_cumul
      <input type=text name="bst_since" value="$bst_since" onchange="submit()">
      ($name_format <span class="wims_emph">yyyymmdd</span>).
      <input type="hidden" name="keyword" value="$keyword">
    !formend
    !href cmd=reply&job=bestclass&keyword=$keyword $wims_name_Show
    !default bst_num=10
    $bst_num $name_best.
  </div>
!endif

!reset keyword
