<p>
$name_text_swac
</p>
!form reply
<input type="hidden" name="job2" value="add">
!!!formradio packs list $swac_list

<p class="wimscenter wimsform"> <input type="submit" value="$name_mkindex"> </p>

!formend
