
!set wims_form_method=file
!form reply
<input type="hidden" name="job" value="restore">
<input type="hidden" name="job2" value="upload">
<p>$name_warning</p>
<input type="file" name="wims_deposit" size="50">
<input type="submit" value="$wims_name_tosave">
!formend
<p>
<span class="wims_warning">$wims_name_warning</span>. $name_need
</p>
<div class="wims_msg alert">$name_depositcheck</div>
!reset job2
