!if $wims_dynapi=loaded
  !exit
!endif
!set wims_dynapi=loaded

!! no mathml zooming in dynapi
!set disable_zoom=yes
!set dynapi_agent=!lowercase $httpd_HTTP_USER_AGENT

!if dynapi3 isin $ans_require
  !if chrome isin $dynapi_agent or trident isin $dynapi_agent or android isin $dynapi_agent
    !set disable_mathml=1
  !endif
!endif
!set wims_texbasesize=5

<script src="scripts/js/dynapi3x/src/dynapi.js"></script>
<script>
    /*<![CDATA[*/
dynapi.library.setPath('scripts/js/dynapi3x/src/');
dynapi.library.include('dynapi.api');
dynapi.library.include('dynapi.api.ext.DragEvent');
!if $wims_html_onload!=$empty
   dynapi.onLoad(function() {$wims_html_onload});
!endif
    /*]]>*/
</script>
