
$table_hdtr
 <th rowspan="2">$wims_name_name</th>
 <th colspan="2">$name_declaration
 &nbsp;
!set wims_ref_class=wims_button_help
  !href cmd=help&special_parm=neibordecl $wims_name_help
</th>
 <th rowspan="2">$name_sharing
 &nbsp;
!set wims_ref_class=wims_button_help
  !href cmd=help&special_parm=share $wims_name_help
 </th>
 <th rowspan="2">$wims_name_nameteacher</th>
 <th rowspan="2">$wims_name_Language</th>
</tr>
$table_hdtr
 <th class="small">$name_byyou</th>
 <th class="small">$name_other</th>
</tr>
!for i in $clst
  !set D_=!defof class_institution\
class_description\
class_lang\
class_supervisor in wimshome/log/classes/$i/.def
  !distribute lines $D_ into i_,d_,l_,s_
  !set t_=0
  !if $i isitemof $n_sup
    !advance t_
  !endif
  !if $i isitemof $n_part
    !set t_=$[$t_+2]
  !endif
  $table_tr
  <td>
  !href cmd=reply&job2=def&nei=$i&nlevel=$t_ $i_<br>$d_
  </td>
  <td>$(n_n$t_)</td>
  !set t_=0
  !set D_=!defof n_sup\
n_part\
sharable_all\
sharing_all in wimshome/log/classes/$i/neighbors
  !distribute line $D_ into sup,part,nsharable,nsharing
  !if $wims_class isitemof $sup or all isitemof $sup
    !advance t_
  !endif
  !if $wims_class isitemof $part or all isitemof $part
    !set t_=$[$t_+2]
  !endif
  <td>$(n_n$t_)</td>
  !if $i notitemof $sharable_all,$sharing_all and\
	    $wims_class notitemof $nsharable,$nsharing
    <td>---</td>
  !else
    <td>
    !if $i isitemof $sharing_all or $wims_class isitemof $nsharing
      !if $i isitemof $sharing_all and $wims_class isitemof $nsharing
        $name_actif
      !else
        !if $i isitemof $sharing_all
          $name_share1
        !else
          $name_share2
        !endif
      !endif
    !else
      !if $i isitemof $sharable_all and $wims_class isitemof $nsharable
        $name_permit1
      !else
        !if $i isitemof $sharable_all
          $name_permit2
        !else
          $name_permit3
        !endif
      !endif
    !endif
    </td>
  !endif
  <td class="small">$s_</td>
  <td>$l_</td>
  </tr>
!next i
