!!##!! language independant
!if $job2=print and $job isitemof todo,work
  !changeto print$job.phtml
!endif
!if $job=modpalier
  !set js=<script src="scripts/js/chooselist.js"></script>
  !let wims_html_header=!append line $js to $wims_html_header
!endif
!read adm/css.phtml
!header1

!if $cmd=help
  !changeto help.phtml
!endif

!headmenu

!if $error!=$empty
  <div class="wims_msg alert">
  !read lang/msg.phtml.$moduclass_lang  $error
  </div>
  !reset job
  !if $wims_class=$empty
    !tail
    !exit
  !endif
!endif

!read $job.phtml

!if $wims_user=supervisor
  !if config notin $job
    !set wims_menu_items=!append line configb,1,cmd=renew&job=config to $wims_menu_items
  !endif
  !if save notin $job
    !set wims_menu_items=!append line save,1,cmd=renew&job=save to $wims_menu_items
  !endif
  !if $livret_nbcomp<$maxcomp
    !set wims_menu_items=!append line add_competence,1,cmd=renew&job=addcomp&comp=$[$livret_nbcomp+1]\
to $wims_menu_items
  !endif
  !set wims_menu_items=!append line refresh,1,cmd=reply\
to $wims_menu_items
  !reset parmuser1 parmuser3
  !if $user!=$empty and $job!=userlist
    !set parmuser1=&job=getuser&getuser=$user
    !set parmuser3=&job=userprop&getuser=$user
    !set parmuser4=&job=exobyday&user=$user
    !set sc=scores
    !set ac=activity1
    !set acc=account
 !else
    !set sc=Score1
    !set ac=activity
    !set acc=usermanage
 !endif
 !set wims_menu_items=!append line itemsep,0,$wims_name_manage\
 $acc,1,module=adm/class/usermanage$parmuser3\
 itemsep,0,$wims_name_Evaluation\
 $sc,1,cmd=new&module=adm/class/userscore$parmuser1\
 $ac,1,cmd=new&module=adm/class/activity$parmuser4\
 to $wims_menu_items
!endif

!if $wims_user=supervisor
  !if userlist notin $job
    !set wims_menu_items=!append line livret,1,cmd=renew&job=userlist\
to $wims_menu_items
    !if $user!=$empty
      !set wims_menu_items=!append line usermanage,1,cmd=new&module=adm/class/usermanage\
to $wims_menu_items
    !endif
  !endif
!else
  !set wims_menu_items=!append line myscore,1,cmd=new&module=adm/class/userscore\
to $wims_menu_items
!endif

!tail
