
$presentation

!if $all_steps=0
  <$ltype>
  !for i=1 to $step
    <li>
    !line $i of $picked
    </li>
  !next i
!else
  !if $status=waiting
    !form reply
    <$ltype>
    !for i=1 to $step
      <li>
      <input type="checkbox" name="badstep" value="$i">
      !line $i of $picked
     </li>
    !next i
  !else
    <$ltype>
    !for i=1 to $step
      !form reply
      <li>
      !if $i isitemof $badstep
        <img src="gifs/blueball.gif" alt="blue">
      !endif
      !if $i isitemof $bad_steps
        <img src="gifs/redball.gif" alt="red">
      !endif
      !line $i of $picked
      </li>
    !next i
    !set explain=yes
  !endif
!endif
</$ltype>
!if $step>=$stepcnt
  ($END)
!endif

!if $explain=yes
  <p>
  (<img src="gifs/blueball.gif" alt="blue">&nbsp;: $n_mark&nbsp;
  <img src="gifs/redball.gif" alt="red">&nbsp;: $n_badstep.)
  </p>
!endif
