
!set sp2=$special_parm2
!bound sp2 within secure,supervisor,email,lang,level,limit,expiration,modtoolchg,\
	bgcolor,homepage,bgimg,theme,css,theme_icon,logo,lock,exolog,examlog,examshow,ent,\
	option,optionex,authtype,authtype2,topscores,external_auth,cloning, sendmailteacher\
	default $

!if $sp2=$empty
 !exit
!endif

!goto $sp2

:secure
<b>安全主机</b>.
<p>
你的主持教师的密码完全有可能泄漏: 当你在教室里以主持教师的身份连接班级时,
学生可能从你后面窥探, 甚至安装一个键盘扫描软件以记录你的击键动作.
请相信我, 如果你的班级里有成绩记录的话, 主持教师密码就是引人注意的目标.
</p><p>
泄漏的后果是灾难性的: 数据可能破坏, 分数被修改, 甚至当有人修改你的密码后,
你再也无法进入班级.
</p><p>
定义安全主机可以增加额外的屏障: 敏感的操作如班级的配置、密码修改、
分数修改等都必须从预先定义的<em>安全主机</em>发出,
只要学生无法接近这些主机, 即使他们知道了密码, 也干不了大事.
</p><div>
!read help/hosts.phtml
</div><p>
此外, 如果你需要在非常不安全的环境里(例如使用学生的计算机)输入密码,
你应该考虑使用一次性密码(参见有关网页).
</p>
!exit

:supervisor
 <b>主持教师姓名</b>. 输入(你喜欢的)名字.
!exit

:email
 <b>主持教师电邮地址</b>.
重要的通知(密码, 过期通知等)都将发到此地址.
这也是学生向你发信的地址. 因此必须是有效地址, 否则你可能失去对班级的控制.
!exit

:option
 <b>班级的选项词</b>. 可使用的选项词为:
 <ul><li>
  <span class="tt wims_code_words">showshexpire</span> 在参加者主页上显示作业页的有效期.
 </li><li><span class="tt wims_code_words">showshweight</span> 在参加者主页上显示作业页的权重.
 </li></ul>
!exit
:optionex
 <b>班级的选项词</b>. 可使用的选项词为:
 <ul><li>
  <li><span class="tt wims_code_words">showexexpire</span> 在参加者主页上显示考试页的有效期.
 </li><li><span class="tt wims_code_words">exrandomlist</span> 在参加者主页上显示作业页的权重.
 </li></ul>
!exit

:lang
你可以在以下语言中选一种你的 wims 服务器支持的班级语言.
你的班级将出现在学生与教师区域的对应语言的表中.<br>
简写为 : <ul>
 <li>ca (加泰兰语)
 </li><li>cn (简体中文)
 </li><li>de (德语)
 </li><li>en (英语)
 </li><li>es (西班牙语)
 </li><li>fr (法语)
 </li><li>it (意大利语)
 </li><li>nl (荷兰语)
 </li><li>si (斯洛伐尼亚语)
 </li><li>tw (繁体中文)
</li></ul>
!exit

:level
!read help/$lang/level.phtml
!exit

:limit
 <b>参加者人数限制</b>. 达到这个限制后, 新参加者将被拒绝注册.
本网站已经定义了一个不能超过的硬性上限($wims_class_user_limit).
 <br>
 L'ajout de notes manuelles ne peut 阾re effectu閑 pour les classes de plus de
 !defof MAX_USERFORGRADES in wimshome/public_html/bases/sys/define.conf
 participant.
!exit

:expiration
 <b>有效期</b>. 过了有效期后班级就会关闭. 任何时候你都可以延长有效期,
不过不能超过一年后的今天.
<p>
如果你想规定一年以上的有效期, 你可以分几次延长, 或者
 <a href="mailto:$wims_site_manager?subject=虚拟班级延长请求">要求网站管理员</a>帮你做.
</p>
!exit

:bgcolor
 <b>网页背景色及菜单颜色</b>. 这两种颜色可以使你轻易地在虚拟班里认出网页来.
它们按照 html 的规定取值.
 <p>
 <b>菜单及表格里的链接颜色</b>. 你可以选用与背景色相同的链接颜色.
 如果你采用了这个选项, 那么最好明显地标出表格的背景色, 即使它是取成默认值
 (因为默认值有可能改变).
 </p><p>
 默认值是一般网页所定义的颜色.
 </p>
!exit

:homepage
 <b>参加者主页</b>. 你可以把文件块的地址(例如 <span class="tt wims_fname">c1/main</span>)置为参加者班级的主页.
参加者不一定能阅读此文件.
 <p>
如果你使用标准主页, 则可将此栏留空.
 </p><p>
块内所有链接都应该用命令 <span class="tt wims_code_variable">\adm</span> 定义.
你可以使用下列预定义的变量:
</p>
$table_header
 $table_tr<td class="tt wims_code_variable">\firstname</td><td>
 参加者的名
</td></tr>
 $table_tr<td class="tt wims_code_variable">\lastname</td><td>
 参加者的姓
</td></tr>
 $table_tr<td class="tt wims_code_variable">\scores</td><td>
 参加者的分数信息. 这是一个数表, 每一页对应一对数: 得分百分比及质量.
</td></tr>
 $table_tr<td class="tt wims_code_variable">\newmsgcnt</td><td>
 班级论坛内未阅读信息.
</td></tr>
 $table_tr<td class="tt wims_code_variable">\today</td><td>
 今天日期, yyyymmdd.
</td></tr>
 $table_tr<td class="tt wims_code_variable">\sheets</td><td>
 作业页数.
</td></tr>
 $table_tr<td class="tt wims_code_variable">\exams</td><td>
 考试页数.
</td></tr>
$table_tr<td><span class="tt wims_code_variable">\expiration1</span>, <span class="tt wims_code_variable">\expiration2</span>, <span class="tt wims_code_variable">\expirationE1</span>, ...</td><td>
第1页, 第2页, 考试第1页, ... 的有效日期, yyyymmdd.</td></tr>
$table_tr<td><span class="tt wims_code_variable">\status1</span>, <span class="tt wims_code_variable">\status2</span>, <span class="tt wims_code_variable">\statusE1</span>, ...</td><td>
第1页, 第2页, 考试第1页, ... 的状态, 这是一个非负整数:
0 = 准备中, 1 = 激活, 2 = 过期, 3= 隐藏.</td></tr>
 $table_tr<td class="tt wims_code_variable">\daymessage</td><td>
 班级的每日信息.
</td></tr>
 $table_tr<td class="tt wims_code_variable">\userdaymessage</td><td>
 每个参加者的个人每日信息.
</td></tr>
$table_end
!goto end

:bgimg
班级网页的背景图像文件(平铺式). 你可以使用任何有效的 URL.
也有已做好的背景图像文件, 使用时不必加任何地址前缀:<p>
 <pre>$bgimgs</pre>
!exit

:theme
你的班级的格式主题.
!exit

:theme_icon
出现在菜单上的图标.
!exit

:css
格式页(css)几乎对班级的所有网页都起作用.
<p>
选择 <span class="tt wims_code_words">----</span> 不使用格式页.
</p><p>
选择 <span class="tt wims_code_words">-theme-</span> 使用与你选取的主题相应的格式页.
</p><p>
选择 <span class="tt wims_code_words">class</span> 使用自定义的格式页. 请参看 css 文件的语法.
<p><b>说明</b>. 如果你自定义 css, 请对学生使用的各种浏览器一一测试,
以避免出现不兼容情况.
你可以使用自己的格式页.
以下改变格式的格式页可被重新定义 :
</p><pre>
!read  wimshome/public_html/bases/sys/css_classes
</pre>
<p>
其余选择对应于此 WIMS 站预定义的格式.
</p>
!exit

:logo
班级的图标是显示在班级主页的左或右上角的图形.
<p>
如不想显示图标, 则选择 <span class="tt wims_code_words">none</span>
</p><p>
如果选择空串或 <span class="tt wims_code_words">wims</span>, 将使用WIMS图标.
</p><p>
否则你也可以使用有效图形文件的 URL.
</p>
!exit

:lock
连接锁定可帮助追踪用户以及反作弊. 共有8个等级.
<ul><li>
0: 不使用连接锁定.
</li><li>
1: 激活 cookie 追踪. 没有返回正确 cookie 的连接将被拒绝.
</li><li>
2: 要求使用安全连接(https). 通常的 http 请求将被拒绝.
首先你要从网站管理员那里确认此WIMS站能接受 https 连接.
</li><li>
3: 激活主机地址锁定. 在一次对话中参加者不能改变主机地址.
当连接来自动态分配的IP地址时, 这样做有困难.
</li><li>
4: Cookie 追踪 + https.
</li><li>
5: Cookie 追踪 + 主机锁定.
</li><li>
6: 激活上述所有方法.
</li><li>
7: 关闭班级. 不接受参加者的连接.
</ul>
!exit

:exolog
练习记录数(不超过$wims_exolog_limit)
<p>
这是能对每个参加者的细节都加以记录的练习数上限.
</p><p>
这些细节使得参加者与主持教师能够回放解题活动并作评论.
</p><p>
仅当参加者给出命令时练习的细节才被记录. 当超过上限时,
最早的记录将被删除.
</p>
!goto logs

:examlog
考试记录数(不超过$wims_examlog_limit)
<p>
这是能对每个参加者的细节都加以记录的考试对话上限.
</p><p>
这些细节使得参加者与主持教师能够对逐个练习回放解题活动.
</p><p>
考试对话的记录是自动的. 当超过上限时,
最早的记录将被删除.
</p>
!exit

:logs
<p>
当这个数等于 0 时, 将不作记录.
<b>注意</b> 练习和考试的纪录会耗用大量空间!
如果这个界限取得太大, 将会造成班级的盘空间超限.
</p>
!exit

:examshow
如果把这个选项设置为 <span class="tt wims_code_words">$wims_name_no</span>, 学生将不能看到
考试成绩. 只有教师能看到.
!exit

:authtype
!read help/$lang/authentification.phtml
!!!!!!!!!!!!!!!! old help, these lines may probably be erased
!!!!!!!!!!!!!!!! after translation of help/cn/authentification.phtml :
!! <b>身份验证的类型</b> :
!! 你可以通过 ldap 或 wims 作身份验证.
!! 当 ldap 验证失败时, 就尝试通过 wims 内部过程作验证.
!! <p>
!! ldap 验证的参数的例 :
!! <pre>
!! ldap_host: ldap.u-psud.fr
!! ldap_port: 389
!! ldap_version: 3
!! ldap_base: ou=people,dc=u-psud,dc=fr
!! ldap_branch: ou=people,dc=u-psud,dc=fr
!! ldap_uid: uid
!! ldap_login: supannAliasLogin
!! </pre>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!exit

:authtype2
<p>
<span class="tt wims_code_words">class_connections</span>:
If you use the standard <span class="tt">index.php</span> the variable <span class="tt">class_connections</span> should contain the value <span class="tt">+phpidp/available+</span>. Multiple values (separated by spaces) can be inserted. For a fine tuning of this variable you should refer to the <span class="bold">$wims_name_config_otherserver</span> section.
</p>
!exit

:modtoolchg
<b>模块开发工具(Modtool)的帐户</b> :
当你通过班级进入模块开发工具后, 也就注册了你的模块开发工具帐户.
如果你需要使用另一个模块开发工具帐户, 你可以在这里注销此注册.
然后你应该通过主页内的 <span class="tt">模块开发工具(Modtool)</span> 链接以进入此工具.

!exit

:ent
<b>平台上或网页上的连接</b> :
你可以用以下形式指示平台上或网页上的连接
<pre>连接的标题,连接的地址</pre>
例如,
<pre>Dokeos,http://----</pre>
如果你要放几个连接, 请用分号作分隔.

!exit

:external_auth
<b>外部身份验证时的地址</b> : <i>这是供专家使用的,
且允许使用 CAS 身份验证. </i>
你可以在 wims 的外部身份验证里标出链接
(这个地址应该直接进入班级).
你应该在 html 里放入完整地址 :<span class="tt wims_address">&lt;a href="http:...">链接&lt;/a></span>.

也可以把地址放在 "框架" 内:
<span class="tt wims_address">&lt;iframe https:...." width="100%" height="400">&lt;/iframe></span>.

<p>通过点击 <span class="tt wims_code_words">$wims_name_no</span> 可以放弃激活这个选项.
如果你勾选 <span class="tt wims_code_words">$name_mix_auth</span>, 会出现你给出的 html 地址,
同时也出现 wims 自己的身份验证以供选择.

你应该使用有效的 html 代码, 因为这不经检验.
由你自己保证这个外部身份验证能允许进入你的班级.

!exit

:topscores
<p class="wimscenter" style="font-weight:bold;">最佳成绩, 编号及匿名</p>
<p>如果这个数 n 大于等于 1, 当一个参加者请求得到他的分数时,
他同时能看到 n 个有最佳平均分的参加者的名单
(当 anonymity=yes 时, 当 anonymity=no 时只显示编号).
</p><p>
这个平均值不考虑手工计分, 因此如果有这样的分数, 请设为 0.
</p><p>
默认=0/$wims_name_yes
</p>
!exit

:cloning
<p>
Vous pouvez autoriser la duplication de votre classe par d'autres enseignants.
Votre classe sera alors r閒閞enc閑 comme pouvant 阾re dupliqu閑.
Seuls les administrateurs disposant du mot de passe de duplication que vous d閒inissez
pourront copier le contenu p閐agogique de votre classe (documents, feuilles, examens, s閝uences).
Les comptes des utilisateurs (participants ou administrateurs) ne sont pas concern閟 par la duplication.
</p><p>
Une classe dupliqu閑 fonctionne ind閜endamment de la classe mod鑜e.
</p>
!exit

:end
