
<b>相邻班设置的例</b>.
<p>
这里是一些可使用
!href cmd=help&special_parm=neighbor 相邻班
的典型情形.
</p><ul>
<li>
你(教师)对几组学生教同一门课.
<br>
你可对每组学生设一个虚拟班, 然后在每两班之间声明它们是对主持教师的相邻班.
把其中一个班作为主班, 让其它班与主班
!href cmd=help&special_parm=share 共享
教学资源. 在任何班里修改教学资源都能自动被其它班接受.
</li><li>
几位教师对同一批学生教不同的课.
<br>
每门课可建立一个虚拟班, 而所有这些虚拟班可声明对参加者相邻.
它们也可以共享参加者帐户(为此需要声明对主持教师相邻).
学生可注册到其中任意班级, 也就自动注册了其它所有班级.
一旦学生进入其中一个班, 他可以不用再输入密码而在这些班级间漫游.

</li><li>
有些选修课是面向一群学生的, 每个学生应该在其中选几门.
<br>
对每门课设立一个虚拟班. 再相互声明相邻关系, 但不共享参加者帐户.
一位学生选几门课应该注册到每个相应的班, 使用同一个登录名和密码.
以后他可以进入其中的任意班级, 而且会显示他注册的班级表,
允许他在这些班级间漫游.

</li></ul>
