
!! Color legend, when good answer is set to be displayed (presentgood), and there is at least 1 answeranalysis


!if $presentgood!=0 and $display_noanalyze!=yes
  !read ./oef/$module_language/answer.phtml
  <div id="oef_indlegend" class="oef_indlegend wims_widget_box float_right small">
    <h3 class="title_box" onclick="jQuery('#oef_indlegend .box_content').slideToggle();" style="cursor:pointer;">$oef_color_legend</h3>
    <div class="box_content" style="display:none;">
        <ul class="legend_$(replytype$i)">
          <li class="oef_indgood">$indgood</li>
          <li class="oef_indbad">$indbad</li>
          !if $display_forget=yes
            <li class="oef_indforget">$indforget</li>
          !endif
          !if $display_partial=yes
            <li class="oef_indpartial">$indpartial</li>
          !endif
          !if $display_precreply=yes
            <li class="oef_indprec">$indprec</li>
          !endif
        </ul>
    </div>
  </div>
!endif
