!set i=$wims_read_parm
!if c$i isitemof $embedded
  !exit
!endif
!set C_=$(choice$i)
!if debug iswordof $m_oefenv
  !set replydefaulted=yes
  !if $oef_default=yes
    !set T_=!positionof item $(choicegood$i[1]) in $(choicelist$i)
    !default choice$i=$(T_[1])
  !endif
!endif
!if $choicecnt<=1 and $replycnt<1
  !for jj=1 to $choiceitems1
    <tr><td><input type="radio" name="choice1" id="choice1_$jj" value="$jj"
    !if $jj=$(choice$i)
      checked="checked"
    !endif
><label for="choice1_$jj">
    !item $jj of $choicelist1
    </label>
    </td>
    </tr>
  !next jj

  !if $idontknow>0 and noidontknow notwordof $(choiceoption$i)
    <tr><td><input type="radio" name="choice1" id="choice1_noidea" value="$[$choiceitems1+1]">
      <label for="choice1_noidea">$ch_noidea.</label>
    </td></tr>
  !endif
  !if $qcmgood<=0
    <tr><td><input type="radio" name="choice1" id="choice1_none" value="$[$choiceitems1+2]">
      <label for="choice1_none">$ch_none.</label>
    </td></tr>
  !endif
!else
  <tr><td><label for="choice$i">$(choicename$i)</label>:</td><td>
  !set p_=$ch_choose,$(choicelist$i)
  !set N_=!itemcnt $p_
  !set listchoices=!makelist x for x=0 to $[$N_-1]
  !if $idontknow>0 and noidontknow notwordof $(choiceoption$i)
    !set p_=$p_,$ch_noidea
    !set listchoices=$listchoices,$N_
  !endif
  !if $qcmgood<1
    !set p_=$p_,$ch_none
    !set listchoices=$listchoices,$[$N_+1]
  !endif
  !if debug iswordof $m_oefenv
    !set replydefaulted=yes
    !if $oef_default=yes
      !set T_=!positionof item $(choicegood$i[1]) in $(choicelist$i)
      !default choice$i=$(T_[1])
    !endif
  !endif
  !formselect choice$i list $listchoices prompt $p_
  </td></tr>
!endif
!set choice$i=$C_
