!! intromenu_chrono : setup the scoredelay parameter
<div class="field box clearall">
  <label for="scoredelay">$name_chrono:</label>
  <input size="7" id="scoredelay" name="scoredelay" value="$scoredelay"> $name_secondes.
  <div class="formHelp">$name_remarkintro3</div>
</div>
