<fieldset class="property_fields blockcenter">
  <legend>$name_general_setup</legend>

  <div class="field box">
    <label for="qnum">$name_oneserie:</label>
    !default qnum=$(default_choice[1])
    !formselect qnum from 1 to $limit_exoseries
    $name_exercises.
    <div class="formHelp"> $name_defserie $name_remarkorder1</div>
  </div>
  !!!if $wims_user=supervisor
    <div class="field box">
      !formcheckbox random list 0 prompt $name_aleaseries
      <div class="formHelp">$name_remarkorder2</div>
    </div>
  !!!endif

  !read oef/intromenu_chrono.phtml

  <div class="field box">
    <strong>$name_seedrepeat</strong>
    !set wims_ref_class=wims_formradio
    !set wims_ref_id=seedrepeat
    !default seedrepeat=0
    !formradio seedrepeat from 0 to $limit_seedrepeat
    <div class="formHelp">$name_help_seedrepeat</div>
  </div>

  !set translation_language=!getdef translation_language in INDEX
  !if $translation_language!=$empty
    !set translation_language=$module_language,$translation_language
    !set translation_language=!words2items $translation_language
    !set translation_language=!sort items $translation_language
    <div class="field box">
      <strong>$wims_name_Language:</strong>
      !set wims_ref_class=wims_formradio
      !formradio lang_choice list $translation_language
    </div>
  !endif
</fieldset>
