!if $error!=$empty
  !exit
!endif

!if $fresult = $fname
  $name_save <span class="wims_fname">$title</span>:

  <div class="wimscenter spacer">
  !getfile $fresult $fresult
  </div>
!else
  $name_internal_error
  <a href="mailto:$wims_site_manager?subjet=Modtool backup failure">$wims_name_manager</a>.
!endif
