
!if $error!=$empty
 !exit
!endif

<div class="wimscenter">
!form reply
  <input type="hidden" name="jobreq" value="changeconfirm">
  $name_changenamefile:
  <input size="20" name="fnewname" value="$fname">
  <input type="submit" value="$wims_name_tosave">
!formend
</div>
<div class="wims_msg alert">
$name_warning_changenamefile
  <span class="tt fname">.oef</span>.
</div>
