!if $error=$empty
  <div class="wims_msg success">
    !read lang/names.phtml.$modu_lang delconfirm
  </div>
!endif

!set wims_menu_items=!append line back3,1,cmd=reply&jobreq=flist\
to $wims_menu_items

<p class="wimscenter">
  !set wims_ref_class=text_icon back
  !href cmd=reply&jobreq=flist $wims_name_back3
</p>
