
<span class="wims_mod_title">$pubtest</span> (<span class="tt fname">$mod</span>)

!if $diff=$empty
  <p>$name_diff1</p>
!else
 !if $diff1=MANY
    $name_diff2
 !else
    $name_diff3
 !endif
  <div style="text-align:center;">
    <textarea id="wims_show" cols="100" rows="50" name="wims_show" readonly="readonly">$diff</textarea>
  </div>
!endif
