
 <b>Tekst op hoofdkenmmerken.</b> (naam: <span class="tt wims_code_words">atext</span>)<br>
 Het leerling antwoord wordt vergeleken met het correcte antwoord, maar de
 vergelijking wordt niet letterlijk uitgevoerd.<br>
 Er wordt niet gekeken naar verschillen in hoofd / kleine letters, meervoud / enkelvoud,
 letters met / zonder accenten en veel voorkomende voorvoegsels of lidwoorden.

!read help/anstype.fr/syno.phtml synonym

!read help/anstype/syno.phtml badonly
