<b>Klik op atomen van een molecuul</b> (naam : <span class="tt wims_code_words">chemclick</span>)

Een molecuul wordt getoond in een japplet JMSE
<a href="http://peter-ertl.com/jsme/">http://peter-ertl.com/jsme/</a>
en kan worden gevraagd specifieke
atomen of bindingen te markeren met de muis.

Dit antwoord model; moet worden gebruikt in combinatie met het commando <span class="tt wims_code_words">\embed{}</span>.
De eerste regel van het commando <span class="tt wims_code_words">\embed</span> is de grootte in pixels van de applet in X&times;Y.
De tweede regel is te gebruien voor speciale opties: zie hievoor het <span class="tt wims_code_words">chemdraw</span> antwoord model.

Het correcte antwoord is
 <ul>
 <li>
 Eerste regel. De lijst met nummers van atomen of bindingen zoals aangegeven in het corresponderende MDMol bestand.
 Zoals bijvoorbeeld <span class="tt wims_code_words">atoms:1,5 bonds:4,7</span>
 </li>
 <li>
 Tweede regel. Het adres van de MDMol file (extensie <span class="tt">.mol</span>) dat het getoonde molecull beschrijft.
 Dit bestand moet aanwezig zijn in de directory <span class="tt wims_fname">\data</span> van uw module,
 of in de algemene data directory van de wims distributie (adres <span class="tt wims_fname">\data/xxx</span>) ,
 of in een directory "modules/data" op een wims server (het adres is in dit geval datamodule/xxx) of
 in de module directory  <span class="tt wims_fname">\images</span>  (adres <span class="tt wims_fname">\\imagedir/xxx</span>).
 </li>
</ul>


De atomen of bindingen worden gemarkeerd met een rechter muis klik.
De kleur van de geselecteerde items zal veranderen.
Een herhaalde rechter muisklik op een gemarkeerd item deselecteerd.

De variabele <span class="tt wims_code_variable">\reply</span>n kan iets zijn als: <span class="tt">atoms:1,2 bonds:2</span>

<p>
The option <span class="tt wims_code_words">help</span> is avalaible, help on the applet is added automatically
(for the moment, only for the selection image).
</p>

<pre>
\answer{}{atoms:1,2 bonds:1;data/file.mol}{type=chemclick}
</pre>
