<b>Bruto formule van een molecuul</b> (naam : <span class="tt wims_code_words">chemformula</span>)
Hiermee kan de bruto formule worden gecontroleerd.
Het antwoord hoeft niet in de vorm koolstof,waterstof en daarna de elementen in afabetische volgorde te zijn.
Het correcte antwoord moet in de vorm C7H4Cl2O2 zijn

De variabele <span class="tt wims_code_variable">\reply</span>i bevat de eerste regel van het antwoord,
het geformateerde antwoord is in de vorm
<pre>C,7
H,4
Cl,2
O,2
</pre>
in de volgorde aangegeven door het antwoord.

De variabele <span class="tt wims_code_variable">\sc_reply</span>i is 0.5 als het antwoord in de correcte element volgorde is gegeven.

