 <b>Chemische vergelijking</b>
 (naam: <span class="tt wims_code_words">chemeq</span>)<br>
 Hier wordt het antwoord vergeleken met een opgegeven chemische evenwichts vergelijking.
De syntax wordt bepaald door de parser <t>chemeq</i>.<br>
Het goede antwoord is een chemische vergelijking in evenwicht en de vraag is een niet-compleet reactieschema.
 <p>
 The antwoord is correct als de massa/electronen-balans van de vergelijking kloppend is.
<br> bijvoorbeeld:
 <ul>
    <li>
	<b>2H2 + O2 -> 2H2O ; H2 + O2 -> H2O</b>
     </li>
     <li>
	<b>CH4 + 2O2 -> CO2 + 2H2O;CH4 + O2 -> CO2 + H2O </b>
     </li>
    <li>
	<b>MnCl3 -> Mn^3+ + 3Cl^- ;MnCl3 -> Mn^+ + Cl^- </b>
    <li>
  </ul>

