
<b>Klik op gekleurde tegels.</b>
(naam : <span class="tt wims_code_words">clicktile</span>)
<br>

Een Java applet laat een vooraf bepaald aantal gekleurde vierkantjes zien ["tegels"].
En er kunnen ook punten , lijnstukken ,lijnen of polygonen worden getoond.
De door de opdracht bepaalde "voorstelling" van vierkantjes etc kan niet door de leerling worden "weg geklikt".
De leerling kan de resterende vierkantjes van kleur doen veranderen door er op te klikken.
De rechter/middelste muis knop veranderd de kleur.

<p>Het sleutelwoord <span class="tt wims_code_words">\embed</span> moet worden gebuikt.
Elke tegel wordt gedefinieerd door de coordinaten van de links-boven hoek , zoals <span class="tt wims_code_words">integer:integer</span>.
De eerste regel in het kommando <span class="tt wims_code_words">\embed</span> is de pixel grootte van de applet : X &times;  Y in pixels.
<br>
De tweede regel binnen vierkante haken <span class="tt wims_code_words">[</span> <span class="tt wims_code_words">]</span> bevatten de commando's voor de "voorstelling".
Deze voorstelling kan dus niet worden veranderd door de leerling.
<br>
Bij voorbeeld:<br>
<pre>
\embed{r1, 200 x 200
[xrange -5,5
yrange -5,5
background_color yellow
square blue,1:1,1:2,1:3
square green,2:3,2:4
point red,0:0]}
</pre>
De waarden voor(<span class="tt wims_code_words">xrange</span> en <span class="tt wims_code_words">yrange</span>) moeten integers zijn.
Het correcte antwoord wordt gedefinieerd door regels als:
<span class="tt wims_code_words">color,a:b,c:d</span>
<br>
Alle coordinaten moeten in de vorm <span class="tt wims_code_words">a:b</span> zijn, waarbij <span class="tt">a</span> en <span class="tt">b</span> integers zijn.
<br>
Voor de achtergrond tekening is ook het volgende mogelijk:<br>
<pre>
polygon white,0:0,0:1,1:1
point red,0:0
line white,-5:0,5:0
</pre>
<br>
Ook kan een plaatjes als achtergrond dienen:
<pre>copy,x,y,url</pre>.
Wanneer hiervoor "flydraw" word gebruikt, is de url gelijk aan de functie <span class="tt wims_code_words">draw()</span>.
Het wordt aangeraden de gelijke <span class="tt">xrange</span> en <span class="tt">yrange</span> voor plaatje en applet te gebuiken.
<br>

De variabele <span class="tt wims_fname">\reply</span>n is de matrix van de aangeklikte vierkantjes (elke kleur heeft een regel).
<br>
Als de regel <pre>return_all_objects yes </pre>
de tweede regel is in het commando <span class="tt wims_code_words">\embed</span>,wordt de complete voorstelling geretourneerd als <span class="tt wims_fname">\reply</span>n.
<br>
De variabele <span class="tt wims_fname">\sc_reply</span>n is gelijk aan 0.5 als alle vierkantjes correct zijn aangeklikt, maar ze niet in de correcte kleur zijn.
<p>
Het correcte antwoord kan ook een lege variabele zijn: in dat geval moet de analyse van het leerling antwoord via "condities" verlopen.
</p>
<p>
<b>Voorbeeld</b> :
<pre>
\statement{
  \embed{r1,200 x 200
  [xrange -5,5
   yrange -5,5
   background_color yellow
   square blue,1:1,1:2,1:3
   square green,2:3,2:4
   line white,-5:0,5:0
   text black,-4:0:A
   text red,-5:1:B
  ]}
}
\answer{}{blue,1:0,1:-1,1:-2; green,2:-2,2:-3}{type=clicktile}
</pre>
$table_header
$table_hdtr<th></th><th>Uitleg</th></tr>
$table_tr<td>xrange x1,x2</td><td></td></tr>
$table_tr<td>yrange y1,y2</td><td></td></tr>
$table_tr<td>background_color [color]</td><td></td></tr>
$table_tr<td>square [color],x1:y1,x2:y2,...</td><td></td></tr>
$table_tr<td>segment [color],x1:y1,x2:y2</td><td></td></tr>
$table_tr<td>text [color],x1:y1,texte</td><td></td></tr>
$table_tr<td>return_all_objects yes/no</td><td></td></tr>
</table>

De toegestane kleuren zijn:
<span class="tt">white,red, green, blue, orange, yellow, purple, lightgreen, lightblue, cyan,
brown, salmon, pink</span>.


