
 <b>Antwoorden in de vorm van gegeven kernwoorden.</b>
 (naam: <span class="tt wims_code_words">compose</span>)
 <br>
 De gegeven kernwoorden of begrippen kunnen in de vorm zijn van vrije tekst
 (dus woorden, of groepen woorden) , formules geformateerd met \(...) of zelfs plaatjes.
 <p>
 Deze "kernwoorden" moeten als items worden opgenomen in het correcte antwoord.
 Zinloze kernwoorden mogen worden opgenomen in het antwoord na een puntcomma ';'.
 <p>
Gebaseerd op DynAPI, mogelijk dat sommige browsers dit niet ondersteunen.

