

 <b>&eacute;&eacute;n op &eacute;&eacute;n overeenkomst van objecten</b>
 (naam: <span class="tt wims_code_words">correspond</span>)
 <br>
 Twee set items worden gepresenteerd aan de leerling,
  in de vorm van een gemixte tabel.
  De leerling mag op de items klikken ten einde de tabel op de goede volgorde te zetten.
 <br>
 Het goede antwoord moet worden gedefinieerd als een matrix van twee rijen.
 De eerste rij bevat de objecten (een lijst items) uit het linker gedeelte van de tabel.
 De tweede rij van de matrix bepaald het rechter gedeelte van de tabel.
 De rijen moeten worden gescheiden door een puntkomma `;'.
 <br>
 Het is in de rechter kolom wel toegestaan om een item meerdere keren te vermelden,
 in de linker kolom niet.
 <br>
 De items mogen tekst bevatten, plaatjes [image tags] of wiskundige formules
 geformateerd met <span class="tt wims_code_words">\(...)</span>.
 <br>
 Het antwoord veld moet bijvoorkeur worden verwerkt in een  \embed{},
 met een input-size veld in de vorm <span class="tt wims_code_words">VxH1xH2</span>, waarbij <b>V</b> verticale grootte,
  en H1,H2 respectivelijk de horizontale grootte van de linker en rechter tabelkolom voorstelt.
 <br>
 Per definitie wordt aan elk antwoord dat niet volledig goed, de waarde 0 toegekend.
 Wanneer het woord <span class="tt wims_code_words">split</span> in veld 'option' wordt ingevuld, wordt het cijfer berekend uit een
 weging van het aantal goede/foute antwoorden.
 <br>
 Gebaseerd op DynAPI, mogelijk dat sommige browsers dit niet ondersteunen.

