 <b>Auto.</b> (naam: <span class="tt wims_code_words">default</span>)<br>
 De software bepaald met wel type antwoord_checking het leerling
 antwoord moet worden vergeleken met het correcte antwoord.
 <br>
 De mogelijkheden zijn natuurlijk beperkt: er wordt gekozen tussen
 numerieke functies, getallen, vergelijkingen en teksten.<br.
 Het is altijd beter zelf het antwoord_check mechanisme te specificeren.

