 <b>Numerieke functie.</b> (naam: <span class="tt wims_code_words">function</span>)<br>
 Het leerling antwoord wordt vergeleken met het correcte antwoord.<br>
 De waarden van de gebruikte variabelen worden vergeleken
  op het ingestelde bereik en nauwkeurigheid.

