 <b>Tekst (hoofdletter gevoelig).</b>
(naam : <span class="tt wims_code_words">keyboard</span>)
<br>
Er wordt een toetsenbord getoond met non-ascii toetsen voor de talen:
duits (de),
engels (en),
spaans (es),
frans (fr),
grieks (el),
italiaans (it),
pools (pl),
russisch (ru),
slavisch(si),
phonetisch engels (en_ipa).

Deze zijn instelbaar door de optie <span class="tt wims_code_words">keyboard=it</span>.
Men kan ook zelf een toetsenbord samenstellen met letters in de html code, zoals bijvoorbeeld:
<pre>option= keyboard=[&#913; &#914; &#915; &#916; &#917;;\
&#918; &#919; &#952; &#921; &#922;;\
 &#945; &#946; &#947; &#948; &#949; &#950; &#951; &#920; &#953; &#954;]
</pre>
You can also use a universal keyboard (option <span class="tt wims_code_words">keyboard=universal</span>).
<br class="spacer">

Omdat het antwoord non_iso-latin1 code bevat, moet er html code worden gebruikt.
Met kopieren en plakken in het Createxo venster worden letters automatisch omgezet naar html code.

Het antwoord wordt als tekst vergeleken met het correcte antwoord.
Elk woord uit het antwoord moet exact gelijk zijn aan het corresponderende woord uit het correcte antwoord.
