 <b>Matrix.</b> (naam: <span class="tt wims_code_words">matrix</span>)<br>
 Gelijk aan het antwoord_type Vector, elke co&euml;fficient wordt geevalueerd en vergeleken
 met de corresponderende co&euml;fficient van het correcte antwoord.

 <p>
 Er zin drie opties beschikbaar:
 <span class="tt wims_code_words">split_coeff</span>,
 <span class="tt wims_code_words">split_row</span>,
 <span class="tt wims_code_words">split_column</span>.
 Het leering antwoord is gedeeltelijk correct als het percentage correcte co&euml;fficienten
 van rijen of kolommen 50% is.
 </p><p>
 Wanneer <span class="tt wims_code_words">n</span> het vraagnummer is ,
 dan bevatten de variabelen  <span class="tt wims_code_words">result</span>n
 een resultaat matrix met 1 en 0 (of 0.5 als de precisie niet correct is)
</p>
