<li><b>Meerkeuze vragen</b>: <span class="tt wims_code_words">checkbox</span>,
<span class="tt wims_code_words">click</span>, <span class="tt wims_code_words">menu</span>, <span class="tt wims_code_words">radio</span>, <span class="tt wims_code_words">mark</span><br>
Deze kunnen worden gebruikt als alternatief voor de standaard meerkeuze input.<br>
Hierdoor heeft U meer controle over het uiterlijk van de meerkeuze oefening.
Het goede antwoord bevat tweetal velden, gescheiden door een ``<span class="tt wims_code_words">;</span>''.
Het eerste veld is de lijst met correcte oplossingen,
het tweede veld [achter de ``<span class="tt wims_code_words">;</span>''] is de lijst met keuze mogelijkheden.
<p>
In het geval van een <span class="tt wims_code_words">checkbox</span>
moeten alle goede antwoorden worden aangevinkt.
<br>
Bij alle andere meerkeuze types volstaat 1 goed antwoord.
<p>
Voor de types <span class="tt wims_code_words">checkbox</span>, <span class="tt wims_code_words">menu</span> en <span class="tt wims_code_words">radio</span>,
kan een extra optie genaamd <span class="tt wims_code_words">shuffle</span> worden gebruikt.
De multiple choice presentatie wordt dan willekeurig "gemixed".
Zonder explicite vermelding van deze optie <span class="tt wims_code_words">shuffle</span> wordt er dus niet gemixed.
<p>
Andersom is er de optie <span class="tt wims_code_words">sort</span> waardoor de lijst wordt gepresenteerd in alfabetische volgorde.
<p>
Het type <span class="tt wims_code_words">click</span> moet alleen worden als geen andere mogelijkheid geschikt is.
<p>
Het type <span class="tt wims_code_words">menu</span> kent de optie <span class="tt wims_code_words">multiple</span> en een waarde.
De waarde [default 8] bepaald de maximale grootte van het keuzevenster.
Bijvoorbeeld:<span class="tt wims_code_words">multiple=5</span> geeft een menuvenster van 5 regels groot.
<p>
<span class="tt wims_code_words">mark</span> is vergelijkbaar met <span class="tt wims_code_words">checkbox</span>,
met als verschil dat het gekozen item geen drukknop is, maar van kleur veranderd wanneer het geactiveerd wordt.
Daardoor is het prima geschikt voor gebruik binnen een tekstregel.
<p>
Voor de types waarbij meerdere goede keuzes kunnen worden ingevoerd
(<span class="tt wims_code_words">checkbox</span>, <span class="tt wims_code_words">mark</span>, als ook <span class="tt wims_code_words">menu</span> met optie <span class="tt wims_code_words">multiple</span>),
is per definitie de score 0 als het antwoord iets verschilt van het correcte antwoord.<br>

Maak gebruik van de optie <span class="tt wims_code_words">split</span> (synoniem: <span class="tt wims_code_words">partialscore</span>) als U wilt afwijken van deze default instelling.
<br>
In het geval van <span class="tt wims_code_words">partialscore</span> wordt elk fout antwoord verdisconteerd met twee goede antwoorden,
tot de score 0 is...
<p>
Wilt U ook hiervan afwijken, kan de optie <span class="tt wims_code_words">eqweight</span> worden gebruikt.
Hierdoor compenseerd 1 fout antwoord precies 1 goed antwoord.

