 <b>Getal.</b> (naam: <span class="tt wims_code_words">numeric</span>)<br>
Het leerling antwoord is een re&euml;el getal
en wordt -met de door auteur ingestelde precisie- vergeleken met het correcte antwoord.

If the word <span class="tt wims_code_words">comma</span> is in the option, real numbers can be written with
a comma instead of the decimal point (but the good answer must be with a
decimal point). In this case, if the answer is bad, the good answer is written
with the same "decimal point" as the one of the student.

Precision can be fixed in the field <span class="tt wims_code_words">precision</span>, by default 1000.

The error is by default relative : the difference should be less than something as
<span class="tt">(|good_answer|+|reply|)/precision</span> (replace <span class="tt">precision</span> by <span class="tt">sqrt(precision)</span>
for a partially good answer).

If the word <span class="tt wims_code_words">absolute</span> is in the option, the precision is absolute.
The answer is then partially good if the difference is less than 10/precision.
