<b>Rationele getallen .</b> (naam : <span class="tt wims_code_words">numexp</span>)<br>
Het leering antwoord is een rationeel getal en deze breuk moet vereenvoudigd worden genoteerd.<br>
Tenzij de optie <span class="tt wims_code_words">option=noreduction</span> is gedefinieerd.
<p>

Voor "mooie" breuken wordt ook de decimale notatie geaccepteerd:
0.25 = 1/4 <br>
0.2 = 1/5<br>
Maar 0.3333333 wordt niet goed gerekend als 1/3.

