<b>Maak een puzzel van een plaatje</b> (naam: <span class="tt wims_code_words">puzzle</span>)<br>

<p>
Het correcte antwoord bevat een tweetal velden, gescheiden door een punt-komma
 ``<span class="tt wims_code_words">;</span>''.
In't algemeen is het eerste veld bevoeld voor de naam van het plaatje.
Het plaatje dient aanwezig te zijn in een directory, bepaald door de variabele <span class="tt wims_code_words">common_images</span>),
het tweede veld <span class="tt wims_code_words">N1 x N2 x W</span> bepaald dat het plaatje wordt opgedeeld in N1 rijes en N2 kolommen en
dat de breedte van een puzzel stukje <span class="tt wims_code_words">W</span> is.

De grootte van het plaatje (breedte x hoogte) moet worden vermeld in het eerste parameter veld van <span class="tt wims_code_words">\embed</span> :
<span class="tt wims_code_words">\embed{r1, L x H}</span>.
</p>
<p>
Het is ook mogelijk van te voren opgeknipte plaatjes te gebruiken.
In dat geval is het tweede veld wederom <span class="tt wims_code_words">N1 x N2 x W</span>,
en moet het eerste veld een lijst van adressen van plaatjes zijn, in de volgorde:
eerste rij van links naar rechts, tweede rij van links naar rechts etc.
(dus N1*N2 adressen van plaatjes moet worden vermeld).
If the field <span class="tt wims_code_words">option</span>contains the word <span class="tt wims_code_words">text</span>, it is possible in this case
 to replace all the images by text (without commas or semi-colons).
</p>
<p>
D variabele <span class="tt wims_code_variable">reply</span> i bevat een lijst met 0 en 1, afhankelijk of het puzzel stukje goed of slecht is geplaatst
</p>
Let op dat er geen identieke plaatjes kunnen worden gebruikt of geknipt !

