 <b>Getal met bereik.</b> (naam: <span class="tt wims_code_words">range</span>)<br>
 Het leerling antwoord is een re&euml;e; getal.
 Het correcte antwoord is opgebouwd uit twee getallen m en n , gescheiden door
 een komma. En er moet gelden m &lt; n <br>
 Elk leerling antwoord waarvoor geldt: m &le; \reply &le; n wordt goed gerekend.
 <p>
 Meerdere bereiken kunnen worden gedefinieerd, door ze als items (dus gescheiden door komma's) aan het correcte antwoord toe te voegen.
 <p>
 Als het correcte antwoord een oneven aantal items bevat, wordt het laatste item getoond in de representatie van het correcte
 antwoord.

 The macro slib <span class="tt wims_code_words">text/approximation</span> can be used to calculate these three numbers
 automatically.

