
 <b>Ruwe tekst.</b>
 (naam: <span class="tt wims_code_words">raw</span>)
 <br>
 Het leerling antwoord is een tekst.
 Deze wordt vergeleken met het correcte antwoord, onder bepaalde sub-voorwaarden.<br>
 Wanneer er geen "option=" is gedeklareerd , gelden de default instellingen:
 slechts de spaties aan begin en eind van het leerling antwoord worden verwijdert.
<br>
Een leerling antwoord met 1 spatie te veel -ergens in een zin- is dan dus fout !
<br>
Dit antwoord type is vooral geschikt voor auteurs die zelf het leerling antwoord verder willen beoordelen.<br>
De volgende opties kunnen worden ingezet:

!set p=anstype.$lang/raw
!readproc tabletheme
$table_header
!set caption=!record 1 of help/$p
  <caption>$caption</caption>
  !set header=!record 2 of help/$p
  $table_tr<th>$(header[1])</th><th>$(header[2])</th></tr>
  !set cnt_record=!recordcnt help/$p
  !for u= 3 to $cnt_record
    !set l_=!record $u of help/$p
    $table_tr<td class="tt wims_code_words">
!line 1 of $l_
    </td><td>
!line 2 of $l_
   </td>
  !next
$table_end

