
 <b>Getallen met een vastgelegde nauwkeurigheid.</b>
 (naam: <span class="tt wims_code_words">sigunits</span>)<br>
Een antwoord wordt vergeleken met een gegeven correct antwoord van een bepaalde precisie en/of eenheid.
De syntax is &lt;getal&gt; [&lt;eenheid&gt;]
 [#&lt;gewenste aantal decimalen&gt;]
 <p>
 voorbeeld:
 <ul>
 <li><b>1m#3</b> betekend 1 meter met 3 significante cijfers. Synonymen:
    <i>1.00m</i>, <i>0.00100 km</i>.</li>
 <li><b>100.0 N</b> heeft de zelfde betekenis als <i>1e2N#3</i>: 100 newton
     met 3 significate cijfers.</li>
 </ul>

