
 <b>Tekst (hoofdletter gevoelig of ongevoelig).</b>
 (namen: <span class="tt wims_code_words">case</span> en <span class="tt wims_code_words">nocase</span>)
 <br>
Bij dit type antwoord_checker wordt de opgestuurde tekst vergeleken met het goede antwoord.
Bij het antwoordtype <span class="tt wims_code_words">case</span> wordt letterlijk, woord voor woord nagekeken.

!read help/anstype/syno.phtml synonym

!read help/anstype/syno.phtml badonly
