 <b>Getal met eenheid.</b> (naam: <span class="tt wims_code_words">units</span>)<br>
 Het leerling antwoord is een getal met een natuurkundige eenheid.<br>
 Er wordt gecontroleerd m.b.v.  eenheid , bijvoorbeeld : <span class="tt">1.5 cm</span> en <span class="tt">15 mm</span>
 zijn identieke antwoorden.<br>
 De nakijk_precisie is gelijk aan instelling voor numerieke antwoorden.

