 <b>Vector.</b> (naam: <span class="tt wims_code_words">vector</span>)<br>
 Elke co&euml;fficient wordt geevalueerd en vergeleken met de overeenkomstige co&euml;fficient in het goede antwoord.
 Hierdoor kunnen we alleen numerieke vectoren nakijken.<br>
 Zowel het leerling antwoord als het goede antwoord behoeven geen haakjes.
