
<h1 class="wims_docu_title">$tit</h1>

!if $error!=$empty
  <div class="wims_msg alert">
  !read docu/$modu_lang/msg.phtml
  </div>

!endif

!if $titb=$empty
  <p>
  $name_noncreate
  </p>
  !exit
!endif

!if $datetest<0
  <p>
  $name_noread
  </p>
  !exit
!endif

!if $datetest>0
  <p>
  $name_expired
  </p>
  !exit
!endif

<h2>$titb</h2>

!if $sheetdata=$empty
  <p>
  $name_noexercise
  </p>
  !exit
!endif

$name_exercise
!if $wims_user=supervisor
  $name_sheet1
!else
  $name_sheet2
!endif

<pre>
$sheetdata
</pre>
