!nocache
<h1 class="wims_docu_title">$tit</h1>

!if $error!=$empty
  <div class="wims_msg alert">
  !read docu/msg.phtml
  </div>
!endif

!if $titb=$empty
  <p>
  $name_noncreate
  </p>
  !exit
!endif

<h2 class="wims_docu_titleb">$titb</h2>

!read $docdir/$doc/$block.def content
