
<span class="wims_emph">$class_description</span>
$name_of
<span class="wims_emph">$class_institution</span>
!if $class_creation!=$empty
  $name_creation
!endif
$name_expires
!if $jobclass<10000
  $name_distrib
!endif

$table_header
$table_tr<th  style="width:100px;">$name_serial</th><td style="width:200px;">$jobclass</td></tr>
$table_tr<th>$wims_name_Supervisor</th><td>
<a href="mailto:$class_email?subject=$name_yourclass">$class_supervisor</a>.</td></tr>
$table_tr<th>$wims_name_Language</th><td>$class_lang.</td></tr>
$table_tr<th>$wims_name_level</th><td>$class_level.</td></tr>
$table_tr<th>$name_limit</th><td>$class_limit.</td></tr>
!default class_password=<span class="wims_warning">-- none --</span>
$table_tr<th>$name_supervisor_r</th><td>$class_password</td></tr>
$table_end
<p>$name_erase</p>
<div class="wimscenter">
 !href cmd=reply&job2=erase2&jobclass=$jobclass $wims_name_yes
&nbsp;&nbsp;&nbsp;
 !href cmd=reply&job2=first $wims_name_no
</div>
