<p>
!if $overflow=yes
  !if $keyword = $empty
    $name_search1
  !else
    $name_search2
  !endif
!endif
</p>
!if $keyword!=$empty or $overflow=yes
  <div class="wimscenter wimsform">
    !form reply
      <input size="20" name="keyword" value="$keyword">
      <input type="submit" value="$wims_name_search">
    !formend
  </div>
!endif
