搜索引擎的关键词有以下两种形式.
请选择这里列出的英语版.
关键词之间用逗号分隔.
领域名不必列入, 因为这是默认的.

<div class="wims_instruction">
In the OEF modules, the keywords included in one of the exercises
in the field <span class="tt">\keywords{}</span>
are added to the keywords of the module.
</div>
