!reset confirm
!read adm/css.phtml

!read js/external/tinymce.phtml .iEdit
!header1

<!-- adm/class/sheet/main.phtml START -->

!read adm/class/classname.phtml $wims_classname\
$wims_institutionname

!if $job iswordof student chseries
  !changeto $job.phtml
!endif
!if $job notwordof prep_modify getsource clone
  !read adm/title.phtml 1\
$classname\
$name_title $name_title2
!else
  !read adm/title.phtml 1\
$name_title\
$(name_$(job1)) $modif
!endif
!if $error!=$empty 
  !if prep_ notin $error
    !!this is not a true message error ...
    <div class="wims_msg alert">
      !read lang/msg.phtml.$moduclass_lang
    </div>
  !else
    !read lang/msg.phtml.$moduclass_lang
  !endif
  !if $display!=1
    !goto end
  !endif
!else
  !if $message!=$empty
    <div class="wims_msg success">
      $message
    </div>
    !reset message
  !endif
!endif

!if $job=getsource
  !read getsource.phtml
  !goto end
!endif

<div id="sheet_management">
!if $jquery_defined=yes
  <script>
    /*<![CDATA[*/
    jQuery(function($$) {
      // Get in sessionStorage if a tab was previously selected, and activate it.
      var selectedTabId = sessionStorage.getItem("sheet_management_selectedTab");
      selectedTabId = selectedTabId === null ? 0 : selectedTabId; //default tab = 0
      $$("#sheet_management").tabs({
        active: selectedTabId,
        activate : function( event, ui ) {
            selectedTabId = $$("#sheet_management").tabs("option", "active");
            sessionStorage.setItem("sheet_management_selectedTab", selectedTabId);
        }
      });
    });
    /*]]>*/
  </script>
  <ul>
    <li><a href="#sheetinfo">$name_info</a></li>
    !ifval $activetest!=-1
      <li><a href="#list">$name_content</a></li>
      !if $indivtechvar!=0 and $indivtechvar!=$empty
        <li><a href="#individualisation">$name_individualisation</a></li>
      !endif
      !if $prpage_save=yes
        <li><a href="#prpage">$(name_shinfo[5])</a></li>
      !endif
    !endif
  </ul>
  <div id="sheetinfo">
     !read adm/sheet/sheetinfo.phtml
  </div>
!else
  !if $wims_infoshow=no
   <fieldset class="property_fields blockcenter">
     <legend> $name_info [
     !href cmd=resume&infoshow=yes $wims_name_showall
     ]
     </legend>
   </fieldset>
  !else
    !read adm/sheet/sheetinfo.phtml
  !endif
!endif

!ifval $activetest=-1
  !goto end
!endif

:end1
<div id="list">
!if $exocnt=0
  <p class="wims_msg info">$name_warning</p>
!else
  !if $activetest=0
    <a class="wims_button" href="#add_work">$name_add_work</a>
  !endif
  !set wims_ref_class=wims_button
  !href module=adm/sheet&sh=$sheet&job=print $wims_name_printable

  !read adm/sheet/sheetcontent.phtml
!endif

!if $activetest=0
<fieldset id="add_work">
  <legend><h2>$name_add_work</h2></legend>
  <div class="formHelp">$name_text1</div>
  <p>$name_options_to_add...</p>
  <div><p class="text_icon search">$name_text2:</p>
    !read adm/search_engine/form.phtml
  </div>
  <p>$name_other_options:</p>
  <ul class="flex_box grid-x small-up-1 medium-up-3">
    <li class="card cell"><div class="card-section">
      $name_text3
      !set wims_ref_class=text_icon classexo
      !href module=classes/$lang&special_parm=.nocache. $wims_name_classexo
    </div></li><li class="card cell"><div class="card-section">
      !set wims_ref_class=text_icon tags
      !href target=wims_internal module=adm/browse&job=taxo $name_texttaxo
      !!!href target=wims_internal module=adm/browse&job=subject $name_textsubject
    </div></li><li class="card cell"><div class="card-section">
      !set wims_ref_class=text_icon file
      !href cmd=reply&job=prep_putsource $wims_name_putsource
    </div></li>
    !if $wims_devel_modules iswordof open
      <li class="card cell"><div class="card-section">
        <span>$name_text4</span>
        !href module=adm/modtool $wims_name_modtool
      </div></li>
    !endif
    !if $name_helpprog!=$empty
      <li class="card cell"><div class="card-section">$(name_helpprog[1])
        !set wims_ref_class=text_icon browse
        !href module=help/teacher/program $(name_helpprog[2])
        $(name_helpprog[3]).
      </li>
    !endif
  </ul>
</fieldset>
!endif
</div>
!! -------- end of id=list

!if $indivtechvar!=0 and $indivtechvar!=$empty
  <div id="individualisation">
    !readproc indiv.proc
    !read indiv.phtml
  </div>
!endif

!if $prpage_save=yes
  <div id="prpage">
!!    !readproc proc/prpage.proc
    !read proc/prpage.phtml
  </div>
!endif


:end
</div>
!if $activetest>=0
  !if $activetest=0
    !let wims_menu_items=!append line putsource,1,cmd=reply&job=prep_putsource to $wims_menu_items
  !endif
  !if $job!=getsource and
    !let wims_menu_items=!append line sheetsource,1,cmd=reply&job=getsource to $wims_menu_items
  !endif
  !if $exocnt>0
    !let wims_menu_items=!append line duplicatesheet,1,cmd=reply&job=duplicate&sheet=$sheet to $wims_menu_items
  !endif
  !let wims_menu_items=!append line itemsep,0,\
printable,1,module=adm/sheet&sh=$sheet&job=print\
participantview,1,module=adm/sheet&sh=$sheet to $wims_menu_items
!endif

<!-- adm/class/sheet/main.phtml END -->
!tail

!distribute item ,,,, into job,source,title,desc,prpage
