<ul>
  <li>Store canvas in variable "<span class="tt">A</span>":
    <code>
    \text{A=canvasdraw(xsize,ysize
    commande...)}
    </code>
  </li>
  <li>Direct display canvas in statement:
    <code>
    \canvasdraw{xsize,ysize}{commande...}
    </code>
  </li>
</ul>
!href module=adm/doc&job=read&doc=1028 Canvasdraw versus Flydraw

!read help/en/canvasdraw.phtml
