<h2 class="wimscenter">
!record 1 of  help/$lang/draw_example
</h2>

!record 2 of  help/$lang/draw_example
!set insdraw_size=150,150
!set ins_align=middle
!insdraw xrange -1.2,1.2\
yrange -1.2,1.2\
fill 0,0,skyblue\
linewidth 2\
polygon red,0,1,sin(4*pi/5),cos(4*pi/5),sin(8*pi/5),cos(8*pi/5),sin(2*pi/5),cos(2*pi/5),sin(6*pi/5),cos(6*pi/5)\
fill 0,0,gold\
fill 0,0.5,green\
fill 0.5*sin(2*pi/5),0.5*cos(2 *pi/5),green\
fill 0.5*sin(4*pi/5),0.5*cos(4*pi/5),green\
fill 0.5*sin(6*pi/5),0.5*cos(6*pi/5),green\
fill 0.5*sin(8*pi/5),0.5*cos(8*pi/5),green

!record 3 of  help/$lang/draw_example

<pre>
\draw{150,150}{xrange -1.2,1.2
yrange -1.2,1.2
fill 0,0,skyblue
linewidth 2
polygon red,0,1,sin(4*pi/5),cos(4*pi/5),sin(8*pi/5),cos(8*pi/5),sin(2*pi/5),cos(2*pi/5),sin(6*pi/5),cos(6*pi/5)
fill 0,0,gold
fill 0,0.5,green
fill 0.5*sin(2*pi/5),0.5*cos(2 *pi/5),green
fill 0.5*sin(4*pi/5),0.5*cos(4*pi/5),green
fill 0.5*sin(6*pi/5),0.5*cos(6*pi/5),green
fill 0.5*sin(8*pi/5),0.5*cos(8*pi/5),green
}
</pre>
!set syntax=!record 4 of  help/$lang/draw_example
!href cmd=help&special_parm=draw $syntax
