!set list_=
!for k=1 to 2
  !set n=!linecnt $(typelist$k)
  !for j = 1 to $n
    !set l=!line $j of $(typelist$k)
    !set name=$(l[1])
    !if | isin $name
      !set name2=!replace internal | by $\
$ in $name
      !distribute lines $name2 into bidon,name
    !endif
    !set name=!words2items $name
    !if $name=radiocheckbox
      !set name=radio,checkbox
    !endif
    !set list_=!append item $name to $list_
  !next
!next
!set list_=!sort item $list_
$table_header
$table_hdtr<th>$wims_name_name</th><th>Option</th></tr>
!for f in $list_
  !set opt=!lookup option in anstype/$f
  !if $opt!=$empty
    $table_tr<td>
    !href cmd=help&special_parm=reply,$f#_$f $f
    </td><td style="text-align:left">$opt</td></tr>
  !endif
!next
</table>
