<p>Livelli scolastici:</p> <ul>
 <li>K1-K3: Infanzia
 </li>E1 - E5: Primaria.
 </li><li>E6,H1 - H6: Secondaria (di primo e secondo grado).
 </li><li>U1 - U5: UniversitÓ.
 </li><li>G: UniversitÓ, studi post-laurea.
 </li><li>R: Ricerca.
</li></ul>
<p>NOTA: come si vede i livelli <em>elementare</em> e <em>secondario</em> non
  combaciano esattamente con la struttura italiana (ad esempio la quinta
  superiore/maturitÓ corrisponde al livello H6).</p>
