<h2>Metodi speciali</h2>
Il comando <span class="tt wims_code_words">\special{...}</span> nell'enunciato
di un esercizio (<span class="tt wims_code_words">statement</span>)
permette di utilizzatre i metodi seguenti:
