
!form renew
<table class="wimsnoborder">
<tr><td nowrap>Formule =
</td><td class="nowrap"><textarea rows="4" cols="40" name="formula" wrap="off">$formula</textarea>
</td></tr><tr><td class="nowrap">
Opération =
</td><td class="nowrap"><input size="20" name="operation" value="$operation" />
</td></tr><tr><td colspan="2">
<input type="submit" value="Envoyer" />
</td></tr><tr><td class="nowrap">
Formule2 = <td class="nowrap"><input size="40" name="formula2" value="$formula2" />
</td></tr><tr><td class="nowrap">
Option = <td class="nowrap"><input size="40" name="option" />
</td></tr><tr><td class="nowrap" colspan="2">
variable = <input size="4" name="variable" />
range1 = <input size="5" name="range1" />
range2 = <input size="5" name="range2" />
</td></tr></table>
!formend
