!set wims_module_log=$operation error: $error

<span class="wims_warning">$wims_name_warning</span>
!goto $error

:bad_formula
 Your data contain errors or are incompatible with the operation
 <em>$operation</em>. Please verify your request.
!goto end

:bad_option
 Your request option is not valid. Please verify it.
!goto end

:bad_range
 Your variable ranges are not valid. Please correct them.
!goto end

:empty_data
 Please complete data for your computation request.
!goto end

:fail
 Sorry, Wcalc is unable to complete your requested computation. Please verify
 your data.
!goto end

:incompatible_sides
 There is no triangle with three sides $formula.
!goto end

:not_square_matrix
 Please enter a square matrix for the computation of
 <span class="wims_warning">$operation</span>.
!goto end

:solve_fail
 No solution has been found.
!goto end

:unknown_operation
 The operation <span class="wims_warning">$operation</span> is not (yet)
 understood by this calculator. Sorry.
!goto end

:end

