
<hr>
!form reply

!!reset table_center

$table_header
  <head>
  <caption>$name_enter (/ $maxscore): </caption>
  !set t_=!item $cc of $titles
  !set w_=!item $cc of $weights
  !default w_=1
  $table_hdtr
    <td style="text-align:right">
      <label for="">$wims_name_title</label>
      =
      <input size="15" name="title" value="$t_" id="title">
    </td>
    <td>$name_weight=<input size="3" name="weight" value="$w_"></td>
  </tr>
  </head>
  <body>
  !for u=1 to $ucnt
    !set n_=!item $u of $ulist
    !set u_=!positionof item $n_ in $uulist
    !if $u_>0
      !set s_=!record $u_+1 of wimshome/log/classes/$wims_class/.grades
      !set c_=!item $cc+2 of $s_
    !else
      !set c_=
    !endif
    !set f_=!item $u of $flist
    !set l_=!item $u of $llist
    <tr>
      <td><label for="c$u">$l_, $f_</label></td>
      <td><input size="6" name="c$u" value="$c_" id="c$u"></td>
      !reset c$u
    </tr>
  !next u
  </body>
$table_end
<div class="formHelp">$name_todeletescore</div>

<p class="wimscenter wimsform">
<input type="submit" name="reg" value="$wims_name_tosave">
</p>
!formend

